<html>
    <head>
        <title>
            UCC Bwaise
        </title>  
    </head>
    <body>
        
            <h3>Building Update</h3> 
            
            <h4>Dear <b style="color:green">{{ firstname }}  {{ lastname }}  , </b></h4>
            
            We want to bless God for thus far he as brought us.<br>
    
            Our floor is about to be complete with just a small portion left.<br>
            
        
            The church administration encourages everyone who has a pledge to fulfill it so that we can complete this remaining part.<br>
            
            Once again we want to thank you for supporting the ministry in whichever way.<br>
            
            We believe the God who started the good work at UCC Bwaise will surely accomplish it using you and me.
       
 
    </body>
    
    
</html>






