{% load static contact_tags page_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap4 %} {# import bootstrap4/bootstrap3 #}
    {% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
    {{ form.media }} {# Adds date-picker required JS and CSS #}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <link rel="shortcut icon"  href="{% static 'img/uccb.jpg' %}"/>
            <!-- Meta, title, CSS, favicons, etc. -->
            <meta charset="utf-8">
            <meta charset="ISO-8859-15">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock meta %}

        <title>UCC - Bwaise</title>
        
        {% block stylesheets %}
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/front/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/front/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/front/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/front/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/front/meanmenu.css' %}">
        <link rel="stylesheet" href="{% static 'css/front/jquery.fancybox.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/front/theme/slate-gray.css' %}">
        <link rel="stylesheet" href="{% static 'css/front/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/jazzberry-jam.css' %}"> -->
        <script src="{% static 'js/front/jquery-ui.js' %}"></script>
        <script src="{% static 'js/jquery.validate.js' %}"></script>
        {% endblock stylesheets %}
        
              <style>
              .carousel-inner img {
                  width: 100%;
                  height: 100%;
              }
              </style>

    {% endblock head %}

</head>
<body>

<header>
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12 col-12 hta-left">
                    <div class="hta-box">
                        <p class="text"><b>UCC Bwaise</b></p>
                    </div>
                    <div class="hta-box">
                        <span class="icon"><i class="fa fa-phone"></i></span>
                        <p class="text">Call us : {% phone_number %} </p>
                    </div>
                    <div class="hta-box">
                        <span class="icon"><i class="fa fa-envelope"></i></span>
                       <p class="text">Email us : {% email_address %} </p>
                    </div>

                </div>
                 
                    {% if request.user.is_authenticated %}                    
                        <div class="hta-box">
                            <span style="font-weight:120%; color: white"> {{request.user.full_name.Initials}} {{request.user.full_name}}</i></span>
                            <a class="text btn btn-primary" href="{% url 'logout' %}"><span class="fa fa-sign-out">Log Out</span></a>
                        </div>
                    {% else %}
                        <div class="hta-box">
                            <span class="icon"><i class="fa fa-group"></i></span>
                            <p class="text">Membership : <a class="text btn btn-success" href="{% url 'online_registration' %}">Register</a></p>
                        </div>
                        <div class="hta-box">                            
                            <a class="text btn btn-primary" href="{% url 'login' %}"><span class="fa fa-sign-out">Log In</span></a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1">
                    <div class="logo">
                        <a href="{% url 'index_public' %}">
                            <img src="{% static 'img/uccb.jpg' %}"
                                 alt=""/>
                        </a>

                    </div>
                </div>
                <div class="col-lg-11" style="margin-right: -5%">
                    <div class="menu">
                        <nav id="mobile_menu_active">
                            <ul id="menu" >
                                <li><a href="{% url 'index_public' %}">Home</a></li>
                                <li><a href="#">About Us <span class="icon fa fa-chevron-down"></span></a>
                                    <ul class="drop">
                                        <li><a href="{% url 'abouts_vision' %}">Vision</a></li>
                                        <li><a href="{% url 'abouts_mission' %}">Mission</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Staff <span class="icon fa fa-chevron-down"></span></a>
                                    <ul class="drop">
                                        <li><a href="{% url 'church_pastors' %}">Pastoral</a></li>
                                        <li><a href="{% url 'church_administration' %}">Administrative</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Ministries <span class="icon fa fa-chevron-down"></span></a>
                                    <ul class="drop">
                                        <li><a href="#">Children's Ministry</a></li>
                                        <li><a href="#">Youth's Ministry</a></li>
                                        <li><a href="#">Evangelism Ministry</a></li>
                                        <li><a href="#">Married's Ministry</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Projects</a></li>
                                <li><a href="https://www.youtube.com/channel/UCFMCB_zTwBQNunbpjBsPcSw/videos" target="_blank">Youtube Channel</a></li>
                                <li><a href="{% url 'event_wall' %}">Events</a></li>
                                <li><a href="{% url 'gallery_wall' %}">Gallery</a></li>
                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                {% if request.user.is_authenticated %}   
                                <li> <a class="text btn btn-warning" href="{% url 'index' %}"><span class="fa fa-share"></span> Church System</a>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                 <!--fade up notification upon successful redirect-->
            {% if messages %}
            <div class="col-lg-6" style="float: right">
                <div class="alert alert-info" id="success-alert">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <ul>
                        {% for message in messages %}
                        <h1 style="font-weight: bolder" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h1>
                        {% endfor %}
                    </ul>
               </div>
            </div>       
           {% endif %} 
            </div>
        </div>
    </div>

</header>
<div class="container-fluid">
{% block content %}
{% endblock content %}
{% include "home/scripts.html" %}

<!-- footer content -->

<footer>
    <div class="footer-top-area" id="program">
        <div class="containerfluid">
            <div class="row">
                <div class="col-lg-7">
                    <div class="footer-widget">
                        <h2 class="fw-title" style="text-align: center"><span > UCC Bwaise Weekly Services</span></h2>
                        <p class="text" >
                            <style type="text/css">
                                b{
                                    font:500px;
                                }
                            </style>
                            <div class="col-lg-6" style=" color: white">
                               <b><u>Monday</u></b><br>
                                Prayer Alter (10:00am - 4:00pm)<br>
                                Ministers (6:00am - 8:00pm)<br>
                                Youth Service (7:00pm - 9:30pm)<br>
                                <b><u>Tuesday</u></b><br>
                                Home Cells (5:00pm - 8:00pm)<br>
                                <b><u>Wednesday</u></b><br>
                                Revival Service (5:00pm - 8:00pm)<br>

                                <b><u>Thursday</u></b><br>
                                    Counselling (10:00pam - 5:00pm)<br>  
                            </div>
                                <div class="col-lg-6" style=" color: white">
                                    <b><u>Friday</u></b><br>
                                     Bible Study (5:00pm - 7:00pm)<br>
                                     Night Prayer (7:00pm - 11:00pm)<br>
                                    <b><u>Saturday</u></b><br>
                                    Choir Practices<br>
                                    <b><u>Sunday</b></u><br>
                                    First Service (6:30am - 9:00am)</br>
                                    Second Service (9:00am - 11:00am)</br>
                                    Third Service (11:00am - 2:30pm)</br> 
                                    Youths Practices (5:30pm - 7:30pm)</br>
                                </div>

                        </p>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h2 class="fw-title"><span>Quick Link:</span></h2>
                        <ul class="links">
                            <li><a href="#">News</a></li>
                            <li><a href="#">Notice</a></li>
                            <li><a href="#">Event</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Members</a></li>
                        </ul>
                    </div>
                </div>
               
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h2 class="fw-title">Get in Touch</h2>
                        <ul class="address">
                            <li><span class="icon"><i class="fa fa-phone"></i></span>
                                {% phone_number %}
                                
                            </li>
                            <li><span class="icon"><i class="fa fa-envelope"></i></span>
                               {% email_address %} 
                            </li>
                            <li><span class="icon"><i class="fa fa-map-marker"></i></span>
                               {% church_address %} 
                            </li>
                            <li> <span class="icon"><i class="fa fa-pencil"> P.O.Box</i></span>
                               {%Post_Office_Box %} 
                            </li>
                        </ul><br>
                           <ul class="social">
                            <li><a href="{% facebook %}" target="_blank"><i
                                    class="fa fa-facebook"></i></a></li>
                            <li><a href="{% youtube%}" target="_blank"><i
                                    class="fa fa-youtube"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container text-center">

            <p class="copyright">
                {% church_footer %} &copy;2001<script>new Date().getFullYear()>2010&&document.write(" - "+new Date().getFullYear());</script>| 
                    Website Developed by<a href="https://mugoyadihfahsih.000webhostapp.com"> <b style="font-size: 90%; color: yellow"> Mugoya Dihfahsih</b></a>
                
            </p>
        </div>
    </div>
</footer>
</div>

<!-- /footer content -->
<!-- Scripts -->
<script src="{% static 'vendors/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/counterup.min.js' %}"></script>
<script src="{% static 'js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

</body>
</html>

