{% extends 'home/base.html' %}
{% load static contact_tags %}
<body>

{% block content %}
 <h1 style="text-align:center" class="title">Contact us at UCC Bwaise</h1>
   <hr>

    <section>
        <div class="container text-center">
            <style type="text/css">
                .remove {
                    font-weight: bold;
                    font-size: 12px;
                    cursor: pointer;
                    float: right;
                }

                #message_div {
                    padding: 6px 10px 6px 10px;
                    margin-bottom: 10px;
                    margin-top: 20px;
                    background: #01b5ef;
                    font-weight: bold;
                    text-align: left;
                    border-radius: 5px;
                    color: #fff;
                }
            </style>


            <script type="text/javascript">
                $(function () {
                    $('#message_div').delay(10000).fadeOut();
                    $('.remove').click(function () {
                        $('#message_div').hide();
                    });
                });
            </script>
        </div>
    </section>

    <section class="page-contact-area">
        <div class="container">
            <!--<div id="mymap"> </div>-->
            <div class="row">
                 <div class="col-lg-12 col-12">
                    <iframe src="{% church_map %}" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    
                 </div>
             </div>    
            <div class="row">
              <div class="col-lg-6 col-12">
                    <div class="contact-form-area">
                        <h2 class="contact-page-title">Contact Us</h2>

                        <form action="" method="POST" id="contact_us" name="contact_us">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="contact-input-box">
                                        <input type="text" name="name" id="name" required placeholder="Name *">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="contact-input-box">
                                        <input type="email" name="email" id="email" required placeholder="Email *">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="contact-input-box">
                                        <input type="text" name="phone" id="phone" placeholder="Phone" required>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="contact-input-box">
                                        <input type="text" name="subject" id="subject" placeholder="Subject" required>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="contact-input-box">
                                    <textarea name="message" id="message" required placeholder="Message *"></textarea>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="contact-input-box text-right">
                                        <input class="glbscl-link-btn hvr-bs" type="submit" name="submit" id="submit"
                                               value="Submit">
                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>
              </div>
               
                <div class="col-lg-6 col-12">
                    <h2 class="contact-page-title">Get in Touch</h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="single-contact-info">
                                <span class="icon"><i class="fa fa-map-marker"></i></span>
                                <p class="info">
                                    {% church_address %} </p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="single-contact-info">
                                <span class="icon"><i class="fa fa-envelope"></i></span>
                                <a class="info" href="mailto:{% email_address %}">Email: {% email_address %}</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="single-contact-info">
                                <span class="icon"><i class="fa fa-phone"></i></span>
                                <a class="info" href="tel:{% phone_number %}">Phone: {% phone_number %}</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="single-contact-info">
                                <span class="icon"><i class="fa fa-fax"></i></span>
                                <p class="info">Fax: {% Post_Office_Box %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        function myMap() {
            var myCenter = new google.maps.LatLng({% church_latitude %}, {% church_longitude %});
            var mapCanvas = document.getElementById("mymap");
            var mapOptions = {center: myCenter, zoom: 16};
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({position: myCenter});
            marker.setMap(map);

            var contentString = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h3 id="firstHeading" class="firstHeading">{% church_name %}</h3>' +
                '<div id="bodyContent">' +
                '<p><b>Address:</b> {% church_address %}<br/>' +
                '<b>Phone:</b> {% phone_number %}<br/> ' +
                '<b>Email:</b> {% email_address %}<br/>' +
                '<b>Fax:</b> {% Post_Office_Box %}<br/>' +
                '</p>' +
                '</div>' +
                '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            infowindow.open(map, marker);
        }

        $('#contact_us').validate();
    </script>


    <style type="text/css">
        label.error {
            color: red;
        }
    </style>        <!-- /page content -->


{% endblock %}

</body>

