
{% extends 'home/base.html' %}

{% load static contact_tags slider_tags %}
{% block content %}

<div class="container-fluid" style="background-color: white;">
<!--Use the Banner instead of the slider-->
{% comment %}
    <div class="row">
        {% for about in abouts %}
            {% if about.banner %}
                    <img src="{{ about.banner.url }}">
                {% endif %}
        {% endfor %}
    </div>
{% endcomment %}

<!--Top Slider -->
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="slider-area owl-carousel">
                <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" 
                style="height:430px;background-image: url('{% sliding_image1 %}')" >
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hero-slides-content">
                                    <h3 data-animation="fadeInUp" data-delay="100ms"  style="color:white;">YOU ARE WELCOME TO</h3>
                                    <h2 data-animation="fadeInUp" data-delay="200ms" style="color:white;">UNITED CHRISTIAN CENTER Bwaise</h2>
                                    <h3 data-animation="fadeInUp" data-delay="300ms" style="color:white;">Where we discover and do the will of God in our lives</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" 
                style="height:430px; background-image: url('{% sliding_image3 %}');">
                    <!-- Post Content -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hero-slides-content">
                                    <h3 data-animation="fadeInUp" data-delay="100ms" style="color:white;">Church Mission</h3>
                                    <h2  data-animation="fadeInUp" data-delay="130ms" style = "color:white">Why Are You Alive</h2>
                                    <a href="{% url 'abouts_mission' %}" class="btn crose-btn" data-animation="fadeInUp" data-delay="700ms">find out More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" 
                style="background-image: url('{% sliding_image2 %}');height:430px;">
                    <!-- Post Content -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hero-slides-content">
                                    <h3 data-animation="fadeInUp" data-delay="100ms" style="color:white;"> Church Vision</h3>
                                    <h2 data-animation="fadeInUp" data-delay="110ms" style="color:white;"> Discovering and Doing God's will(1 John 2:15-17)</h2>
                                    <a href="{% url 'abouts_vision' %}" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">find out More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

<!--About Church with sliding Images-->
        <div class="row" style="margin-top:-1%">
            <div class="col-lg-12">
                {% for about in abouts %}
                    {% if about.id == 3 %}
                        <span class="info" >
                            <p style="font-size:18px">{{ about.about|linebreaksbr|truncatewords:50 }}
                            <a href="{% url 'church_details'%}"><b>... Read More about UCC Bwaise</b></a></p>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    <br>

<!--Church Highlights Section-->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="title" style="text-align: left;"><a class="link glbscl-link-btn hvr-bs" href="{% url 'news_wall' %}">Gospel Teachings</a></h2> <br>
                <div class="col-lg-7">
                    <div class="gallery-carousel owl-carousel">    
                        {% for news in news %}
                            <a href="{% url 'news_detail' news.pk %}">
                                <div class="single-gallery">
                                    {% if news.image %}
                                    <img src="{{ news.image.url }}" alt="">
                                    {% endif %}
                                    <div class="content">
                                        <ul class="meta">
                                            <li class="info"><span class="icon"><i class="far fa-calendar-alt"></i></span>
                                                {{ news.date }}
                                            </li>
                                        </ul>
                                        {{ news.news_title|truncatewords:5 }}
                                    </div>
                                </div> 
                            </a>
                        {% endfor %}
                    </div> 
                </div>

                <div class="col-lg-5"> 
                    <b style="font-size:19px; text-align: right;"><a href="{% url 'news_wall' %}">Latest Gospel Teaching</a></b> <br>
                    
                    <div class="container-fluid">
                        <a href="{% url 'news_detail' gospel.pk %}">
                            <div class="col-lg-12">
                                <div class="single-news" style="height: 250px">
                                    <div class="img" style="height: 100px">
                                        {% if gospel.image %}
                                        <img src="{{ gospel.image.url }}" alt="imagegrouped">
                                        {% endif %}
                                    </div>
                                    <div class="content">
                                        <ul class="meta">
                                            <li class="info"><span class="icon"><i class="fa fa-user"></i></span>By :
                                                {{ gospel.author.full_name.Initials }} {{ gospel.author.full_name }} - {{ news.author}}
                                            </li>
            
                                            <li class="info"><span class="icon"><i class="far fa-calendar-alt"></i></span>
                                                {{ gospel.date }}
                                            </li>
                                        </ul>
                                        <h2 class="title">{{ gospel.news_title }}</h2>
                                        <p style="font-size: 18px">
                                            {{ gospel.news|linebreaksbr|truncatewords:10}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

<!--Church Activities -->       
        <div class="row" style="margin-top:-3%">
            <div class="col-lg-12">
                <h2 class="title" style="text-align: center;"><a class="link glbscl-link-btn hvr-bs" href="{% url 'event_wall' %}">
                    Church Activities</a>
                </h2><br>
                <div class="container-fluid">
                    <div class="row" style="margin-left:2px">{% for event in events %}{% if forloop.counter <= 3 %}
                        <div class="col-lg-4">
                            <a href="{% url 'event_detail' event.pk %}">
                                <div class="single-event" style="margin-left: -8%">
                                    <div class="img">
                                        {% if event.image %}
                                            <img src="{{ event.image.url }}"
                                                alt="">
                                        {% endif %}
                                    </div>
                                    <div class="content">
                                        <h2 class="title">{{ event.event_title }}
                                        </h2>
                                        <!-- <ul class="list">
                                            <li class="info"><span class="icon"><i style="color:black"
                                                    class="fa fa-user"></i></span>Leader: {{ event.event_for }}
                                            </li>
                                            <li class="info"><span class="icon"><i style="color:black"
                                                    class="fa fa-calendar"></i></span> Start Date: {{ event.from_date }}
                                                
                                            </li>
                                            <li class="info"><span class="icon" ><i style="color:black"
                                                    class="fa fa-calendar"></i></span>End Date:{{ event.to_date }}
                                                
                                            </li>
                                            <li class="info"><span class="icon"><i style="color:black"
                                                    class="fa fa-map-marker"></i></span>{{ event.event_place }}
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>{% endif %}{% endfor %}
                    </div>
                </div>  
            </div> 
        </div>


<!-- Church Members -->
    <div class="row" style="margin-top:-1%">
        <div class="col-lg-12" >
            <h2 class="title" style="text-align: center;"> <a class="link glbscl-link-btn hvr-bs" href="{% url 'membership_wall' %}">Church Members</a></h2><br>
                      
            <div class="row justify-content-center" style="width:97.5%;margin-left:2px">
                <div class="gallery-carousel owl-carousel">{% for member in members %} {% if forloop.counter <= 20 or member.full_name == "Desire Namuganyi" %}{% if member.Initials != 'Pr.'%} 
                    <a href="{% url 'member-detail' member.id %}">                
                        <div class="single-gallery">
                            {% if member.Photo %}
                                <img src="{{ member.Photo.url }}" data-fancybox="images" style="border-radius: 40%; height: 220px" >
                            {% endif %} 
                            <span style="text-align: left;">
                                <h2> {{member.Initials}} {{member.First_Name}} {{member.Second_Name}}</h2>
                                <div class="text">Group: {{member.Group}}</div>
                                <div class="text">Home Cell: {{member.Home_Cell}}</div>
                            </span>
                        </div> 
                    </a>{% endif %}{% endif %}{% endfor %}
                </div>
            </div>
        </div>    
    </div>

<!--Church Feedback-->
    <div class="row"style="margin-top:-3%"> 
        <div class="col-lg-12">
            <div class="col-lg-9">
            <h2 class="title" style="text-align: center;"> <a class="link glbscl-link-btn hvr-bs">We would like to hear from You</a></h2>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 testimonial-area">
                            <div class="col-lg-12" style="height: 250px">
                                <div class="testimonial-carousel owl-carousel">
                                    {% for data in feeback %}
                                        {% if forloop.counter <= 15 %}
                                        <div class="single-testimonial" style="border: 2px solid">
                                            <div class="content"  style="height: 250px">
                                                <h2 class="name">{{data.name}}</h2>
                                                <p style="font-size: 20px;"> {{data.feedback|truncatewords:20}}</p>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-form-area"><br><br><br>
                                <form action="{% url 'contact' %}" method="POST" id="contact_us" name="contact_us">
                                    {% csrf_token %}
                                    <div class="row">
                                        {% if request.user.is_authenticated %}
                                        <div class="col-lg-12">
                                            <div class="contact-input-box" id="usename">
                                                <input type="text" name="name" value="{{ request.user.full_name }}" readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="contact-input-box">
                                                <textarea style = 'text-align: left;'name="feedback" id="message" required placeholder="Feed Back">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="contact-input-box text-right">
                                                <input class="glbscl-link-btn hvr-bs" type="submit" name="submit" id="submit"
                                                    value="Submit">
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="col-lg-12">
                                            <div class="contact-input-box">
                                                <input type="text" name="name" id="name"  placeholder="Name" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="contact-input-box">
                                                <input type="email" name="email" id="email"  placeholder="Email" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="contact-input-box">
                                                <input type="text" name="phone" id="phone" placeholder="Phone" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 ">
                                            <div class="contact-input-box">
                                                <textarea name="feedback" id="message" required placeholder="Feed Back *">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="contact-input-box text-right">
                                                <input class="glbscl-link-btn hvr-bs" type="submit" name="submit" id="submit"
                                                    value="Submit">
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>    
        </div>
        <div class="col-lg-3">
            <h2 class="head-title" style="text-align:center">Social Media Feeds</h2>
            <br>
        
            <div class="fb-page" data-href="https://www.facebook.com/uccbwaise1/" data-tabs="timeline" data-height="167"
                data-small-header="true" data-hide-cover="true" data-show-facepile="false">
                <span cite="https://www.facebook.com/uccbwaise1/" class="fb-xfbml-parse-ignore"><a
                        href="https://www.facebook.com/uccbwaise1/">UCC Bwaise on Facebook</a></span>
            </div><br><br>
            <hr>
            <a class="twitter-timeline" data-height="167" href="https://twitter.com/1Difas?ref_src=twsrc%5Etfw">Tweets by UCC Bwaise
                </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <!--Website Footer-->
</div>
</div>
{% endblock %}
<script type="text/javascript"> 
    document.getElementById('username').readOnly = true;
</script>
