
{% extends 'home/base.html' %}

{% load static contact_tags  %}
{% block content %}

<div class=" container justify-content-center" style="max-width: 1333px; background-color:ivory;">
 <!--  <div class="slider-area owl-carousel">
    {% for slider in sliders %}
        <div class="single-slider" style="height: 400px;width:100%" >
            <div class="img">
                {% if slider.slider_image %}
                    <img src="{{ slider.slider_image.url }}" alt="">
                {% endif %}
            </div>
            
        </div>
    {% endfor %}
    </div> url({% static 'img/welcome.jpg'%}) -->

    <div class="row" >
      <div class="slider-area owl-carousel">
        <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" 
        style="height:430px;background-image: url({% static 'img/welcome.jpg' %})" >
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h3 data-animation="fadeInUp" data-delay="100ms"  style="color:white;">YOU ARE WELCOME TO</h3>
                            <h2 data-animation="fadeInUp" data-delay="200ms" style="color:white;">UNITED CHRISTIAN CENTER Bwaise</h2>
                            <h3 data-animation="fadeInUp" data-delay="300ms" style="color:white;">Where we discover and do the will of God in our lives</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" 
         style="height:430px; background-image: url({% static 'img/w3.jpg'%});">
            <!-- Post Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h3 data-animation="fadeInUp" data-delay="100ms" style="color:white;">Church Mission</h3>
                            <h2  data-animation="fadeInUp" data-delay="130ms" style = "color:white">Why Are You Alive</h2>
                            <a href="{% url 'abouts_mission' %}" class="btn crose-btn" data-animation="fadeInUp" data-delay="700ms">find out More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" 
         style="background-image: url({% static 'img/w4.jpg'%});height:430px;">
            <!-- Post Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h3 data-animation="fadeInUp" data-delay="100ms" style="color:white;"> Church Vision</h3>
                            <h2 data-animation="fadeInUp" data-delay="110ms" style="color:white;"> Discovering and Doing God's will(1 John 2:15-17)</h2>
                            <a href="{% url 'abouts_vision' %}" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">find out More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide 
        <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" 
        style="background-image: url({% static 'img/welcome.jpg'%});height:430px;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">Who Are You</h2>
                            <h3 data-animation="fadeInUp" data-delay="120ms" style="color:white;">I am saved by God’s grace, raised up with Christ and seated with Him in heavenly places (Ephesians 2:5-6; Colossians 2:12).</h3>              
                            <a href="#" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">find out More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
      </div>
    </div>

<!------------------------------------------- About Church Section -------------------------------------------------->
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title text-center">
                <h1 class="title"><span class="inner" style="font-size:4vw">{% church_name %} </span></h1><br>
                <a href="{% url 'abouts_vision' %}">
                    <h3 class="head-title" style="font-size:4vw"><span class="inner"> VISION: </span>{% church_vision %}</h3>
                </a>
                <br>
                <a href="{% url 'abouts_mission' %}">
                    <h4 class="head-title" style="font-size:4vw"><span class="inner"> MISSION: </span>{% church_mission %}</h4><br><span style="font-size:3vw; padding-top:50%">( lwaki oli mulamu? )</span>
                </a>
            </div>
        </div>
    </div>
<hr />

<!-------------------------------------------About Church with sliding Images---------------------------------------------->
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6 ">
                {% for about in abouts %}
                {% if about.id == 3 %}
                <span class="info" >
                    <p style="font-size:20px">{{ about.about|truncatewords:100 }}</p>
                    <a href="{% url 'about_detail' about.pk %}"><b>... More</b></a>
                </span>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-lg-6 text-center">
                <section class="slider-area owl-carousel ">
                    {% for slider in sliders %}
                        <div class="single-slider">
                            <div class="img">
                                {% if slider.slider_image %}
                                    <img src="{{ slider.slider_image.url }}" alt="">
                                {% endif %}
                            </div>
                            <h2 class="title animated"> {{slider.image_title}} </h2>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
    <hr />

    <!-------------------------------------------Church Highlights Section--------------------------------------------->
    <div class="row" style="margin-right: 1px;">
        <div class="col-lg-12" style="background-color: #f3f0f0">
            <div class="section-title text-center">
                    <h2 class="title"><a class="link glbscl-link-btn hvr-bs" href="{% url 'gallery_wall' %}">

                    Church  Highlights </a></h2>
            </div>
            <div class="row justify-content-center"style="width:97.5%; margin-left:2px">
                <div class="gallery-carousel owl-carousel">    
                    {% for image in images %} 
                    <a href="{% url 'image_view' image.pk %}">
                    <div class="single-gallery" >
                       
                            {% if image.gallery_image %}
                                <img src="{{ image.gallery_image.url }}" data-fancybox="images" alt="" style="height: 210px;">
                            {% endif %} 
                            
                    </div> 
                    <span class="content">
                        <p style="font-size:20px">{{ image.image_caption|truncatewords:3 }}</p>
                    </span>
                    </a>
                    {% endfor %}
                </div> 
            </div>
        </div>
    </div>
    <hr />

    <!---------------------------------------GOSPEL SERMONS-------------------------------------->
    <div class="row" style="margin-right: 1px;">
        <div class="col-lg-12" style="background-color: #f3f0f0" >
            <div class="section-title text-center">
                <h2 class="head-title"> <a class="link glbscl-link-btn hvr-bs" href="{% url 'news_wall' %}"> Latest Gospel Sermons</a></h2>
            </div>
            <div class="container-fluid">
                {% for news in news %} {% if forloop.counter <= 3 %}
                    <a href="{% url 'news_detail' news.pk %}">
                        <div class="col-lg-4" style="margin-left: -1%;">
                        <div class="single-news">
                            <div class="img" style="height: 180px">
                                {% if news.image %}
                                    <img src="{{ news.image.url }}"
                                        alt="">
                                {% endif %}
                            </div>

                            <div class="content">
                                <ul class="meta">
                                    <li class="info"><span class="icon"><i class="fa fa-user"></i></span>By :
                                    {{ news.author.full_name.Initials }} {{ news.author.full_name }} - {{ news.author}}
                                    </li>

                                    <li class="info"><span class="icon"><i class="far fa-calendar-alt"></i></span>
                                        {{ news.date }}
                                    </li>
                                </ul>

                                <h2 class="title">{{ news.news_title }}</h2>

                                <p class="text">
                                {{ news.news|truncatewords:20|linebreaks }}
                                </p>

                            </div>
                        </div>
                    </div></a>
                {% endif %}{% endfor %}
            </div>
        </div>    
    </div>  
    <hr/>

    <!---------------------------------------- Church Activities ------------------------------------------>       
    <div class="row" style="margin-right: 1px;">
        <div class="col-lg-12" style="background-color: #f3f0f0">
            <div class="section-title text-center">
                <h2 class="title"><a class="link glbscl-link-btn hvr-bs" href="{% url 'event_wall' %}">
                Church Activities</a></h2>
            </div>
            <div class="container-fluid">
                <div class="row" style="margin-left:2px">{% for event in events %}{% if forloop.counter <= 3 %}
                    <div class="col-lg-4">
                        <a href="{% url 'event_detail' event.pk %}">
                            <div class="single-event" style="margin-left: -8%">
                                <div class="img">
                                    {% if event.image %}
                                        <img src="{{ event.image.url }}"
                                            alt="">
                                    {% endif %}
                                </div>
                                <div class="content">
                                    <h2 class="title">{{ event.event_title }}
                                    </h2>
                                    <ul class="list">
                                        <li class="info"><span class="icon"><i
                                                class="fa fa-user"></i></span>Leader: {{ event.event_for }}
                                        </li>
                                        <li class="info"><span class="icon"><i
                                                class="fa fa-calendar"></i></span> Start Date: {{ event.from_date }}
                                            
                                        </li>
                                        <li class="info"><span class="icon"><i
                                                class="fa fa-calendar"></i></span>End Date:{{ event.to_date }}
                                            
                                        </li>
                                        <li class="info"><span class="icon"><i
                                                class="fa fa-map-marker"></i></span>{{ event.event_place }}
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </a>
                    </div>{% endif %}{% endfor %}
            
                    <!-- <div class="col-lg-4">
                        <a href="#program">
                        <div class="single-event">
                            <div class="content">
                                <h2 class="head-title"><u>Church Weekly Program</u>
                                </h2>
                                <ul class="list">
                                    <li class="info"><b>Monday </b>
                                    <ul>   
                                    <li>Prayer Alter (9:00am - 4:00pm)</li>
                                    <li>Youth Service (7:00pm - 9:30pm)</li>
                                    </ul>
                                    </li>
                                    <li class="info"><b>Tuesday </b>
                                    <ul>
                                    <li>Home Cell Fellowships (5:00pm - 8:00pm)</li>
                                    </ul>
                                    </li>
                                    <li class="info"><b>Wednesday </b>
                                    <ul>
                                    <li>Revival Service (5:00pm - 8:00pm)</li>
                                    </ul> 
                                    </li>
                                    <li class="info"><b>Thursday </b>
                                        <ul>
                                        <li>Counselling and Guidance (9:00am - 4:00pm)</li>
                                        </ul>
                                    </li>
                                    <li class="info"><b>Friday </b>
                                    <ul>
                                        <li>Bible Study (5:00pm - 7:00pm)</li>
                                        <li>Prayer Night (8:00pm - 11:00pm)</li>
                                    </ul>
                                    </li>
                                    <li class="info"><b>Saturday </b><br>
                                        <ul>
                                        <li>Practices (9:00am - 4:00pm)</li>
                                        </ul>
                                    </li>
                                    <li class="info"><b>Sunday </b>
                                        <ul>
                                        <li>First Service (6:30am - 9:00am)</li>
                                        <li>Second Service (9:00am - 11:00am)</li>
                                        <li>Third Service (11:00am - 2:30pm)</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                    </a></div> -->
                </div>
            </div>  
        </div> 
    </div>
<hr/>

<!------------------------------------------------ Church Members ----------------------------------------------->
    <div class="row" style="margin-right: 1px;">
        <div class="col-lg-12" style="background-color: #f3f0f0">
            <div class="section-title text-center">
                <h2 class="title"> <a class="link glbscl-link-btn hvr-bs" href="{% url 'membership_wall' %}">Church Members</a></h2>
            </div>            
            <div class="row justify-content-center" style="width:97.5%;margin-left:2px">
                <div class="gallery-carousel owl-carousel">{% for member in members %} {% if forloop.counter <= 20 or member.full_name == "Desire Namuganyi" %}{% if member.Initials != 'Pr.'%} 
                    <a href="{% url 'member-detail' member.id %}">                
                        <div class="single-gallery">
                            {% if member.Photo %}
                                <img src="{{ member.Photo.url }}" data-fancybox="images" style="border-radius: 40%; height: 220px" >
                            {% endif %} 
                            <span style="text-align: left;">
                                <h2> {{member.Initials}} {{member.First_Name}} {{member.Second_Name}}</h2>
                                <div class="text">Group: {{member.Group}}</div>
                                <div class="text">Home Cell: {{member.Home_Cell}}</div>
                            </span>
                        </div> 
                    </a>{% endif %}{% endif %}{% endfor %}
                </div>
            </div>
        </div>    
    </div>
    <hr />

    <!-----------------------------------------Church Feedback------------------------------------------------->
    <div class="row" style="margin-right: 1px;"> 
        <div class="col-lg-12" style="background-color: #f3f0f0">
            <div class="section-title text-center">
                <h2 class="title"> <a class="link glbscl-link-btn hvr-bs" href="#">Church Feedback</a></h2>
            </div>
            <div class="col-lg-12">
                <div class="row">
                <div class="col-lg-5 testimonial-area" style="margin-right: 12px">
                    <div class="col-lg-12" style="height: 250px">
                        <div class="testimonial-carousel owl-carousel">
                            {% for data in feeback %}
                            {% if forloop.counter <= 5 %}
                            <div class="single-testimonial">
                                <div class="content"  style="height: 250px">
                                    <h2 class="name">{{data.name}}</h2>
                                    <p> {{data.feedback}}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form-area">
                        <h1 class="head-title">We would like to hear from You</h1>
                        <form action="{% url 'contact' %}"
                              method="POST"
                              id="contact_us"
                              name="contact_us">
                            {% csrf_token %}
                            <div class="row">
                                {% if request.user.is_authenticated %}
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="contact-input-box" id="usename">
                                        <input type="text" name="name" value="{{ request.user.full_name }}" readonly="true">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="contact-input-box">
                                        <textarea style = 'text-align: left;'name="feedback" id="message" required="required"
                                              placeholder="Feed Back">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="col-12" style="margin-top: -7%">
                                    <div class="contact-input-box text-right">
                                        <input class="glbscl-link-btn hvr-bs" type="submit" name="submit" id="submit"
                                               value="Submit">
                                    </div>
                                </div>
                                {% else %}
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="contact-input-box">
                                        <input type="text" name="name" id="name" 
                                               placeholder="Name" required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="contact-input-box">
                                        <input type="email" name="email" id="email" 
                                               placeholder="Email" required="required">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="contact-input-box">
                                        <input type="text" name="phone" id="phone" placeholder="Phone" required="required">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="contact-input-box">
                                        <textarea name="feedback" id="message" required="required"
                                              placeholder="Feed Back *">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="contact-input-box text-right">
                                        <input class="glbscl-link-btn hvr-bs" type="submit" name="submit" id="submit"
                                               value="Submit">
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr/>
    
    <!------------------------------------------------Website Footer----------------------------------------------->
</div>
<hr />
{% endblock %}
<script type="text/javascript"> 
    document.getElementById('username').readOnly = true;
</script>
