{% extends 'home/base.html' %}
<body>

{% block content %}
   <h1 style="text-align:center" class="title">Your Profile</h1>
   <hr>
    <section class="page-event-area" style="margin-top:-5%">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 jumbotron">
                  <a href="{% url 'user_update' request.user.id %}">Complete Your Membership</a>
                </div>
                
            </div>
        </div>
    </section>

{% endblock %}
</body>
