

{% extends "app/base_site.html" %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1 style='text-align:center'><i class="fa fa fa-calendar-check-o"></i><b> THANKS GIVING OR LOVE OFFERING MODULE</b></h1>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content quick-link">
                    <span style="color:red"><b>Make Other Entries:</b></span>
                    <a href="{% url  'enter_expenditure' %}"> Main</a>
                    |<a href="{% url 'enter-general-expenses' %}"> General</a>
                    |<a href="{% url 'enter_sundryexpense' %}"> Petty</a>
                    |<a href="{% url 'record-cashfloat' %}"> Float</a>
                    |<a href="{% url 'Enter_Offerings' %}"> Offerings</a>
                    |<a href="{% url 'Enter_Tithes' %}"> Tithes</a>
                    |<a href="{% url 'Enter_Pledges' %}"> Pledges</a>
                    |<a href="{% url 'give-allowance' %}"> Allowances</a>
                    |<a href="{% url 'employee-list' %}"> Salaries</a>
                    |<a href="{% url 'record-donations' %}"> Doantions</a>
                    |<a href="{% url 'add-seeds' %}"> TGiving</a>
                    |<a href="{% url 'record-thanks-giving' %}"> TGiving</a>
                    |<a href="{% url 'members-register' %}"> Membership</a>
                    <div class="separator"></div>
                </div>
                
                <h1 style="text-align: center">Record Thanks Giving By a Member</h1>
                <div class="separator"></div>
                <div class="x_content">
                    <div class="" data-example-id="togglable-tabs">
                    <ul class="nav nav-tabs bordered">
                      <ul class="nav nav-tabs bordered">
                        <li role="presentation" ><a href="{% url 'thanks-giving-report' %}"><i class="fa fa-list-ol"></i>Thanks Giving Report</a>
                         </li>
                        <li role="presentation" class="active"><a href="{% url 'record-thanks-giving' %}"><i class="fa fa-plus-square-o"></i> Record Thanks Giving</a>
                        </li>
                        <li role="presentation"><a href="{% url 'thanksgivingarchivessearch'%}"><i
                              class="glyphicon glyphicon-king"></i> Thanks Givings Archived</a>
                        </li>
                    </ul>
                        <br/>
                        <div style="margin-left: 25%"class="col-lg-4 col-md-4 col-sm-4 justify-content-center">
                        {% load crispy_forms_tags %}
                            <form method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                {{ form.Date|as_crispy_field}}
                                {{ form.Member_Name|as_crispy_field}}
                                {{ form.Service|as_crispy_field}}
                                {{ form.Amount|as_crispy_field}}
                                <input type="hidden" id="thanks" name="Revenue_filter" value="thanks">
                            <button type="submit" class="btn btn-primary" name="button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}