{% load static %}
<div class="zegen-content-wrapper" id="sectioncontact">
    <div class="zegen-content zegen-page">
        <div class="header-slider-wrapper">
            <div class="zegen-content-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="primary" class="content-area clearfix">
                                <div id="page-6522" class="post-6522 page type-page status-publish hentry">
                                    <div data-elementor-type="wp-page"
                                         data-elementor-id="6522"
                                         class="elementor elementor-6522"
                                         data-elementor-settings="[]">
                                        <div class="elementor-inner">
                                            <div class="elementor-section-wrap">
                                                {% include "includes/homepage/contact-partials/section1.html" %}
                                                {% include "includes/homepage/contact-partials/section2.html" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "includes/homepage/contact-partials/form2.html" %}
</div>
</div>
</div>
</div>
</div>
