
{% extends "app/base_site.html" %}
{% block content %}
<head>
  <title>UCC Bwaise | Salaries Report as of {{day}}</title>
</head>
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa fa-calendar-check-o"></i><small> Manage Church Employee</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content quick-link">
                    <span style="color:red"><b>Other Reports:</b></span>
                        <a href="{% url  'expenditurereport' %}"> Main Expenses</a></li>
                        |<a href="{% url 'general-expenses-report' %}"> General Expenses</a></li>
                        |<a href="{% url 'Offeringsreport' %}"> Offerings</a></li>
                        |<a href="{% url 'Tithesreport' %}"> Tithes</a></li>
                        |<a href="{% url 'Pledgesreport' %}"> Pledges</a></li>
                        |<a href="{% url 'sundryreport' %}"> Petty Expenses</a></li>
                        |<a href="{% url 'allowancereport' %}"> Allowances</a></li>
                        |<a href="{% url 'current-month-salaries' %}"> Salaries</a></li>
                        |<a href="{% url 'donations-report' %}"> Doantions</a></li>
                        |<a href="{% url 'thanks-giving-report' %}"> ThanksGiving</a></li>
                    <div class="separator"></div>
                </div>
                    <h2 style="text-align: center">All salaries Paid in the month of {{mth}}</h2>
                    <h4 style="color: green; font-weight: 120%"><b>{{ message }}</b></h4>
          <div class="x_content">
            <div class="" data-example-id="togglable-tabs">
                <ul class="nav nav-tabs bordered">
                   <li role="presentation"><a href="{% url 'employee-list' %}"><i
                                class="fa fa-list-ol"></i> Employee List</a>
                    </li>
                    <li role="presentation"><a href="{% url 'employee-register' %}"><i
                                class="fa fa-plus-square-o"></i> Add Employees</a>
                     </li>
                    <li role="presentation" class="active"><a href="{% url 'current-month-salaries' %}"><i
                                class="fa fa-plus-square-o"></i> Salaries Paid Report</a>
                     </li>
                    <li role="presentation"><a href="{% url 'salariespaidarchivessearch' %}"><i
                                class="fa fa-plus-square-o"></i> Archived Salaries Paid Report</a>
                     </li> 
                </ul>
                <br/> 
               <div class="tab-content">
                 <div class="tab-pane fade in active" id="tab_invoice_list">
                    <div class="x_content">                     
                         <table id="invoice-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Net Salary</th>
                                    <th>Date of Payment</th>
                                    <th>Month Being Cleared</th>
                                    <th>Amount Paid</th>
                                    <th>Total Paid</th>
                                    <th>Remaining Balance</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for salary in salaries %}
                                <tr>
                                 <td>{{ salary.Name}}</td>
                                     <td>{{ salary.basic_salary}}</td>
                                     <td>{{ salary.Date_of_paying_salary}}</td>
                                     <td>{{ salary.Month_being_cleared}}</td>
                                     <td>{{ salary.Salary_Amount}}</td>
                                     <td>{{ salary.total_salary_paid}}</td>
                                     <td>{{ salary.Balance}}</td>
                                     <td>
                                       <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
                                             <span class='glyphicon glyphicon-trash'> </span> Delete
                                         </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Delete Checklist</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                      <h3>Are you sure you want to delete checklist?</h3>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <a href="{% url 'delete-salary-paid' salary.pk %}" class="btn btn-danger bt-sm" role="button">Confirm</a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                     </td>
                                </tr>
                                {% endfor%} 
                            </tbody>
                        </table>
                          
                    </div>
                  </div>
               </div>
                <p style="color:red; font-size: 150%"><b>NB: </b> Please archive this report <b>ONLY</b> at the end of every month</p>
                        <a href="{% url 'tithespdf' %}" target="_new" class="btn btn-info bt-sm" role="button"><span class="glyphicon glyphicon-print"></span></a>
                       <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon glyphicon-king">Archive</span></button>
               <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Employee Salaries report archiving</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h5 class="text-primary">Select year and corresponding month to archive(Church Cycle)</h5>
                        <form class="form-inline" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="col-auto my-1">
                          <label class="mr-sm-2" for="inlineFormCustomSelect">Year</label>
                          <select class="custom-select mr-sm-2" name="archived_year" id="inlineFormCustomSelect">
                              {% for report_year in years %}
                                 <option name="{{ report_year }}" value="{{ report_year }}">{{ report_year }}</option>
                              {% endfor %}
                          </select>
                        </div>
                            <div class="col-auto my-1">
                          <label class="mr-sm-2" for="inlineFormCustomSelect">Month</label>
                          <select class="custom-select mr-sm-2" name="archived_month" id="inlineFormCustomSelect">
                              {% for report_month in months %}
                                 <option name="{{ report_month }}" value="{{ report_month }}">{{ report_month }}</option>
                              {% endfor %}
                          </select>
                        </div>
                         <div class="col-auto my-1">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div> 
          </div>
        </div>       
    </div>
</div>
 
{% endblock content %}
