 
{% extends "app/base_site.html" %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa fa-calendar-check-o"></i><small> Manage Church Employee</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content quick-link">
                        <span>Quick Link:</span>
                        <a href="{% url 'members-register' %}">Register Member</a>
                        | <a href="{% url 'members-list' %}">Members List</a>
                        | <a href="{% url 'visitors-register' %}">Register Visitor</a>
                        | <a href="{% url 'visitors-list' %}">Visitors List</a>
                        <a href="{% url 'visitors-list' %}">Employee List</a>
                    </div>
                    <div class="separator"></div>
                    
          <div class="x_content">
            <div class="" data-example-id="togglable-tabs">
                <ul class="nav nav-tabs bordered">
                     <li role="presentation"><a href="{% url 'employee-list' %}"><i
                                class="fa fa-list-ol"></i> Employee List</a>
                    </li>
                    <li role="presentation" ><a href="{% url 'employee-register' %}"><i
                                class="fa fa-plus-square-o"></i> Add Employees</a>
                     </li>
                    <li role="presentation"><a href="{% url 'current-month-salaries' %}"><i
                                class="fa fa-plus-square-o"></i> Salaries Report</a>
                     </li>
                    <li role="presentation"><a href="{% url 'salariespaidarchivessearch' %}"><i
                                class="fa fa-plus-square-o"></i> Archived Salaries Paid Report</a>
                     </li>
                     <li role="presentation"class="active"><a href="#"><i
                                class="fa fa-plus-square-o"></i> View Employee Details</a>
                     </li>
                </ul>
                <br/>
 <form method="post" action="{% url 'view-employee' form.instance.pk %}" class="js-student-view-form"
      enctype="multipart/form-data">
    {% csrf_token %}

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% for i in get_name %}
                    <h2 class="modal-title" style="text-align: center">Employee Details of {{ i.First_Name}} {{ i.Second_Name}}</h2>
        {% endfor %}
    </div>

    <div class="modal-body">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bordered" role="tablist">
                <li class="active"><a href="#tab_content1" id="basic-tab" role="tab"
                                      data-toggle="tab" aria-expanded="true">
                    <i class="fa fa-info-circle">&nbsp;</i>Basic Information</a>
                </li>
                <li class=""><a href="#tab_content2" role="tab" id="parent-tab" data-toggle="tab"
                                aria-expanded="false">
                    <i class="fa fa-male">&nbsp;</i>Other Info</a>
                </li>

                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                     aria-labelledby="basic-tab">
                    <p></p>
                    <table id="tablePreview" class="table table-bordered table-striped">
                        
                        <!--Table head-->
                        <!--Table body-->
                        <style type="text/css">
                            th   {color: blue;font-size: 120%; font-weight: bolder}
                        </style>
                        <tbody>
                        <tr>
                            <th>First Name</th>
                            <td>{{ form.instance.First_Name }}</td>
                            <th>Second Name</th>
                            <td>{{ form.instance.Second_Name }}</td>
                        </tr>
                        <tr>
                            <th>Employee Photo</th>
                            <td><img src="{{ form.instance.Photo.url }}"
                                     alt="" width="30"
                                     style="background: rgba(15,174,221,0.97); padding: 2px;"/>
                            </td>
                            <th>Birth Date</th>
                            <td>{{ form.instance.Date_Of_Birth }}</td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>{{ form.instance.Gender }}</td>
                            <th>Religion</th>
                            <td>{{ form.instance.Faith }}</td>
                        </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                </div>
                
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content2"
                     aria-labelledby="parent-tab">
                    <p></p>
                    <table id="tablePreview" class="table table-bordered table-striped">
                        
                        <!--Table head-->
                        <!--Table body-->
                        <style type="text/css">
                            th   {color: blue;font-size: 120%; font-weight: bolder}
                        </style>
                        <tbody>
                        <tr>
                            <th>Education Level</th>
                            <td>{{ form.instance.Education_Level }}</td>
                            <th>Residence</th>
                            <td>{{ form.instance.Residence }}</td>
                        </tr>
                        <tr>
                            <th>Telephone</th>
                            <td>{{ form.instance.Telephone }}
                            </td>
                            <th>Role</th>
                            <td>{{ form.instance.Role }}</td>
                        </tr>
                        <tr>
                            <th>Salary </th>
                            <td>{{ form.instance.Salary_Amount }}</td>
                            <th>Date of Employment</th>
                            <td>{{ form.instance.Date_of_employment }}</td>
                        </tr>
                          <tr>
                            <th>End Of Contract </th>
                            <td>{{ form.instance.End_of_contract }}</td>
                            
                        </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</form></div></div></div></div></div></div>
{% endblock content %}