
{% extends "app/base_site.html" %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
    	<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa fa-calendar-check-o"></i><small> Manage Church Employee</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content quick-link">
                        <span>Quick Link:</span>
                        <a href="{% url 'members-register' %}">Register Member</a>
                        | <a href="{% url 'members-list' %}">Members List</a>
                        | <a href="{% url 'visitors-register' %}">Register Visitor</a>
                        | <a href="{% url 'visitors-list' %}">Visitors List</a>
                        <a href="{% url 'visitors-list' %}">Employee List</a>
                    </div>
  	      <div class="x_content">
            <div class="" data-example-id="togglable-tabs">
                <ul class="nav nav-tabs bordered">
             <li role="presentation"><a href="{% url 'employee-list' %}"><i
                                class="fa fa-list-ol"></i> Employee List</a>
                    </li>
                    <li role="presentation"><a href="{% url 'current-month-salaries' %}"><i
                                class="fa fa-plus-square-o"></i> Salaries Paid Report</a>
                     </li>
                    <li role="presentation"><a href="{% url 'salariespaidarchivessearch' %}"><i
                                class="fa fa-plus-square-o"></i> Archived Salaries Paid Report</a>
                     </li>
                    <li role="presentation"class="active"><a href="#"><i
                                class="fa fa-plus-square-o"></i> Pay Employee</a>
                     </li>
                </ul>
                <br/>
            {% load crispy_forms_tags %}

			<form method="POST" enctype="multipart/form-data" action="{% url 'paid-salary'%}" >
			    {% csrf_token %}
			    <div class="row">

                    <div class="col-lg-4">
                        <div class="col-lg-12" id="Salary_Id">
                                              
        
                    {% for id in retrieve_employee_id %}
                            <label>Employee Id</label>
                            <input type="text" name="Salary_Id" id="Salary_Id" maxlength="100"
                                   class="textinput textInput form-control"
                                   {%if id.UCC_Bwaise_Member == 'Yes'%}value="{{ id.Church_Member_id }}" {%else%}value="{{ id.id }}" {%endif%}>
                        </div>
                        <div class="col-lg-12">
                        <label>Employee Name</label>
                        <input type="text" name="Name" id="Name" maxlength="100"
                                   class="textinput textInput form-control"
                                   {%if id.UCC_Bwaise_Member == 'Yes'%}value="{{ id.Church_Member }}" {%else%}value="{{ id.full_name }}" {%endif%}  >
                         </div>
                    {% endfor %}
                    </div>
				  	<div class="col-lg-4">
						<div class="col-lg-12">
						    {{ form.Date_of_paying_salary|as_crispy_field }}
						</div>
                        <div class="col-lg-12">
                            {{ form.Month_being_cleared|as_crispy_field }}
                        </div>
                        <div class="col-lg-12">
                              <label for="id_paid_amount"> Amount Paid</label>
                               <input type="number" value="{{form.instance.Balance}}" name="Salary_Amount" required id="id_paid_amount" class="textinput textInput form-control" min='1' max='{{form.instance.Balance}}'>
                        </div>

				   </div>
			   </div>
			    <button type="submit" class="btn btn-primary" name="button">Submit</button>
			</form>
                </div>
            </div>
		</div>
	</div>
  </div>
</div>
<script type="text/javascript">
    $("#Salary_Id").hide();
    document.getElementById('Name').readOnly = true;
</script>
{% endblock content %}
