{% extends "app/base_site.html" %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1 style="text-align: center;"><i class="fa fa fa-calendar-check-o"></i><b> HOME CELL FELLOWSHIPS MODULE</b>
                    </h1>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content quick-link">
                    <span style="color:red"><b>Reports:</b></span>
                    <a href="{% url  'expenditurereport' %}"> Main Expenses</a></li>
                    |<a href="{% url 'general-expenses-report' %}"> General Expenses</a></li>
                    |<a href="{% url 'Offeringsreport' %}"> Offerings</a></li>

                    |<a href="{% url 'Pledgesreport' %}"> Pledges</a></li>
                    |<a href="{% url 'sundryreport' %}"> Petty Expenses</a></li>
                    {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}
                    |<a href="{% url 'allowancereport' %}"> Allowances</a></li>
                    |<a href="{% url 'current-month-salaries' %}"> Salaries</a></li>
                    |<a href="{% url 'Tithesreport' %}"> Tithes</a></li>
                    |<a href="{% url 'donations-report' %}"> Doantions</a></li>
                    |<a href="{% url 'thanks-giving-report' %}"> ThanksGiving</a></li>
                    {% endif %}
                    <div class="separator"></div>
                </div>
                <p>{{ message }}</p>
                <h1 style="text-align: center;">All Church Home Cell Fellowships</h1>

                <div class="separator"></div>
                <div class="x_content">
                    <div class="" data-example-id="togglable-tabs">
                        <ul class="nav nav-tabs bordered">
                            <li role="presentation" class="active"><a href="{% url 'home-cells' %}"><i class="glyphicon glyphicon-home"></i>
                                    Home Cells</a>
                            </li>
                            <li role="presentation"><a href="{% url 'church-groups' %}"><i class="glyphicon glyphicon-cloud"></i> Church
                                    Groups</a>
                            </li>
                        </ul>
                        <br />

                        <ul class="nav nav-tabs bordered">
                            <li role="presentation">
                                <button class="btn-sm btn-default" data-toggle="modal" data-target="#church"
                                    style="padding: 30px; margin-left:20px">Church Zone
                                    {% if request.user.full_name.Home_Cell == 'Church Zone' %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                    {% endif %}
                                </button>
                            </li>
                            <li role="presentation">
                                <button class="btn-sm btn-default" data-toggle="modal" data-target="#kafunda"
                                    style="padding: 30px; margin-left:20px">Kafunda Zone
                                    {% if request.user.full_name.Home_Cell == 'Kafunda Zone' %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                    {% endif %}
                                </button>
                            </li>
                            <li role="presentation">
                                <button class="btn-sm btn-default" data-toggle="modal" data-target="#kawaala"
                                    style="padding: 30px; margin-left:20px">Kawaala Zone
                                    {% if request.user.full_name.Home_Cell == 'Kawaala Zone' %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                    {% endif %}
                                </button>
                            </li>
                            <li role="presentation">
                                <button class="btn-sm btn-default" data-toggle="modal" data-target="#kabira"
                                    style="padding: 30px; margin-left:20px">Kabira Zone
                                    {% if request.user.full_name.Home_Cell == 'Kabira Zone' %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                    {% endif %}
                                </button>
                            </li>
                            <li role="presentation">
                                <button class="btn-sm btn-default" data-toggle="modal" data-target="#gombolola"
                                    style="padding: 30px; margin-left:20px">Gombolola Zone
                                    {% if request.user.full_name.Home_Cell == 'Gombolola Zone' %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                    {% endif %}
                                </button>
                            </li>
                            <li role="presentation">
                                <button class="btn-sm btn-default" data-toggle="modal" data-target="#kazo"
                                    style="padding: 30px; margin-left:20px">Kazo Zone
                                    {% if request.user.full_name.Home_Cell == 'Kazo Zone' %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                    {% endif %}
                                </button>
                            </li>
                            <li role="presentation">
                                <button class="btn-sm btn-default" data-toggle="modal" data-target="#katoke"
                                    style="padding: 30px; margin-left:20px">Katooke Zone
                                    {% if request.user.full_name.Home_Cell == 'Katooke Zone' %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                    {% endif %}
                                </button>
                            </li>
                            <li role="presentation">
                                <button class="btn-sm btn-default" data-toggle="modal" data-target="#lugoba"
                                    style="padding: 30px; margin-left:20px">Lugoba Zone
                                    {% if request.user.full_name.Home_Cell == 'Lugoba Zone' %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                    {% endif %}
                                </button>
                            </li>
                            <li role="presentation">
                                <button class="btn-sm btn-default" data-toggle="modal" data-target="#bombo"
                                    style="padding: 30px; margin-left:20px">Bombo Road
                                    {% if request.user.full_name.Home_Cell == 'Bombo Rd' %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                    {% endif %}
                                </button>
                            </li>
                        </ul>
                        <br />
                        <!-- bombo Modal -->
                        <div class="modal fade" id="kawaala" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class=" container modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">
                                            HOME CELL FELLOWSHIP MEMBERS</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="text-danger" style="text-align: center;"><b>Kawaala Zone Home Cell</b>
                                        </h4>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab_invoice_list">
                                                <div class="x_content">
                                                    <table id="invoice-table" class="table table-bordered dt-responsive nowrap" cellspacing="0"
                                                        width="100%" style="background-color: ghostwhite;">
                                                        <thead>
                                                            <tr>
                                                                <th>First Name</th>
                                                                <th>Second Name</th>
                                                                <th>Address</th>
                                                                <th>Telephone</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in Kawaala %}
                                                            <tr>
                                                                <td>{{ item.First_Name}}</td>
                                                                <td>{{ item.Second_Name}}</td>
                                                                <td>{{ item.Residence}}</td>
                                                                <td>{{ item.Telephone}}</td>
                                                                <td>{{ item.Marital_Status}}</td>
                                                                <td>
                                                                    {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}
                        
                                                                    <div class="mb-4">
                                                                        <a href="#" class="btn btn-info btn-sm"><span
                                                                                class="fa fa-pencil-square-o"></span>
                                                                            Edit</a>
                        
                                                                        <a href="#
                                                                                                    class=" btn btn-danger btn-sm "><span
                                                                                                        class=" glyphicon
                                                                            glyphicon-trash"></span>
                                                                            Delete</a>
                                                                    </div>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- bombo Modal -->
                        <div class="modal fade" id="bombo" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class=" container modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">
                                            HOME CELL FELLOWSHIP MEMBERS</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="text-danger" style="text-align: center;"><b>Bombo Road Home Cell</b>
                                        </h4>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab_invoice_list">
                                                <div class="x_content">
                                                    <table id="invoice-table"
                                                        class="table table-bordered dt-responsive nowrap"
                                                        cellspacing="0" width="100%"
                                                        style="background-color: ghostwhite;">
                                                        <thead>
                                                            <tr>
                                                                <th>First Name</th>
                                                                <th>Second Name</th>
                                                                <th>Address</th>
                                                                <th>Telephone</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in Bombo %}
                                                            <tr>
                                                                <td>{{ item.First_Name}}</td>
                                                                <td>{{ item.Second_Name}}</td>
                                                                <td>{{ item.Residence}}</td>
                                                                <td>{{ item.Telephone}}</td>
                                                                <td>{{ item.Marital_Status}}</td>
                                                                <td>
                                                                    {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}

                                                                    <div class="mb-4">
                                                                        <a href="#"
                                                                            class="btn btn-info btn-sm"><span
                                                                                class="fa fa-pencil-square-o"></span>
                                                                            Edit</a>

                                                                        <a href="#
                                                                            class="btn btn-danger btn-sm "><span
                                                                                class="glyphicon glyphicon-trash"></span>
                                                                            Delete</a>
                                                                    </div>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- lugoba Modal -->
                        <div class="modal fade" id="lugoba" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class=" container modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">HOME CELL FELLOWSHIP MEMBERS</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="text-danger" style="text-align: center;"><b>Lugoba Zone Home Cell</b></h4>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab_invoice_list">
                                                <div class="x_content">
                                                    <table id="invoice-table"
                                                        class="table table-bordered dt-responsive nowrap"
                                                        cellspacing="0" width="100%"
                                                        style="background-color: ghostwhite;">
                                                        <thead>
                                                            <tr>
                                                                <th>First Name</th>
                                                                <th>Second Name</th>
                                                                <th>Address</th>
                                                                <th>Telephone</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in Lugoba %}
                                                            <tr>
                                                                <td>{{ item.First_Name}}</td>
                                                                <td>{{ item.Second_Name}}</td>
                                                                <td>{{ item.Residence}}</td>
                                                                <td>{{ item.Telephone}}</td>
                                                                <td>{{ item.Marital_Status}}</td>
                                                                <td>
                                                                    {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}

                                                                    <div class="mb-4">
                                                                        <a href="#"
                                                                            class="btn btn-info btn-sm"><span
                                                                                class="fa fa-pencil-square-o"></span>
                                                                            Edit</a>

                                                                        <a href="#
                                                                            class="btn btn-danger btn-sm "><span
                                                                                class="glyphicon glyphicon-trash"></span>
                                                                            Delete</a>
                                                                    </div>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- katoke Modal -->
                        <div class="modal fade" id="katoke" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class=" container modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">HOME CELL FELLOWSHIP MEMBERS</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="text-danger" style="text-align: center;"><b>Katoke Zone Home Cell</b></h4>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab_invoice_list">
                                                <div class="x_content">
                                                    <table id="invoice-table"
                                                        class="table table-bordered dt-responsive nowrap"
                                                        cellspacing="0" width="100%"
                                                        style="background-color: ghostwhite;">
                                                        <thead>
                                                            <tr>
                                                                <th>First Name</th>
                                                                <th>Second Name</th>
                                                                <th>Address</th>
                                                                <th>Telephone</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in Katooke %}
                                                            <tr>
                                                                <td>{{ item.First_Name}}</td>
                                                                <td>{{ item.Second_Name}}</td>
                                                                <td>{{ item.Residence}}</td>
                                                                <td>{{ item.Telephone}}</td>
                                                                <td>{{ item.Marital_Status}}</td>
                                                                <td>
                                                                    {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}

                                                                    <div class="mb-4">
                                                                        <a href="#"
                                                                            class="btn btn-info btn-sm"><span
                                                                                class="fa fa-pencil-square-o"></span>
                                                                            Edit</a>

                                                                        <a href="#
                                                                            class="btn btn-danger btn-sm "><span
                                                                                class="glyphicon glyphicon-trash"></span>
                                                                            Delete</a>
                                                                    </div>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- kazo Modal -->
                        <div class="modal fade" id="kazo" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class=" container modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">HOME CELL FELLOWSHIP MEMBERS</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="text-danger" style="text-align: center;"><b>Kazo Zone Home Cell</b></h4>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab_invoice_list">
                                                <div class="x_content">
                                                    <table id="invoice-table"
                                                        class="table table-bordered dt-responsive nowrap"
                                                        cellspacing="0" width="100%"
                                                        style="background-color: ghostwhite;">
                                                        <thead>
                                                            <tr>
                                                                <th>First Name</th>
                                                                <th>Second Name</th>
                                                                <th>Address</th>
                                                                <th>Telephone</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in Kazo %}
                                                            <tr>
                                                                <td>{{ item.First_Name}}</td>
                                                                <td>{{ item.Second_Name}}</td>
                                                                <td>{{ item.Residence}}</td>
                                                                <td>{{ item.Telephone}}</td>
                                                                <td>{{ item.Marital_Status}}</td>
                                                                <td>
                                                                    {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}

                                                                    <div class="mb-4">
                                                                        <a href="#"
                                                                            class="btn btn-info btn-sm"><span
                                                                                class="fa fa-pencil-square-o"></span>
                                                                            Edit</a>

                                                                        <a href="#
                                                                            class="btn btn-danger btn-sm "><span
                                                                                class="glyphicon glyphicon-trash"></span>
                                                                            Delete</a>
                                                                    </div>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- gombolola Modal -->
                        <div class="modal fade" id="gombolola" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class=" container modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">HOME CELL FELLOWSHIP MEMBERS</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="text-danger" style="text-align: center;"><b>Gombolola Zone Home Cell</b>
                                        </h4>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab_invoice_list">
                                                <div class="x_content">
                                                    <table id="invoice-table"
                                                        class="table table-bordered dt-responsive nowrap"
                                                        cellspacing="0" width="100%"
                                                        style="background-color: ghostwhite;">
                                                        <thead>
                                                            <tr>
                                                                <th>First Name</th>
                                                                <th>Second Name</th>
                                                                <th>Address</th>
                                                                <th>Telephone</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in Gombolola %}
                                                            <tr>
                                                                <td>{{ item.First_Name}}</td>
                                                                <td>{{ item.Second_Name}}</td>
                                                                <td>{{ item.Residence}}</td>
                                                                <td>{{ item.Telephone}}</td>
                                                                <td>{{ item.Marital_Status}}</td>
                                                                <td>
                                                                    {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}

                                                                    <div class="mb-4">
                                                                        <a href="#"
                                                                            class="btn btn-info btn-sm"><span
                                                                                class="fa fa-pencil-square-o"></span>
                                                                            Edit</a>

                                                                        <a href="#
                                                                            class="btn btn-danger btn-sm "><span
                                                                                class="glyphicon glyphicon-trash"></span>
                                                                            Delete</a>
                                                                    </div>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- kabira Modal -->
                        <div class="modal fade" id="kabira" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class=" container modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">HOME CELL FELLOWSHIP MEMBERS</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="text-danger" style="text-align: center;"><b>Kabira Zone Home Cell</b></h4>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab_invoice_list">
                                                <div class="x_content">
                                                    <table id="invoice-table"
                                                        class="table table-bordered dt-responsive nowrap"
                                                        cellspacing="0" width="100%"
                                                        style="background-color: ghostwhite;">
                                                        <thead>
                                                            <tr>
                                                                <th>First Name</th>
                                                                <th>Second Name</th>
                                                                <th>Address</th>
                                                                <th>Telephone</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in Kabira %}
                                                            <tr>
                                                                <td>{{ item.First_Name}}</td>
                                                                <td>{{ item.Second_Name}}</td>
                                                                <td>{{ item.Residence}}</td>
                                                                <td>{{ item.Telephone}}</td>
                                                                <td>{{ item.Marital_Status}}</td>
                                                                <td>
                                                                    {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}

                                                                    <div class="mb-4">
                                                                        <a href="#"
                                                                            class="btn btn-info btn-sm"><span
                                                                                class="fa fa-pencil-square-o"></span>
                                                                            Edit</a>

                                                                        <a href="#
                                                                            class="btn btn-danger btn-sm "><span
                                                                                class="glyphicon glyphicon-trash"></span>
                                                                            Delete</a>
                                                                    </div>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- kafunda Modal -->
                        <div class="modal fade" id="kafunda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class=" container modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">HOME CELL FELLOWSHIP MEMBERS
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="text-danger" style="text-align: center;"><b>Kafunda Zone Home Cell </b></h4>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab_invoice_list">
                                                <div class="x_content">
                                                    <table id="invoice-table" class="table table-bordered dt-responsive nowrap" cellspacing="0"
                                                        width="100%" style="background-color: ghostwhite;">
                                                        <thead>
                                                            <tr>
                                                                <th>First Name</th>
                                                                <th>Second Name</th>
                                                                <th>Address</th>
                                                                <th>Telephone</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in Kafunda %}
                                                            <tr>
                                                                <td>{{ item.First_Name}}</td>
                                                                <td>{{ item.Second_Name}}</td>
                                                                <td>{{ item.Residence}}</td>
                                                                <td>{{ item.Telephone}}</td>
                                                                <td>{{ item.Marital_Status}}</td>
                                                                <td>
                                                                    {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}
                        
                                                                    <div class="mb-4">
                                                                        <a href="#"
                                                                            class="btn btn-info btn-sm"><span
                                                                                class="fa fa-pencil-square-o"></span>
                                                                            Edit</a>
                        
                                                                        <a href="#
                                                                            class="btn btn-danger btn-sm "><span
                                                                                class="glyphicon glyphicon-trash"></span>
                                                                            Delete</a>
                                                                    </div>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- church Modal -->
                        <div class="modal fade" id="church" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class=" container modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">HOME CELL FELLOWSHIP MEMBERS
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 class="text-danger" style="text-align: center;"><b>Church Zone Home Cell</b></h4>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab_invoice_list">
                                                <div class="x_content">
                                                    <table id="invoice-table" class="table table-bordered dt-responsive nowrap" cellspacing="0"
                                                        width="100%" style="background-color: ghostwhite;">
                                                        <thead>
                                                            <tr>
                                                                <th>First Name</th>
                                                                <th>Second Name</th>
                                                                <th>Address</th>
                                                                <th>Telephone</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in Church %}
                                                            <tr>
                                                                <td>{{ item.First_Name}}</td>
                                                                <td>{{ item.Second_Name}}</td>
                                                                <td>{{ item.Residence}}</td>
                                                                <td>{{ item.Telephone}}</td>
                                                                <td>{{ item.Marital_Status}}</td>
                                                                <td>
                                                                    {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}
                        
                                                                    <div class="mb-4">
                                                                        <a href="#"
                                                                            class="btn btn-info btn-sm"><span
                                                                                class="fa fa-pencil-square-o"></span>
                                                                            Edit</a>
                        
                                                                        <a href="#
                                                                            class="btn btn-danger btn-sm "><span
                                                                                class="glyphicon glyphicon-trash"></span>
                                                                            Delete</a>
                                                                    </div>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <h1 style="color: khaki;">Dear {{request.user.full_name.Initials}}
                        {{request.user.full_name.Second_Name}}
                        , Your home cell is 
                        {{request.user.full_name.Home_Cell}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}