{% extends 'website-base.html' %}
{% block title %} Home {% endblock title %}
{% load static %}

{% block content %} 
    <div class="zegen-content zegen-page">
        {% include "includes/homepage/slider.html" %}
        {% include "includes/homepage/about.html" %} 
        {% include "includes/homepage/events.html" %}
        {% include "includes/homepage/our-team.html" %}
        {% include "includes/homepage/sermons.html" %} 
        {% include "includes/homepage/blog.html" %}   
        {% include "includes/homepage/contact.html" %}
                    
    </div>
{% endblock content %}