{% extends "app/base_site.html" %}
{% block content %}
{% load humanize %}
<head>
  <title>UCC Bwaise | Archived Building Collections for the month of {{report_month}} {{ report_year }}</title>
</head>
<div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa fa-calendar-check-o"></i><small> Manage Church Tithes</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                  <div class="x_content quick-link">
                    <span style="color:red"><b>Other Archived Reports:</b></span>
                        <a href="{% url 'expensesarchivessearch'  %}"> Main Expenses</a></li>
                        |<a href="{% url 'general-expensesarchives-search'  %}">General Expenses</a></li>
                        |<a href="{% url 'tithesarchivessearch'  %}"> Tithes</a></li>
                        |<a href="{% url 'offeringsarchivessearch'  %}"> Offerings</a></li>
                        |<a href="{% url 'pledgesarchivessearch'  %}"> Pledges</a></li>
                        |<a href="{% url 'sundryarchivessearch'  %}"> Petty Expenses</a></li>
                        |<a href="{% url 'allowancearchivessearch'  %}"> Allowances</a></li>
                        |<a href="{% url 'salariespaidarchivessearch'  %}"> Salaries</a></li>
                        |<a href="{% url 'donationsarchivessearch'  %}"> Donations</a></li>
                        |<a href="{% url 'thanksgivingarchivessearch'  %}"> Thanks Giving</a></li>
                    <div class="separator"></div>
                </div>

            <div class="x_content">
                <div class="" data-example-id="togglable-tabs">
                    <ul class="nav nav-tabs bordered">
                        <li role="presentation"><a href="{% url 'Building-Renovation-report' %}"><i class="fa fa-list-ol"></i> List Of Collections</a>
                        </li>
                        <li role="presentation"><a href="{% url 'record-building-collections' %}"><i
                              class="fa fa-plus-square-o"></i> Record Building Collections</a>
                        </li>
                        <li role="presentation"  class="active"><a href="{% url 'BuildingRenovationarchivessearch' %}"><i
                              class="fa fa-plus-square-o"></i> Archived Building Collections</a>
                        </li>
                        <li role="presentation"><a href="{% url 'Enter_Pledges' %}"><i
                                class="fa fa-plus-square-o"></i> Building Pledge</a>
                        </li>
                    </ul>
                    <br/>
                      <h4><i class='glyphicon glyphicon-arrow-down'></i>Please search for the archived Bilding Collections by <b>Year</b> and <b>Month</b></h4><br>
                     <form class="x_content" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                          <div class="col-lg-12" style="background-color: rgb(227, 237, 239">
                           <div class="col-lg-3" style="margin-top: 8px">
                            <label >Year</label>
                            <input type="text" placeholder="Enter Year, e.g. 2020"name="report_year" width="2%">
                            </div>
                            <div class="col-lg-3" style="margin-top: 8px">
                            <label>Month</label>
                            <select  name="report_month" id="inlineFormCustomSelect">
                              <option selected="--select month--">Select Month</option>
                                {% for report_month in months %}
                                   <option class="btn-success" name="{{ report_month }}" value="{{ report_month }}">{{ report_month }}
                                   </option>
                                {% endfor %}
                            </select>
                            </div>
                             <div class="col-lg-2">
                              <button type="submit" class="btn btn-info">Search <span class='glyphicon glyphicon-search'></span></button>
                             </div>
                            </div>
                          </div>
                        </form><br> <br>
                        <div class="tab-content">
                             <div class="tab-pane fade in active" id="tab_invoice_list">
                                <div class="x_content"> 
                                {% if archived_reports %}
                                     <h2 style="text-align: center">Monthly Archived Building Collection For the financial cycle of  <b>{{ report_month }} {{ report_year }}</b>  </h2>
                                  {% elif archived_reports == empty %}
                                      <p style="color: red"><i class='glyphicon glyphicon-arrow-up'></i>You have not yet made any search!, please do so</p>
                                      {% else %}
                                       <h2 > No archived Data in the query you have made of the cycle {{ report_month }} {{ report_year }}</h2>                     
                                     {% endif %}                     
                                  <table id="invoice-table" class="sum_table table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                  <thead>
                                  <tr>
                                      <td>Date</td>
                                      <td>Service</td>
                                      <td>Status</td>
                                      <td>Amount Collected <i class=" glyphicon glyphicon-arrow-right"></i> (<span style="font-weight: bolder; color:red" class="totalCol"></span>)</td>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  {% for archived in archived_reports  %}
                                    <tr class="totalColumn">
                                      <td>{{ archived.Date }}</td>
                                      <td>{{ archived.Service }}</td>
                                      <td>{{ archived.Archived_Status }}</td>
                                      <td class="rowDataSd">{{ archived.Total_Collection}}</td>
                                    </tr>
                                  {% endfor %}
                                </tbody>
                                <td>Total</td><td><pre>  </pre></td><td><b style="color: red">Shs.{{total_amount}}</b></td>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

{% endblock content%}