

{% extends "app/base_site.html" %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
    	<div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1 style="text-align:center"><i class="fa fa-money"></i><b> BUILDING MODULE</b></h1>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content quick-link">
                    <span style="color:red"><b>Make Other Entries:</b></span>
                    <a href="{% url  'enter_expenditure' %}"> Main</a>
                    |<a href="{% url 'enter-general-expenses' %}"> General</a>
                    |<a href="{% url 'enter_sundryexpense' %}"> Petty</a>
                    |<a href="{% url 'record-cashfloat' %}"> Float</a>
                    |<a href="{% url 'Enter_Offerings' %}"> Offerings</a>
                    |<a href="{% url 'Enter_Tithes' %}"> Tithes</a>
                    |<a href="{% url 'Enter_Pledges' %}"> Pledges</a>
                    |<a href="{% url 'give-allowance' %}"> Allowances</a>
                    |<a href="{% url 'employee-list' %}"> Salaries</a>
                    |<a href="{% url 'record-donations' %}"> Other Sources</a>
                    |<a href="{% url 'add-seeds' %}"> Seeds</a>
                    |<a href="{% url 'record-thanks-giving' %}"> Thanks Giving</a>
                    |<a href="{% url 'members-register' %}"> Membership</a>
                    <div class="separator"></div>
                </div>
                
		  	    <div class="x_content">
		            <div class="" data-example-id="togglable-tabs">
		                <ul class="nav nav-tabs bordered">
		                    <li role="presentation" ><a href="{% url 'Building-Renovation-report' %}"><i
		                                class="fa fa-list-ol"></i> List Of Collections</a>
		                    </li>
		                    <li role="presentation"class="active"><a href="{% url 'record-building-collections' %}"><i
	                            class="fa fa-plus-square-o"></i> Record Building Collections</a>
		                    </li>
                            <li role="presentation"><a href="{% url 'BuildingRenovationarchivessearch' %}"><i
                              class="glyphicon glyphicon-king"></i> Archived Building Collections</a>
                           </li>
		                </ul>
		                <br/>
                        <h2 style="text-align: center">Record Total Building Collections in a Particular Service</h2>
                        <div class="separator"></div>
                      <p>{{ msg}}</p>
						<div style="margin-left: 25%"class="col-lg-4 col-md-4 col-sm-4 justify-content-center">
						{% load crispy_forms_tags %}
							<form method="POST" enctype="multipart/form-data" >
								{% csrf_token %}
								{{ form.Date|as_crispy_field}}
								{{ form.Service|as_crispy_field}}
								{{ form.Amount|as_crispy_field}}
                                {{ form.Other_Notes|as_crispy_field}}
                                <input type="hidden" id="offering" name="Revenue_filter" value="build">
							<button type="submit" class="btn btn-primary" name="button">Submit</button>
							</form>
						</div>
			        </div>
		        </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}