{% extends 'home/base.html' %}
{% load static  %}
<body>

{% block content %}

    <section class="page-breadcumb-area bg-with-black">
        <div class="container text-center">
            <h2 class="title">Sermons</h2>
            <ul class="links">
                <li><a href="{% url 'index_public' %}">Home</a></li>
                <li><a href="javascript:void(0);">Gospel Teachings</a></li>
            </ul>
        </div>
    </section>

    <section class="page-news-area">
        <div class="container">
            <div class="row justify-content-center">

                {% for news in news_list %}
                    <div class="col-lg-4 col-md-6 col-sm-8 col-12">
                        <div class="single-news" style="height: 556px;">
                            <div class="img">
                                {% if news.image %}
                                    <img src="{{ news.image.url }}" alt="">
                                {% endif %}
                            
                            </div>
                            
                            <div class="content">
                                <ul class="meta">
                                    <li class="info"><span class="icon"><i class="fa fa-user"></i></span>By
                                        / {{ news.author }}
                                    </li>
                                    <li class="info"><span class="icon"><i
                                            class="fa fa-calendar"></i></span>{{ news.date }}
                                    </li>
                                </ul>
                                <h2 class="title"><a href="{{ news.get_absolute_url }}">{{ news.news_title }}</a>
                                </h2>
                                {% if news.audio_file %}
                                <audio controls preload="auto">
                                    <source src=" {{news.audio_file.url}} " type="audio/mpeg">
                                </audio>
                                {% endif %}
                                <div class="text">
                                    {{ news.news|truncatewords:20|linebreaks }}
                                </div>
                                <div class="more text-right">
                                    <a class="link glbscl-link-btn hvr-bs"
                                       href="{% url 'news_detail' news.pk %}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            {% if news_list.has_other_pages %}
            <nav aria-label="Page navigation conatiner" style="text-align: center">
                <ul class="pagination justify-content-center">
                    {% if news_list.has_previous %}
                    <li><a href="?page={{ news_list.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                    {% endif %}
                    {% if news_list.has_next %}
                    <li><a href="?page={{ news_list.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </section>
{% endblock %}
<script type="text/javascript">
    var sounds = document.getElementById("sounds");
    sounds.play();
</script>

</body>
