<!DOCTYPE html>
<html lang="en">
    {% include "app/css_assets.html" %}
    <body class="{% block body_class %}nav-md {% endblock body_class %}" >
        <div style="max-width: 1130px">
            {% block body %}

                <div class="fakeLoader"></div>
                <div class="container body">
                    <div class="main_container">
                        {% block sidebar %}
                            <div class="col-md-3 left_col">
                                {% include "app/sidebar.html" %}
                            </div>
                        {% endblock sidebar %}

                        {% block top_navigation %}
                            <div class="top_nav">
                                
                            {% include "app/top_navigation.html" %}
                            </div>
                        {% endblock top_navigation %}

                        {% block content %}
                            <h3 style="color: red">
                            {{ message }}
                            </h3>
                            
                        {% endblock content %}

                        {% block footer %}
                            
                        {% endblock footer %}

                    </div>
                
                </div>
                {% include "app/footer.html" %}
            {% endblock body %}
        </div>
                    
    </body>
            
    {% include "app/js_assets.html" %}

</html>

