<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static  theme_tags total_tags %}
        {% load bootstrap4 %} {# import bootstrap4/bootstrap3 #}
        {% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
        {{ form.media }} {# Adds date-picker required JS and CSS #}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
            {% block meta %}
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <link rel="shortcut icon"/>
                <meta charset="utf-8">
                <meta charset="ISO-8859-15">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
            {% endblock meta %}
            {% block stylesheets %}
                <!-- Bootstrap -->
                <link href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
                <!-- Datable -->
                <link href="{% static 'datatables/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
                <!-- Font Awesome -->
                <link href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
                <!-- NProgress -->
                <link href="{% static 'vendors/nprogress/nprogress.css' %}" rel="stylesheet">
                <!-- bootstrap-daterangepicker -->
                <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
                <!-- iCheck -->
                <link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
                <!-- bootstrap-progressbar -->
                <link href="{% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
                <!-- JQVMap -->
                <link href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet"/>
                <!--Class Routine -->
                <link href="{% static 'schools/css/routine.css' %}" rel="stylesheet">

                {# <link href="{% static 'schools/css/tables.css' %}" rel="stylesheet"> #}
                <!--Toastr -->
                <link href="{% static 'css/toastr.min.css' %}" rel="stylesheet">
            {% endblock stylesheets %}
            <!-- Custom Theme Style -->
            <link href="{% static 'build/css/custom.css' %}" rel="stylesheet">

            <!-- New CSS Resources -->
            <link href="{% static 'js/myjs/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet">
            <link href="{% static 'js/myjs/jquery-ui-1.12.1/jquery-ui.structure.min.css' %}" rel="stylesheet">
            <link href="{% static 'js/myjs/jquery-ui-1.12.1/jquery-ui.theme.min.css' %}" rel="stylesheet">
        
        <!--LOAD THEMES--> 
            {% active_theme as active_flag %}
            {% if active_flag == "black" %}
            <link href="{% static 'css/theme/black.css' %}" rel="stylesheet">
            {% elif active_flag == "slate-gray" %}
            <link href="{% static 'css/theme/slate-gray.css' %}" rel="stylesheet">
            {% elif active_flag == "jazzberry-jam" %}
            <link href="{% static 'css/theme/jazzberry-jam.css' %}" rel="stylesheet">
            {% elif active_flag == "dark-orange" %}
            <link href="{% static 'css/theme/dark-orange.css' %}" rel="stylesheet">
            {% elif active_flag == "deep-pink" %}
            <link href="{% static 'css/theme/deep-pink.css' %}" rel="stylesheet">
            {% elif active_flag == "dodger-blue" %}
            <link href="{% static 'css/theme/dodger-blue.css' %}" rel="stylesheet">
            
            {% elif active_flag == "light-sea-green" %}
            <link href="{% static 'css/theme/light-sea-green.css' %}" rel="stylesheet">
            {% elif active_flag == "maroon" %}
            <link href="{% static 'css/theme/maroon.css' %}" rel="stylesheet">
            {% elif active_flag == "medium-purple" %}
            <link href="{% static 'css/theme/medium-purple.css' %}" rel="stylesheet">
            {% elif active_flag == "navy-blue" %}
            <link href="{% static 'css/theme/navy-blue.css' %}" rel="stylesheet">
            {% elif active_flag == "radical-red" %}
            <link href="{% static 'css/theme/radical-red.css' %}" rel="stylesheet">
            {% elif active_flag == "rebecca-purple" %}
            <link href="{% static 'css/theme/rebecca-purple.css' %}" rel="stylesheet">
            {% elif active_flag == "red" %}
            <link href="{% static 'css/theme/red.css' %}" rel="stylesheet">
            
            {% elif active_flag == "trinidad" %}
            <link href="{% static 'css/theme/trinidad.css' %}" rel="stylesheet">
            {% elif active_flag == "umber" %}
            <link href="{% static 'css/theme/umber.css' %}" rel="stylesheet">
            {% elif active_flag == "lime-green" %}
            <link href="{% static 'css/theme/lime-green.css' %}" rel="stylesheet">
            {% else %}
            <link href="{% static 'css/theme/slate-gray.css' %}" rel="stylesheet">
            {% endif %}
        {% endblock head %}

        <style>
            .modal-header {
                background-color: #73879C;
                color: #FFF;
                font-size: 24px;
                font-weight: 300
            }
            div.disabled {
            overflow-x: hidden; //horizontal
            overflow-y: scroll; //vertical
            }
            
        </style>
    </head>
    
    <body class="{% block body_class %}nav-md {% endblock body_class %}" >
        <div style="max-width: 1220px">
            {% block body %}

                <div class="fakeLoader"></div>
                <div class="container body">
                    <div class="main_container">
                        {% block sidebar %}
                            <div class="col-md-3 left_col">
                                {% include "app/sidebar.html" %}
                            </div>
                        {% endblock sidebar %}

                        {% block top_navigation %}
                            <div class="top_nav">
                                
                            {% include "app/top_navigation.html" %}
                            </div>
                        {% endblock top_navigation %}

                        {% block content %}
                            <h3 style="color: red">
                            {{ message }}
                            </h3>
                            
                        {% endblock content %}

                        {% block footer %}
                            
                        {% endblock footer %}

                    </div>
                
                </div>
                {% include "app/footer.html" %}
            {% endblock body %}
        </div>
                    
    </body>
            
        <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>

        <!-- Bootstrap -->
        <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <!-- FastClick -->
        <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
        <!-- NProgress -->
        <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
        <!-- bootstrap-progressbar -->
        <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
        <!-- iCheck -->
        <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="{% static 'vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js' %}"></script>
        <script src="{% static 'vendors/jquery.hotkeys/jquery.hotkeys.js' %}"></script>
        <script src="{% static 'vendors/google-code-prettify/src/prettify.js' %}"></script>
        <!-- jQuery Tags Input -->
        <script src="{% static 'vendors/jquery.tagsinput/src/jquery.tagsinput.js' %}"></script>
        <!-- Switchery -->
        <script src="{% static 'vendors/switchery/dist/switchery.min.js' %}"></script>
        <!-- Parsley -->
        <script src="{% static 'vendors/parsleyjs/dist/parsley.min.js' %}"></script>
        <!-- Autosize -->
        <script src="{% static 'vendors/autosize/dist/autosize.min.js' %}"></script>
        <!-- jQuery autocomplete -->
        <script src="{% static 'vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js' %}"></script>
        <!-- starrr -->
        <script src="{% static 'vendors/Highcharts/code/highcharts.src.js' %}"></script>
        <script src="{% static 'vendors/Highcharts/code/highcharts-3d.js' %}"></script>
        <script src="{% static 'vendors/Highcharts/code/modules/exporting.js' %}"></script>
        <!-- Datatables -->
        <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
        <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>

    <!--Select2-->
        <script src="{% static 'vendors/select2/dist/js/select2.js' %}"></script>
        <script src="{% static 'vendors/select2/dist/js/select2.full.js' %} "></script>
        <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
        <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
        <!-- DateJS -->
        <script src="{% static 'vendors/DateJS/build/date.js' %}"></script>
        <!-- JQVMap -->

    <!-- Custom Theme Scripts -->
        <script src="{% static 'build/js/custom.min.js' %}"></script>


        <!-- New js resources -->
        <script src="{% static 'js/myjs/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'js/myjs/jquery-ui-1.12.1/jquery-ui.js' %}"></script>
        <script src="{% static 'js/myjs/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'js/myjs/pager/paging.js' %}"></script>
        <script src="{% static 'js/myjs/myjs.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () 
        {
            $(".datetimeinput").datepicker({changeYear: true,changeMonth: true, dateFormat: 'yy-mm-dd'});
            $('#invoice-table').DataTable(
            {
            dom: 'Bfrtip',
            iDisplayLength: 15,
                buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                        'print',
                        'pageLength',
                        
                        ],
            search: true,
            responsive: true
            }
            );
            }
            );
        $(document).ready(function () {
                    $('.datepicker').datepicker();
                });

        var total = 0;
            $('.sum_table tr td.rowDataSd').each(function() {
                total += parseInt($(this).text());
            });
            $('.sum_table span.totalCol').text("Total Amount: " + total);

            $("#success-alert").delay(6000).fadeOut('slow');
            $(document).ready(function () {
                $(".dropdown-btn").click(function (e) {
                    e.preventDefault();
                    $('.dropdown').toggle();
                });
            });

            $('#myTable').DataTable( {
            responsive: true
            } );

            $.fakeLoader();
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
    </script>


</html>

