<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="#" class="site_title"><i class="fa fa-spinner"></i>
            <span>UCC Bwaise</span>
        </a>
    </div>

    <div class="clearfix"></div>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a href="#"><i class="fa fa-dashboard"></i> Registration <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'members-register'%}">Register Members</a></li>
                        <li><a href="#"> Register Visitor</a></li>
                        <li><a href="#"> Church Members List</a></li>
                    </ul>

                </li>
                <li><a href="#"><i class="fa fa-cubes"></i> Theme</a></li>
                <li><a href="#"><i class="fa fa-language"></i> Language</a></li>
                <li><a><i class="fa fa-dollar"></i> Payroll <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">Salary Grade</a></li>
                        <li><a href="#"> Salary Payment</a></li>
                        <li><a href="#"> Payment History</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-dollar"></i> Payroll <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">Salary Grade</a></li>
                        <li><a href="#"> Salary Payment</a></li>
                        <li><a href="#"> Payment History</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <br>
</div>