{% if user.is_authenticated %}
<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="{% url 'index' %}" class="site_title"><i class="fa fa-spinner"></i>
            <span>UCC Bwaise</span>
        </a>
    </div>

    <div class="clearfix"></div>
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li><a href="#"><i class="fa fa-user"></i> Church Members <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'members-register'%}">Register Members</a></li>
                        <li><a href="{% url 'visitors-register'%}"> Register Visitor</a></li>
                        <li><a href="{% url 'members-list'%}"> Church Members List</a></li>
                        <li><a href="{% url 'visitors-list'%}"> List of visitors</a></li>

                    </ul>
                </li>
                <li><a><i class="fa fa-calculator"></i> Record Revenues <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'Enter_Offerings' %}">Offerings</a></li>
                        <li><a href="{% url 'Enter_Tithes' %}">Tithes</a></li>
                        <li><a href="#">Seeds</a></li>
                        <li><a href="#">Donations</a></li>
                        <li><a href="#">Thanks Giving</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-tty"></i> Record Expenditures <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'enter_expenditure'  %}">Main Expenditure</a>
                        </li>
                        <li><a href="{% url 'enter_sundryexpense'  %}">Petty Expenses</a>
                        </li>
                        <li><a href="{% url 'give-allowance'  %}">Allowances</a>
                        </li>
                        <li><a href="#">Salaries</a>
                        </li>
                    </ul>
                </li>
                <li><a><i class="fa fa-dollar"></i> Pledges Module <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'add-pledge-item' %}">Add Pledge Items</a></li>
                        <li><a href="{% url 'list-of-pledge-items' %}">List of Pledge Items</a></li>
                        <li><a href="{% url 'Enter_Pledges' %}">Record Pledges</a></li>
                        <li><a href="{% url 'archived-pledge-debts' %}">Pledges Not Cleared</a></li>
                        <li><a href="{% url 'pledges-paid-list' %}">Pledge Payments</a></li>
                    </ul>
                </li>

                <li><a><i class="fa fa-dashboard"></i> Monthly Reports <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'expenditurereport'  %}"> Main Expenses Reports</a></li>
                        <li><a href="{% url 'Offeringsreport'  %}"> Offerings Reports</a></li>
                        <li><a href="{% url 'Tithesreport'  %}"> Tithes Reports</a></li>
                        <li><a href="{% url 'Pledgesreport'  %}"> Pledges Reports</a></li>
                        <li><a href="{% url 'sundryreport'  %}"> Petty Expenses Reports</a></li>
                        <li><a href="{% url 'allowancereport'  %}"> Allowances Reports</a></li>
                        <li><a href="{% url 'current-month-salaries'  %}"> Salaries Report</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-folder-open"></i> Archived Reports <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'expensesarchivessearch' %}"> Main Expenses Archived</a></li>
                        <li><a href="{% url 'offeringsarchivessearch' %}"> Offerings Archived</a></li>
                        <li><a href="{% url 'tithesarchivessearch' %}"> Tithes Archived</a></li>
                        <li><a href="{% url 'pledgesarchivessearch' %}"> Pledges Archived</a></li>
                        <li><a href="{% url 'sundryarchivessearch' %}"> Petty Expenses Archived</a></li>
                        <li><a href="{% url 'allowancearchivessearch' %}"> Allowances Archived</a></li>
                        <li><a href="{% url 'salariespaidarchivessearch' %}"> Salaries Archived</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-group"></i> Church Employees <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{% url 'employee-register' %}">Add Employees</a></li>
                        <li><a href="{% url 'employee-list' %}">Employee List</a></li>
                    </ul>
                </li>
                <li><a><i class="glyphicon glyphicon-film"></i> Church Departments <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">Youth </a></li>
                        <li><a href="#">Worship Team</a></li>
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Teens</a></li>
                        <li><a href="#">Sunday School</a></li>
                        <li><a href="#">Technical</a></li>
                        <li><a href="#">Building</a></li>
                        <li><a href="#">Ushering</a></li>
                    </ul>
                </li>
                <li><a><i class="glyphicon glyphicon-tint"></i> Church Groups <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">God is Able </a></li>
                        <li><a href="#">Winners</a></li>
                        <li><a href="#">Isscar</a></li>
                        <li><a href="#">Victors</a></li>
                        <li><a href="#">Biyinzika</a></li>
                        <li><a href="#">Overcomers</a></li>
                    </ul>
                </li>

                <li><a><i class="glyphicon glyphicon-star"></i> Home Cells <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">Church Zone </a></li>
                        <li><a href="#">Kabira Zone</a></li>
                        <li><a href="#">Lugoba Zone</a></li>
                        <li><a href="#">Kafunda Zone</a></li>
                        <li><a href="#">Lugoba Zone</a></li>
                        <li><a href="#">Katooke Zone</a></li>
                    </ul>
                </li>
                <li><a><i class="glyphicon glyphicon-calendar"></i> Calendar Events <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">Lwaki Olimulamu Conference</a></li>
                        <li><a href="#">Radio Program</a></li>
                        <li><a href="#">Inter UCC Sports</a></li>
                        <li><a href="#">Church Day Out</a></li>
                        <li><a href="#">Women's Day/a></li>
                        <li><a href="#">Men's Day</a></li>
                        <li><a href="#">Youth Conference</a></li>
                        <li><a href="#">Crusade</a></li>
                    </ul>
                </li>
                <li><a><i class="glyphicon glyphicon-map-marker"></i> Missions<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Eastern Region</a></li>
                        <li><a href="#">Western Region</a></li>
                        <li><a href="#">Central Region</a></li>
                        <li><a href="#">Northern Region</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <br>
</div>
{% else %}

{% endif %}
