{% if user.is_authenticated %}
<div class="nav_menu">
    <nav>
        <div class="col-md-1">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
{% load static %}
        <div class="col-md-7">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="border border-light grey-text">
                        <h3>
                            {% if custom_header %}
                                <span class="name">{{ custom_header }}</span>
                            {% else %}
                                <span class="name"> Web System</span>
                                <span class="regular">| United Christian Center - Bwaise</span>
                                <img width="20%" src="{% static 'media/logo.jpg' %}">
                            {% endif %}
                        </h3>

                    </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">

                        <i><img src="{{ request.user.full_name.Photo.url }}" /><i> <b style="color: red; font-size: 120%">{{ request.user.username }}
                        <span class=" fa fa-angle-down"></span></b>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-left">
                        <li><a href="#"> Profile</a></li>
                        <li><a href="#"> Change Password</a></li>
                        <li><a href="{% url 'logout'%}"><i class="fa fa-sign-out pull-left"></i>Log Out</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>

       <!--fade up notification upon successful redirect-->
            {% if messages %}
            <div class="col-lg-6" style="float: right">
                <div class="alert alert-info" id="success-alert">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    {% if request.user.Role == 'Admin' or request.user.Role == 'Secretary' %}
                     <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                         <span class="lead">Dear {{user.full_name}}...</span>
                     {% endif %}    
                    <ul>
                        {% for message in messages %}
                        <h1 style="font-weight: bolder" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h1>
                        {% endfor %}
                    </ul>
               </div>
            </div>       
           {% endif %} 
</div>
{% else %}
{% endif %}