{% extends 'home/base.html' %}

<body>

{% block content %}

  <h1 style="text-align: center">Event Details</h1><hr>

    <section class="page-event-details-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="page-event-details">
                        <div class="banner">
                            {% if event.image %}
                                <img src="{{ event.image.url }}"
                                     alt="">
                            {% endif %}
                        </div>
                        <h2 class="title">{{ event.event_title }}</h2>
                        <p>Event Date: {{ event.from_date }} </p><br><hr>
                      
                        <div class="text">{{event.note|linebreaksbr}}</div>
                    </div>
                </div>

                <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12">
                    <div class="sidebar">
                        <div class="sidebar-widget">
                            <h2 class="sidebar-title">Latest Event</h2>
                            <ul class="widget-event">
                                {% for events in more_events %}
                                    <li>
                                       <a href="{% url 'event_detail' events.pk %}">
                                         <span class="img">
                                             {% if events.image %}
                                                 <img src="{{ events.image.url }}" alt="">
                                             {% endif %}
                                         </span>
                                          <span class="content">
                                            <span class="title">{{ events.event_title }}</span>
                                            Starting {{ events.from_date }}
                                         </span>
                                       </a>  
                                    </li>
                                {% endfor %}

                            </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

</body>
