{% extends 'home/base.html' %}


<body>

{% block content %}

    <section class="page-breadcumb-area bg-with-black">
        <div class="container text-center">
            <h2 class="title">Event Detail</h2>
            <ul class="links">
                <li><a href="{% url 'index_public' %}">Home</a></li>
                <li><a href="{% url 'event_wall' %}">Events</a></li>
                <li><a href="javascript:void(0);">Event Detail</a></li>
            </ul>
        </div>
    </section>

    <section class="page-event-details-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="page-event-details">
                        <div class="banner">
                            {% if event.image %}
                                <img src="{{ event.image.url }}"
                                     alt="">
                            {% endif %}
                        </div>
                        <h2 class="title">{{ event.event_title }}</h2>
                        <ul class="event-meta">
                            <li class="info"><span class="icon"><i class="fa fa-user"></i></span> {{ event.event_for }}
                                (Event for)
                            </li>
                            <li class="info"><span class="icon"><i
                                    class="fa fa-calendar"></i></span> {{ event.from_date }}
                                (Start Date)
                            </li>
                            <li class="info"><span class="icon"><i
                                    class="far fa-calendar-alt"></i></span> {{ event.to_date }}
                                (End Date)
                            </li>
                            <li class="info"><span class="icon"><i class="fas fa-map-marker"></i></span> {{event.event_place}}
                            </li>
                        </ul>
                        <h2 class="info-title">Event Information :</h2>
                        <div class="text">{{event.note|linebreaks}}</div>
                    </div>
                </div>

                <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12">
                    <div class="sidebar">
                        <div class="sidebar-widget">
                            <h2 class="sidebar-title">Latest Event</h2>
                            <ul class="widget-event">
                                {% for events in more_events %}
                                    <li>
                                       <a href="{% url 'event_detail' events.pk %}">
                                         <span class="img">
                                             {% if events.image %}
                                                 <img src="{{ events.image.url }}" alt="">
                                             {% endif %}
                                         </span>
                                          <span class="content">
                                            <span class="title">{{ events.event_title }}</span>
                                            Starting {{ events.from_date }}
                                         </span>
                                       </a>  
                                    </li>
                                {% endfor %}

                            </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

</body>
