{% extends 'home/base.html' %}
{% load static contact_tags %}
<body>

{% block content %}
<div class="container-fluid" style="background-color: white;">
    <div class="menu">
        <nav id="mobile_menu_active">
            <ul id="menu" style="text-align: left;">
                <li><a style="color: black;" href="#">Core Values</a></li>
                <li><a class="text btn-sm btn-warning" href="{% url 'abouts_mission' %}">Mission</a></li>
                <li><a style="color: black;" href="{% url 'abouts_vision' %}">Vision</a></li>
            </ul>
        </nav>
    </div>
</div>
    <section class="page-event-area" style="margin-top: -3%">
        
        <div class="container">
            <div class="row justify-content-center">

                <p class="title" style="text-align: center; font-size: 45px;">Church Mission: {% church_mission %}</p>
                {% for about in abouts %}
                    <div>
                        <div class="col-lg-12 single-event">
                            {% comment %}
                                <div class="img col-lg-4">
                                    {% if about.about_image %}
                                        <img src="{{ about.about_image.url }}" alt="">
                                    {% endif %}
                                </div>
                            {% endcomment %}

                            <div class="content" >
                                <p class="info text" style="font-size: 18px;">{{ about.mission_description|linebreaksbr }}</p>
                                   
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

</body>
