{% extends 'home/base.html' %}
{% load static contact_tags %}
<body>

{% block content %}
    <section class="page-breadcumb-area">
        <div class="container text-center">
            <ul class="menu">
                <li><a href="#">Core Values</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#" class="active">Vision</a></li>
            </ul>
        </div>
    </section>

    <section class="page-event-area">
        
        <div class="container">
            <div class="row justify-content-center">
                <p class="title" style="text-align: center; font-size: 45px;">{% church_vision %}</p>
                {% for about in abouts %}
                    <div class="col-lg-12 single-event">

                        {% comment %}
                            <div class="img col-lg-4">
                                {% if about.about_image %}
                                    <img src="{{ about.about_image.url }}" alt="">
                                {% endif %}
                            </div>
                        {% endcomment %}

                        <div class="content" >
                            <p class="info text" style="font-size: 18px;">{{ about.vision_description|linebreaksbr }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

</body>
