{% extends 'home/base.html' %}
{% load static contact_tags %}
{% block title %} UCC Bwaise | About{% endblock title %}
{% block content %}
    <style>
        .topnav {
          overflow: hidden;
          background-color: #333;
        }
        
        .topnav a {
          float: center;
          color: #f2f2f2;
          text-align: center;
          padding: 5px 6px;
          text-decoration: none;
          font-size: 17px;
        }
        
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        
        .topnav a.active {
          background-color: #4CAF50;
          color: white;
        }
        p{
            font-size:20px;
        }
    </style>
    <div class="topnav">
        <a class="active"  href="{% url 'church_details' %}">About</a>
        <a  href="{% url 'abouts_mission' %}">Mission </a>
        <a href="{% url 'abouts_vision' %}">Vision</a>
        <a href="{% url 'core_values' %}">Cole Values </a>
        <a href="{% url 'cells' %}">Home Cells </a>
        <a href="{% url 'groups' %}">Church Groups</a>
        
    </div>
    <section class="page-event-area" style="margin-top: -5%">
        <p class="title" style="text-align: center; font-size: 25px;">About UCC Bwaise</p>
        <hr />
        <div class="container">
            <div class="row">
                
                <div class="card border-secondary mb-3" style="max-width: 50rem; padding:5px;">
                    
                <img src="{% static 'img/pastors/pr_joshua.png' %}" height="200">
                  <div class="card-header">Lead Pastor</div>
                  <div class="card-body text-primary">
                        <h5 class="card-title">Pr. Joshua Zake</h5>
                        <p class="card-text">
                            The overseer of all ministry activities at the church as a vision bearer.
                        </p>
                  </div>
                </div>
                
                <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_kyejjo.png' %}" style="height:100%">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-secondary">
                    <h5 class="card-title">Pr. Henry Musubize</h5>
                    <p class="card-text">
                        Spearheads lwaki oli mulamu missions around the country.
                        </p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_posiano.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Posiano Sande</h5>
                    <p class="card-text">Assists the other pastors in strengthening the believers at the church.</p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_rebecca.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Rebecca Sanyu</h5>
                    <p class="card-text">Assists in organising the Lwaki oli mulamu missions across the country.</p>
                  </div>
                </div>
                
                 <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_mukisa.jpg' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-success">
                    <h5 class="card-title">Pr. Ronald Mukisa</h5>
                    <p class="card-text">Leads the envagelical team at church as well as maintaining the prayer altar.</p>
                  </div>
                </div>
                
                
                
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                {% for detail in details %}
                {% if detail.church_details is not None %}
                <div class="col-lg-12">

                    <div class="content">
                        <p class="info text">{{ detail.church_details|safe }}
                        </p>

                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% extends 'home/base.html' %}
{% load static contact_tags %}
{% block title %} UCC Bwaise | About{% endblock title %}
{% block content %}
    <style>
        .topnav {
          overflow: hidden;
          background-color: #333;
        }
        
        .topnav a {
          float: center;
          color: #f2f2f2;
          text-align: center;
          padding: 5px 6px;
          text-decoration: none;
          font-size: 17px;
        }
        
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        
        .topnav a.active {
          background-color: #4CAF50;
          color: white;
        }
        p{
            font-size:20px;
        }
    </style>
    <div class="topnav">
        <a class="active"  href="{% url 'church_details' %}">About</a>
        <a  href="{% url 'abouts_mission' %}">Mission </a>
        <a href="{% url 'abouts_vision' %}">Vision</a>
        <a href="{% url 'core_values' %}">Cole Values </a>
        <a href="{% url 'cells' %}">Home Cells </a>
        <a href="{% url 'groups' %}">Church Groups</a>
        
    </div>
    <section class="page-event-area" style="margin-top: -5%">
        <p class="title" style="text-align: center; font-size: 25px;">About UCC Bwaise</p>
        <hr />
        <div class="container">
            <div class="row">
                
                <div class="card border-secondary mb-3" style="max-width: 50rem; padding:5px;">
                    
                <img src="{% static 'img/pastors/pr_joshua.png' %}" height="200">
                  <div class="card-header">Lead Pastor</div>
                  <div class="card-body text-primary">
                        <h5 class="card-title">Pr. Joshua Zake</h5>
                        <p class="card-text">
                            The overseer of all ministry activities at the church as a vision bearer.
                        </p>
                  </div>
                </div>
                
                <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_kyejjo.png' %}" style="height:100%">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-secondary">
                    <h5 class="card-title">Pr. Henry Musubize</h5>
                    <p class="card-text">
                        Spearheads lwaki oli mulamu missions around the country.
                        </p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_posiano.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Posiano Sande</h5>
                    <p class="card-text">Assists the other pastors in strengthening the believers at the church.</p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_rebecca.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Rebecca Sanyu</h5>
                    <p class="card-text">Assists in organising the Lwaki oli mulamu missions across the country.</p>
                  </div>
                </div>
                
                 <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_mukisa.jpg' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-success">
                    <h5 class="card-title">Pr. Ronald Mukisa</h5>
                    <p class="card-text">Leads the envagelical team at church as well as maintaining the prayer altar.</p>
                  </div>
                </div>
                
                
                
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                {% for detail in details %}
                {% if detail.church_details is not None %}
                <div class="col-lg-12">

                    <div class="content">
                        <p class="info text">{{ detail.church_details|safe }}
                        </p>

                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% extends 'home/base.html' %}
{% load static contact_tags %}
{% block title %} UCC Bwaise | About{% endblock title %}
{% block content %}
    <style>
        .topnav {
          overflow: hidden;
          background-color: #333;
        }
        
        .topnav a {
          float: center;
          color: #f2f2f2;
          text-align: center;
          padding: 5px 6px;
          text-decoration: none;
          font-size: 17px;
        }
        
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        
        .topnav a.active {
          background-color: #4CAF50;
          color: white;
        }
        p{
            font-size:20px;
        }
    </style>
    <div class="topnav">
        <a class="active"  href="{% url 'church_details' %}">About</a>
        <a  href="{% url 'abouts_mission' %}">Mission </a>
        <a href="{% url 'abouts_vision' %}">Vision</a>
        <a href="{% url 'core_values' %}">Cole Values </a>
        <a href="{% url 'cells' %}">Home Cells </a>
        <a href="{% url 'groups' %}">Church Groups</a>
        
    </div>
    <section class="page-event-area" style="margin-top: -5%">
        <p class="title" style="text-align: center; font-size: 25px;">About UCC Bwaise</p>
        <hr />
        <div class="container">
            <div class="row">
                
                <div class="card border-secondary mb-3" style="max-width: 50rem; padding:5px;">
                    
                <img src="{% static 'img/pastors/pr_joshua.png' %}" height="200">
                  <div class="card-header">Lead Pastor</div>
                  <div class="card-body text-primary">
                        <h5 class="card-title">Pr. Joshua Zake</h5>
                        <p class="card-text">
                            The overseer of all ministry activities at the church as a vision bearer.
                        </p>
                  </div>
                </div>
                
                <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_kyejjo.png' %}" style="height:100%">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-secondary">
                    <h5 class="card-title">Pr. Henry Musubize</h5>
                    <p class="card-text">
                        Spearheads lwaki oli mulamu missions around the country.
                        </p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_posiano.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Posiano Sande</h5>
                    <p class="card-text">Assists the other pastors in strengthening the believers at the church.</p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_rebecca.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Rebecca Sanyu</h5>
                    <p class="card-text">Assists in organising the Lwaki oli mulamu missions across the country.</p>
                  </div>
                </div>
                
                 <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_mukisa.jpg' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-success">
                    <h5 class="card-title">Pr. Ronald Mukisa</h5>
                    <p class="card-text">Leads the envagelical team at church as well as maintaining the prayer altar.</p>
                  </div>
                </div>
                
                
                
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                {% for detail in details %}
                {% if detail.church_details is not None %}
                <div class="col-lg-12">

                    <div class="content">
                        <p class="info text">{{ detail.church_details|safe }}
                        </p>

                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% extends 'home/base.html' %}
{% load static contact_tags %}
{% block title %} UCC Bwaise | About{% endblock title %}
{% block content %}
    <style>
        .topnav {
          overflow: hidden;
          background-color: #333;
        }
        
        .topnav a {
          float: center;
          color: #f2f2f2;
          text-align: center;
          padding: 5px 6px;
          text-decoration: none;
          font-size: 17px;
        }
        
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        
        .topnav a.active {
          background-color: #4CAF50;
          color: white;
        }
        p{
            font-size:20px;
        }
    </style>
    <div class="topnav">
        <a class="active"  href="{% url 'church_details' %}">About</a>
        <a  href="{% url 'abouts_mission' %}">Mission </a>
        <a href="{% url 'abouts_vision' %}">Vision</a>
        <a href="{% url 'core_values' %}">Cole Values </a>
        <a href="{% url 'cells' %}">Home Cells </a>
        <a href="{% url 'groups' %}">Church Groups</a>
        
    </div>
    <section class="page-event-area" style="margin-top: -5%">
        <p class="title" style="text-align: center; font-size: 25px;">About UCC Bwaise</p>
        <hr />
        <div class="container">
            <div class="row">
                
                <div class="card border-secondary mb-3" style="max-width: 50rem; padding:5px;">
                    
                <img src="{% static 'img/pastors/pr_joshua.png' %}" height="200">
                  <div class="card-header">Lead Pastor</div>
                  <div class="card-body text-primary">
                        <h5 class="card-title">Pr. Joshua Zake</h5>
                        <p class="card-text">
                            The overseer of all ministry activities at the church as a vision bearer.
                        </p>
                  </div>
                </div>
                
                <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_kyejjo.png' %}" style="height:100%">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-secondary">
                    <h5 class="card-title">Pr. Henry Musubize</h5>
                    <p class="card-text">
                        Spearheads lwaki oli mulamu missions around the country.
                        </p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_posiano.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Posiano Sande</h5>
                    <p class="card-text">Assists the other pastors in strengthening the believers at the church.</p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_rebecca.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Rebecca Sanyu</h5>
                    <p class="card-text">Assists in organising the Lwaki oli mulamu missions across the country.</p>
                  </div>
                </div>
                
                 <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_mukisa.jpg' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-success">
                    <h5 class="card-title">Pr. Ronald Mukisa</h5>
                    <p class="card-text">Leads the envagelical team at church as well as maintaining the prayer altar.</p>
                  </div>
                </div>
                
                
                
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                {% for detail in details %}
                {% if detail.church_details is not None %}
                <div class="col-lg-12">

                    <div class="content">
                        <p class="info text">{{ detail.church_details|safe }}
                        </p>

                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% extends 'home/base.html' %}
{% load static contact_tags %}
{% block title %} UCC Bwaise | About{% endblock title %}
{% block content %}
    <style>
        .topnav {
          overflow: hidden;
          background-color: #333;
        }
        
        .topnav a {
          float: center;
          color: #f2f2f2;
          text-align: center;
          padding: 5px 6px;
          text-decoration: none;
          font-size: 17px;
        }
        
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        
        .topnav a.active {
          background-color: #4CAF50;
          color: white;
        }
        p{
            font-size:20px;
        }
    </style>
    <div class="topnav">
        <a class="active"  href="{% url 'church_details' %}">About</a>
        <a  href="{% url 'abouts_mission' %}">Mission </a>
        <a href="{% url 'abouts_vision' %}">Vision</a>
        <a href="{% url 'core_values' %}">Cole Values </a>
        <a href="{% url 'cells' %}">Home Cells </a>
        <a href="{% url 'groups' %}">Church Groups</a>
        
    </div>
    <section class="page-event-area" style="margin-top: -5%">
        <p class="title" style="text-align: center; font-size: 25px;">About UCC Bwaise</p>
        <hr />
        <div class="container">
            <div class="row">
                
                <div class="card border-secondary mb-3" style="max-width: 50rem; padding:5px;">
                    
                <img src="{% static 'img/pastors/pr_joshua.png' %}" height="200">
                  <div class="card-header">Lead Pastor</div>
                  <div class="card-body text-primary">
                        <h5 class="card-title">Pr. Joshua Zake</h5>
                        <p class="card-text">
                            The overseer of all ministry activities at the church as a vision bearer.
                        </p>
                  </div>
                </div>
                
                <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_kyejjo.png' %}" style="height:100%">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-secondary">
                    <h5 class="card-title">Pr. Henry Musubize</h5>
                    <p class="card-text">
                        Spearheads lwaki oli mulamu missions around the country.
                        </p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_posiano.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Posiano Sande</h5>
                    <p class="card-text">Assists the other pastors in strengthening the believers at the church.</p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_rebecca.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Rebecca Sanyu</h5>
                    <p class="card-text">Assists in organising the Lwaki oli mulamu missions across the country.</p>
                  </div>
                </div>
                
                 <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_mukisa.jpg' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-success">
                    <h5 class="card-title">Pr. Ronald Mukisa</h5>
                    <p class="card-text">Leads the envagelical team at church as well as maintaining the prayer altar.</p>
                  </div>
                </div>
                
                
                
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                {% for detail in details %}
                {% if detail.church_details is not None %}
                <div class="col-lg-12">

                    <div class="content">
                        <p class="info text">{{ detail.church_details|safe }}
                        </p>

                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% extends 'home/base.html' %}
{% load static contact_tags %}
{% block title %} UCC Bwaise | About{% endblock title %}
{% block content %}
    <style>
        .topnav {
          overflow: hidden;
          background-color: #333;
        }
        
        .topnav a {
          float: center;
          color: #f2f2f2;
          text-align: center;
          padding: 5px 6px;
          text-decoration: none;
          font-size: 17px;
        }
        
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        
        .topnav a.active {
          background-color: #4CAF50;
          color: white;
        }
        p{
            font-size:20px;
        }
    </style>
    <div class="topnav">
        <a class="active"  href="{% url 'church_details' %}">About</a>
        <a  href="{% url 'abouts_mission' %}">Mission </a>
        <a href="{% url 'abouts_vision' %}">Vision</a>
        <a href="{% url 'core_values' %}">Cole Values </a>
        <a href="{% url 'cells' %}">Home Cells </a>
        <a href="{% url 'groups' %}">Church Groups</a>
        
    </div>
    <section class="page-event-area" style="margin-top: -5%">
        <p class="title" style="text-align: center; font-size: 25px;">About UCC Bwaise</p>
        <hr />
        <div class="container">
            <div class="row">
                
                <div class="card border-secondary mb-3" style="max-width: 50rem; padding:5px;">
                    
                <img src="{% static 'img/pastors/pr_joshua.png' %}" height="200">
                  <div class="card-header">Lead Pastor</div>
                  <div class="card-body text-primary">
                        <h5 class="card-title">Pr. Joshua Zake</h5>
                        <p class="card-text">
                            The overseer of all ministry activities at the church as a vision bearer.
                        </p>
                  </div>
                </div>
                
                <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_kyejjo.png' %}" style="height:100%">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-secondary">
                    <h5 class="card-title">Pr. Henry Musubize</h5>
                    <p class="card-text">
                        Spearheads lwaki oli mulamu missions around the country.
                        </p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_posiano.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Posiano Sande</h5>
                    <p class="card-text">Assists the other pastors in strengthening the believers at the church.</p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_rebecca.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Rebecca Sanyu</h5>
                    <p class="card-text">Assists in organising the Lwaki oli mulamu missions across the country.</p>
                  </div>
                </div>
                
                 <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_mukisa.jpg' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-success">
                    <h5 class="card-title">Pr. Ronald Mukisa</h5>
                    <p class="card-text">Leads the envagelical team at church as well as maintaining the prayer altar.</p>
                  </div>
                </div>
                
                
                
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                {% for detail in details %}
                {% if detail.church_details is not None %}
                <div class="col-lg-12">

                    <div class="content">
                        <p class="info text">{{ detail.church_details|safe }}
                        </p>

                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% extends 'home/base.html' %}
{% load static contact_tags %}
{% block title %} UCC Bwaise | About{% endblock title %}
{% block content %}
    <style>
        .topnav {
          overflow: hidden;
          background-color: #333;
        }
        
        .topnav a {
          float: center;
          color: #f2f2f2;
          text-align: center;
          padding: 5px 6px;
          text-decoration: none;
          font-size: 17px;
        }
        
        .topnav a:hover {
          background-color: #ddd;
          color: black;
        }
        
        .topnav a.active {
          background-color: #4CAF50;
          color: white;
        }
        p{
            font-size:20px;
        }
    </style>
    <div class="topnav">
        <a class="active"  href="{% url 'church_details' %}">About</a>
        <a  href="{% url 'abouts_mission' %}">Mission </a>
        <a href="{% url 'abouts_vision' %}">Vision</a>
        <a href="{% url 'core_values' %}">Cole Values </a>
        <a href="{% url 'cells' %}">Home Cells </a>
        <a href="{% url 'groups' %}">Church Groups</a>
        
    </div>
    <section class="page-event-area" style="margin-top: -5%">
        <p class="title" style="text-align: center; font-size: 25px;">About UCC Bwaise</p>
        <hr />
        <div class="container">
            <div class="row">
                
                <div class="card border-secondary mb-3" style="max-width: 50rem; padding:5px;">
                    
                <img src="{% static 'img/pastors/pr_joshua.png' %}" height="200">
                  <div class="card-header">Lead Pastor</div>
                  <div class="card-body text-primary">
                        <h5 class="card-title">Pr. Joshua Zake</h5>
                        <p class="card-text">
                            The overseer of all ministry activities at the church as a vision bearer.
                        </p>
                  </div>
                </div>
                
                <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_kyejjo.png' %}" style="height:100%">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-secondary">
                    <h5 class="card-title">Pr. Henry Musubize</h5>
                    <p class="card-text">
                        Spearheads lwaki oli mulamu missions around the country.
                        </p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_posiano.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Posiano Sande</h5>
                    <p class="card-text">Assists the other pastors in strengthening the believers at the church.</p>
                  </div>
                </div>
                
                <div class="card border-danger mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_rebecca.png' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">Pr. Rebecca Sanyu</h5>
                    <p class="card-text">Assists in organising the Lwaki oli mulamu missions across the country.</p>
                  </div>
                </div>
                
                 <div class="card border-secondary mb-3" style="max-width: 50rem;">
                    <img src="{% static 'img/pastors/pr_mukisa.jpg' %}" height="200">
                  <div class="card-header">Associate Pastor</div>
                  <div class="card-body text-success">
                    <h5 class="card-title">Pr. Ronald Mukisa</h5>
                    <p class="card-text">Leads the envagelical team at church as well as maintaining the prayer altar.</p>
                  </div>
                </div>
                
                
                
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                {% for detail in details %}
                {% if detail.church_details is not None %}
                <div class="col-lg-12">

                    <div class="content">
                        <p class="info text">{{ detail.church_details|safe }}
                        </p>

                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
