{% extends 'home/base.html' %}
{% load static contact_tags %}

<body>

    {% block content %}
    <div class="container-fluid" style="background-color: white;">
        <div class="menu">
            <ul id="menu" style="text-align: left;">
                <li><a class="text btn-sm btn-warning" href="#">About</a></li>
                <li><a style="color: black;" href="{% url 'abouts_mission' %}">Mission</a></li>
                <li><a style="color: black;" href="{% url 'abouts_vision' %}">Vision</a></li>
                <li><a  style="color: black;" href="{% url 'core_values' %}">Core Values</a></li>

            </ul>
        </div>
    </div>
    <section class="page-event-area" style="margin-top: -8%">
        <p class="title" style="text-align: center; font-size: 25px;">About UCC Bwaise</p>
        <hr />
        <div class="container">
            <div class="row justify-content-center">
                {% for detail in details %}
                {% if detail.church_details is not None %}
                <div class="col-lg-12">

                    <div class="content">
                        <p class="info text" style="font-size: 18px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                         'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{ detail.church_details|linebreaksbr }}
                        </p>

                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    {% endblock %}

</body>