
{% extends "app/base_site.html" %}
{% block content %}
{% load humanize %}
<head>
  <title>UCC Bwaise | General Offerings Report as of {{today}}</title>
</head>
<div class="" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h3 style="text-align: center;"><i class="fa fa fa-calendar-check-o"></i><b>GENERAL OFFERINGS MODULE</b></h3>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        
        <div class="x_content">
          <div class="" data-example-id="togglable-tabs">
            <ul class="nav nav-tabs bordered">
              <li role="presentation" class="active"><a href="{% url 'Offeringsreport' %}"><i
                          class="fa fa-list-ol"></i> General offerings</a>
              </li>
              <li role="presentation"><a href="{% url 'individual-offering' %}"><i
                  class="fa fa-list-ol"></i> Individual offerings</a>
                </li>
              {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}
              <li role="presentation"><a href="{% url 'Enter_Offerings' %}"><i
                    class="fa fa-plus-square-o"></i> Record Offering</a>
               </li>
               {% endif %}
               
              <li role="presentation"><a href="{% url 'offeringsarchivessearch' %}"><i
                  class="fa fa-plus-square-o"></i> Archived</a>
             </li>
            </ul>
          <h4 style="text-align: center">The general offerings Report as of {{today}}</h4>
          <div class="separator"></div>
            <h4 style="color: green; font-weight: 120%"><b>{{ message }}</b></h4>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab_invoice_list">
                <div class="x_content">                     
                  <table id="invoice-table" class=" sum_table table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <td>Date</td>
                        <td>Service</td>
                        <td>Amount</td>
                        <td>Action</td>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in items %}
                      <tr>
                        <td>{{ item.Date}}</td>
                        <td>{{ item.Service}}</td>
                        <td>{{ item.Amount |intcomma }}</td>
                        <td>
                            <a href="{% url 'edit-offerings' item.pk %}"class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit"> Edit</span></a>
                        </td>
                        
                        </tr>
                        
                        {% if forloop.last %}
                            <tr>
                              <td colspan="2">Total</td>
                              <td>{{ total |intcomma}}</td>
                            </tr>
                        {% endif %}
                      {% endfor %}
                      
                    </tbody>
                  </table>
                  <br>
                  
                  
                </div>
              </div>
            </div>
          </div>
          {% if items %}
          <a href="{% url 'offeringspdf' %}" target="_new" class="btn btn-info bt-sm" role="button"><span class="glyphicon glyphicon-print"> PRINT REPORT</span></a>
          {% endif %}
          <!-- Button trigger modal -->
          
        </div>
      </div>
    </div>
  </div>
</div> 

{% endblock content %}
