{% extends 'home/base.html' %}
 
<body>

{% block content %}

    <section class="page-breadcumb-area bg-with-black">
        <div class="container text-center">
            <h2 class="title">Christian Blogs</h2>
            <ul class="links">
                <li><a href="{% url 'index_public' %}">Home</a></li>
                <li><a href="javascript:void(0);">Blogs</a></li>
            </ul>
        </div>
    </section>

    <section class="page-news-area">
        <div class="container">
            <div class="row justify-content-center">

                {% for blog in blog_list %}
                    <div class="col-lg-4 col-md-6 col-sm-8 col-12">
                        <div class="single-news" style="height: 556px;">
                            <div class="img">
                                {% if blog.image %}
                                    <img src="{{ blog.image.url }}" alt="">
                                {% endif %}
                            
                            </div>
                            
                            <div class="content">
                                <ul class="meta">
                                    <li class="info"><span class="icon"><i class="fa fa-user"></i></span>By
                                        / {{ blog.author }}
                                    </li>
                                    <li class="info"><span class="icon"><i
                                            class="fa fa-calendar"></i></span>{{ blog.date }}
                                    </li>
                                </ul>
                                <h2 class="title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
                                </h2>
                                 
                                <div class="text">
                                    {{ blog.details|truncatewords:20|safe }}
                                </div>
                                <div class="more text-right">
                                    <a class="link glbscl-link-btn hvr-bs"
                                       href="{% url 'BlogPost_detail' blog.slug %}">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}

            </div>
            {% if blog_list.has_other_pages %}
            <nav aria-label="Page navigation conatiner" style="text-align: center">
                <ul class="pagination justify-content-center">
                    {% if blog_list.has_previous %}
                    <li><a href="?page={{ blog_list.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                    {% endif %}
                    {% if blog_list.has_next %}
                    <li><a href="?page={{ blog_list.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </section>
{% endblock %}
<script type="text/javascript">
    var sounds = document.getElementById("sounds");
    sounds.play();
</script>

</body>
