{% extends 'home/base.html' %}
{% load static  %} 
{% load comments %}
<body>
{% block content %}

    <section class="page-breadcumb-area bg-with-black">
        <div class="container text-center">
            <h2 class="title">Christian Blog</h2>
            <ul class="links">
                <li><a href="{% url 'index_public' %}">Home</a></li>
                <li><a href="{% url 'blogs_wall' %}">Blogs</a></li>
                <li><a href="javascript:void(0);">Blog Detail</a></li>
            </ul>
        </div>
    </section>
    <section class="page-news-details-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                    <div class="page-news-details">

                        <div class="banner">
                            {% if blogposts.image %}
                                <img src="{{ blogposts.image.url }}"
                                     alt="">
                            {% endif %}
                        </div>

                        <ul class="meta">
                            <li class="info"><span class="icon"><i class="fa fa-user"></i></span> By: {{ blogposts.author }}
                            </li>
                            <li class="info"><span class="icon"><i class="fa fa-calendar"></i></span> {{ blogposts.date }}
                            </li>
                        </ul>

                        <h2 class="title">{{ blogposts.title }}</h2>
                     
                        <p class="text" >{{ blogposts.details|safe }}</p>
                       <p>
                           Tags
                           {% for tag in blogposts.tags.all %}
                                <a href="{% url 'search_tagged_blogs' %}?q={{tag}}" style="text-decoration:none"><button type="button" class="btn btn-default">{{ tag }} </button> </a>
                             {% endfor %}
                        </p> 
                        <hr >
                        {% get_comment_count for blogposts as comment_count %}
                        <div class="py-4 text-center">
                        <a href="{% url 'blogs_wall' %}">Back to the Blog list</a>
                        &nbsp;&sdot;&nbsp;
                        {{ comment_count }} comment{{ comment_count|pluralize }}
                        ha{{ comment_count|pluralize:"s,ve" }} been posted.
                        </div>

                        {% if comment_count %}
                            <hr/>
                            <div class="comments">
                            {% render_comment_list for news %}
                            </div>
                        {% endif %}
                        
                    {% if not request.user.is_authenticated %}
                        <div class="card card-block mb-5">
                            <div class="card-body">
                                <h4 class="card-title text-center pb-3">Post your comment</h4>
                                {% render_comment_form for news %}
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12">
                    <div class="sidebar">
                        <div class="sidebar-widget">
                            <h2 class="sidebar-title">Other Blogs</h2>
                            <ul class="widget-news">
                                {% for blogposts in blog_list %}
                                    <li>
                                        <a href="{% url 'BlogPost_detail' blogposts.slug %}">
                                         <span class="img">
                                             {% if news.image %}
                                                 <img src="{{ blogposts.image.url }}" alt="">
                                             {% endif %}
                                         </span>

                                            <span class="content">
                                             <span class="meta">
                                                 <span class="info"><span class="icon"><i
                                                         class="fa fa-user"></i></span> By  {{ blogposts.author }}</span>
                                                 <span class="info"><span class="icon"><i
                                                         class="fa fa-calendar"></i></span> {{ blogposts.date }}</span>
                                             </span>
                                             <span class="title">{{ blogposts.title }}</span>
                                         </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% if blogs_list.has_other_pages %}
                        <nav aria-label="Page navigation conatiner" style="text-align: center">
                            <ul class="pagination justify-content-center">
                                {% if blogs_list.has_previous %}
                                <li><a href="?page={{ blogs_list.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                                {% endif %}
                                {% if blogs_list.has_next %}
                                <li><a href="?page={{ blogs_list.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

  
{% endblock  %}



