{% extends 'home/base.html' %}
{% block title %} {{ blogposts.title }}{% endblock %}
{% load static readtime %} 
{% load comments %}

{% block content %}

    <section class="page-breadcumb-area bg-with-black">
        <div class="container text-center">
            <ul class="links">
                <li><a href="{% url 'index_public' %}">Home</a></li>
                <li><a href="{% url 'blogs_wall' %}">All Blogs</a></li>
                <li><a href="javascript:void(0);">Blog Detail</a></li>
            </ul>
        </div>
    </section>
    <br >
    <div class="row">
    <div class="container-fluid">
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="page-news-details">

                    <div class="banner">
                        {% if blogposts.image %}
                            <img src="{{ blogposts.image.url }}"
                                 alt="">
                        {% endif %}
                    </div>

                    <ul class="meta">
                        <li class="info"><span class="icon"><i class="fa fa-user"></i></span> By: {{ blogposts.author }}
                        </li>
                        <li class="info"><span class="icon"><i class="fa fa-calendar"></i></span> {{ blogposts.date }}
                        </li>
                    </ul>
                    
                    <i>{{blogposts.details|readtime}} </i>

                    <h2 class="title">{{ blogposts.title }}</h2>
                 
                    <p class="text" >{{ blogposts.details|safe }}</p>
                    
                        
                        <br><br>
                          <h3 style="font:50px">
                           Tags:
                           {% for tag in blogposts.tags.all %}
                                <a href="{% url 'search_tagged_blogs' %}?q={{tag}}" style="text-decoration:none"><button type="button" class="btn btn-default"><h4>{{ tag }}</h4> </button> </a>
                             {% endfor %}
                          </h3> 
                        <hr >
                    
                    {% get_comment_count for blogposts as comment_count %}
                    <div class="py-4 text-center">
                    <a href="{% url 'blogs_wall' %}">Back to the Blog list</a>
                    &nbsp;&sdot;&nbsp;
                    {{ comment_count }} comment{{ comment_count|pluralize }}
                    ha{{ comment_count|pluralize:"s,ve" }} been posted.
                    </div>

                    {% if comment_count %}
                        <hr/>
                        <div class="comments">
                        {% render_comment_list for blogposts %}
                        </div>
                    {% endif %}
                    
                    <div class="card card-block mb-5">
                        <div class="card-body">
                            <h4 class="card-title text-center pb-3">Post your comment</h4>
                            {% render_comment_form for blogposts %}
                        </div>
                    </div>
                    <br>
                    <hr >
                    
                     {% if blogposts.reference_link %}
                        <h3>Recommended Resource</h3>
                        <p class="text" >{{ blogposts.reference_link|safe }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-3 offset-lg-0 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <h2 class="sidebar-title">Other Blogs</h2>
                        <ul class="widget-news">
                            {% for blogposts in blogs_list %}
                                <li>
                                    <a href="{% url 'BlogPost_detail' blogposts.slug %}">
                                     <span class="img">
                                         {% if blogposts.image %}
                                             <img src="{{ blogposts.image.url }}" alt="">
                                         {% endif %}
                                     </span>

                                        <span class="content">
                                         <span class="meta">
                                             <span class="info"><span class="icon"><i
                                                     class="fa fa-user"></i></span> By  {{ blogposts.author }}</span>
                                             <span class="info"><span class="icon"><i
                                                     class="fa fa-calendar"></i></span> {{ blogposts.date }}</span>
                                         </span>
                                         <span class="title">{{ blogposts.title }}</span>
                                     </span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if blogs_list.has_other_pages %}
                    <nav aria-label="Page navigation conatiner" style="text-align: center">
                        <ul class="pagination justify-content-center">
                            {% if blogs_list.has_previous %}
                            <li><a href="?page={{ blogs_list.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                            {% endif %}
                            {% if blogs_list.has_next %}
                            <li><a href="?page={{ blogs_list.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    

  
{% endblock  %}



