{% load static %}
<section class="elementor-section elementor-top-section elementor-element elementor-element-ab6350b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
         data-id="ab6350b"
         data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-626b8cc"
                 data-id="626b8cc"
                 data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-b5037cf elementor-widget elementor-widget-contactform"
                             data-id="b5037cf"
                             data-element_type="widget"
                             data-widget_type="contactform.default">
                            <div class="elementor-widget-container">
                                <div class="contact-form-wrapper cf-default">
                                    <div class="contact-form">
                                        <div role="form"
                                             class="wpcf7"
                                             id="wpcf7-f6358-p6522-o1"
                                             lang="en-US"
                                             dir="ltr">
                                            <div class="screen-reader-response">
                                                <p role="status" aria-live="polite" aria-atomic="true"></p>
                                            </div>
                                            {% include "includes/homepage/contact-partials/form1.html" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-c6d1862"
                 data-id="c6d1862"
                 data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-2d22aab elementor-widget elementor-widget-image"
                             data-id="2d22aab"
                             data-element_type="widget"
                             data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image">
                                    <noscript>
                                        <img width="768"
                                             height="888"
                                             src="{% static 'wp-content/uploads/sites/2/2019/11/contact-bg-5-1-1.jpg' %}"
                                             class="attachment-full size-full"
                                             alt=""
                                             srcset="https://elementor.zozothemes.com/zegen/wp-content/uploads/sites/2/2019/11/contact-bg-5-1-1.jpg 768w,
                                                     https://elementor.zozothemes.com/zegen/wp-content/uploads/sites/2/2019/11/contact-bg-5-1-1-600x694.jpg 600w"
                                             sizes="(max-width: 768px) 100vw,
                                                    768px"/>
                                    </noscript>
                                    <img width="768"
                                         height="888"
                                         src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20768%20888%22%3E%3C/svg%3E'
                                         data-src="{% static 'wp-content/uploads/sites/2/2019/11/contact-bg-5-1-1.jpg' %}"
                                         class="lazyload attachment-full size-full"
                                         alt=""
                                         data-srcset="https://elementor.zozothemes.com/zegen/wp-content/uploads/sites/2/2019/11/contact-bg-5-1-1.jpg 768w,
                                                      https://elementor.zozothemes.com/zegen/wp-content/uploads/sites/2/2019/11/contact-bg-5-1-1-600x694.jpg 600w"
                                         data-sizes="(max-width: 768px) 100vw, 768px"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
