{% load static %}
<header class="zegen-header header-absolute">
    <div class="header-inner">
        <div class="topbar clearfix">
            <div class="custom-container topbar-inner">
                <ul class="topbar-items nav pull-left">
                    <li class="nav-item">
                        <div class="nav-item-inner">
                            <div class="header-address">
                                <span class="ti-location-pin"></span> Nabweru - Lugoba Rd, Kampala, Uganda
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="topbar-items nav pull-right">
                    <li class="nav-item">
                        <div class="nav-item-inner">
                            <ul class="nav social-icons  social-squared social-white social-h-own social-bg-transparent social-hbg-transparent">
                                <li class="nav-item"> 
                                    <a href="https://www.facebook.com/zozothemes.official/" class="nav-link social-fb" target="_self"> <i class=" ti-facebook"></i> </a>
                                </li>

                                <li class="nav-item"> 
                                    <a href="https://twitter.com/zozothemes" class="nav-link social-twitter" target="_self"> <i class=" ti-twitter"></i> </a>
                                </li>
                                <li class="nav-item"> 
                                    <a href="https://www.instagram.com/zozotheme/" class="nav-link social-instagram" target="_self"> <i class=" ti-instagram"></i> </a>
                                </li>
                                <li class="nav-item"> 
                                    <a href="https://in.pinterest.com/zozothemesofficial/" class="nav-link social-pinterest" target="_self"> <i class=" ti-pinterest"></i> </a>
                                </li>
                                <li class="nav-item"> 
                                    <a href="https://www.youtube.com/channel/UCAOkwuYxJuOqiYAj1Vy5JIg" class="nav-link social-youtube" target="_self"> <i class=" ti-youtube"></i> </a>
                                </li>
                                <li class="nav-item"> 
                                    <a href="https://dribbble.com/zozothemes" class="nav-link social-dribbble" target="_self"> <i class=" ti-dribbble"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-item-inner">
                            <div class="search-toggle-wrap">
                                <a class="full-bar-search-toggle" href="{% url 'website' %}#"><i class="ti-search"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="full-bar-search-wrap">
                <form method="get" class="search-form" action="{% url 'website' %}">
                    <div class="input-group">
                        <input name="s" type="text" class="form-control" value="" placeholder="Search..">
                    </div>
                </form> 
                <a href="{% url 'website' %}#" class="close full-bar-search-toggle"></a>
            </div>
        </div>
        <div class="sticky-outer">
            <style>
                .ti-plus:before {
                    content: none;
                }

                .custom-logo {
                    width:300px;
                    height: 100px;
                    max-height: unset !important;
                    max-width: unset !important;
                    padding: 3px 0 !important;
                }
            </style>
            <div class="sticky-head">
                <nav class="navbar clearfix">
                    <div class="custom-container navbar-inner">
                        <ul class="navbar-items nav pull-left">
                            <li class="nav-item">
                                <div class="nav-item-inner">
                                    <div class="main-logo"> <a href="{% url 'website' %}" title="Zegen"><noscript>
                                        <img class="custom-logo img-responsive" src="{% static 'wp-content/uploads/sites/2/2019/11/Artboard 1 copy 2.jpg' %}" alt="Zegen" title="Zegen" /></noscript>
                                        <img class="lazyload custom-logo img-responsive" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="{% static 'images/logo.png' %}" alt="Zegen" title="Zegen" /></a>
                                    </div>
                                    <div class="sticky-logo">
                                        <a href="{% url 'website' %}" title="Zegen">
                                            <noscript>
                                                <img class="custom-logo img-responsive" src="{% static 'wp-content/uploads/sites/2/2019/11/Artboard 1 copy 2.jpg' %}" alt="Zegen" title="Zegen" />
                                            </noscript>
                                            <img class="lazyload custom-logo img-responsive" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="{% static 'images/logo.png' %}" alt="Zegen" title="Zegen" />
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-items nav pull-right">
                            <li class="nav-item">
                                <div class="nav-item-inner">
                                    <ul id="zegen-main-menu" class="nav zegen-main-menu">
                                        <li id="menu-item-16797" class="homeder menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children nav-item menu-item-16797"><a href="{% url 'website' %}#section-top" class="nav-link activer">Home</a>
                                        </li>

                                        <li id="menu-item-16798" class="menu-item menu-item-type-custom menu-item-object-custom nav-item menu-item-16798">
                                            <a href="{% url 'website' %}#section-about" class="nav-link">About</a>
                                        </li>

                                        <li id="menu-item-16799" class="menu-item menu-item-type-custom menu-item-object-custom nav-item menu-item-16799">
                                            <a href="{% url 'website' %}#section-sermon" class="nav-link">Sermons</a>
                                        </li>

                                        <li id="menu-item-16800" class="menu-item menu-item-type-custom menu-item-object-custom nav-item menu-item-16800">
                                            <a href="{% url 'website' %}#section-events" class="nav-link">Events</a>
                                        </li>
                                         
                                    </ul>
                                </div>
                            </li> 
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>