{% extends "app/base_site.html" %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1 style="text-align: center;" class="head-title"><i class="fa fa fa-calendar-check-o"></i> 
                        <b>TITHES MODULE</b></h1>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content quick-link">
                    <span style="color:red"><b>Other Reports:</b></span>
                    <a href="{% url  'expenditurereport' %}"> Main Expenses</a>
                    |<a href="{% url 'general-expenses-report' %}"> General Expenses</a>
                    |<a href="{% url 'Offeringsreport' %}"> Offerings</a>
                    |<a href="{% url 'Tithesreport' %}"> Tithes</a>
                    |<a href="{% url 'Pledgesreport' %}"> Pledges</a>
                    |<a href="{% url 'sundryreport' %}"> Petty Expenses</a>
                    |<a href="{% url 'allowancereport' %}"> Allowances</a>
                    |<a href="{% url 'current-month-salaries' %}"> Salaries</a>
                    |<a href="{% url 'donations-report' %}"> Doantions</a>
                    |<a href="{% url 'thanks-giving-report' %}"> ThanksGiving</a>
                    |<a href="{% url 'Building-Renovation-report' %}"> Building</a>
                    <div class="separator"></div>
                </div>
                
                <h2 class="head-title" style="text-align: center">Edit A Tithe Made By {{ item }} </h2>
                <div class="separator"></div>
                <div class="x_content">
                    <div class="" data-example-id="togglable-tabs">
                        <ul class="nav nav-tabs bordered">
                            <li role="presentation">
                                <a href="{% url 'members-list' %}">
                                    <i class="glyphicon glyphicon-user"></i>List of Members</a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'Tithesreport' %}">
                                    <i class="fa fa-list-ol"></i>List of Tithes</a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'Enter_Tithes' %}">
                                    <i class="fa fa-plus-square-o"></i>Record Tithes</a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'tithesarchivessearch' %}">
                                    <i class="glyphicon glyphicon-king"></i>Tithes Archived</a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#">
                                <i class="fa fa-plus-square-o"></i>Edit A Tithe</a>
                            </li>
                        </ul>
                        <br/>
                        <div style="margin-left: 25%" class="col-lg-4 col-md-4 col-sm-4 justify-content-center">
                        {% load crispy_forms_tags %}
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.Date|as_crispy_field}}
                                {{ form.Member_Name|as_crispy_field}}
                                {{ form.Service|as_crispy_field}}
                                {{ form.Amount|as_crispy_field}}
                                <input type="hidden" id="tithes" name="Revenue_filter" value="tithes">
                            <button type="submit" class="btn btn-primary" name="button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}