{% extends 'home/base.html' %}
{% load static %}
<body>

{% block content %}

    <section class="page-breadcumb-area bg-with-black">
        <div class="container text-center">
            <h2 class="title">Gallery</h2>
            <ul class="links">
                <li><a href="{% url 'index_public' %}">Home</a></li>
                <li><a href="javascript:void(0);">Galleries</a></li>
            </ul>
        </div>
    </section>

    <section class="page-gallery-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <img src="{% static 'img/awesome.jpg'%}">
                 </div><br>
                {% for gallery in gallery_list %}
                    <div class="gallery-section-title">
                        <h2 class="title">{{ gallery.gallery_title }}</h2>
                        <div class="text">{{ gallery.note }}</div>
                    </div>
                    <div class="gallery-carousel owl-carousel">

                        {% for image in images %}
                        {% if image.gallery_title.gallery_title == gallery.gallery_title %}
                            <div class="single-gallery">
                                 <a href="{{ image.gallery_image.url }}">
                                        <span class="icon"><i class="fa fa-search"></i></span>
                                        <img src="{{ image.gallery_image.url }}" data-fancybox="images"
                                             alt="Lorem Ipsum is simply dummy."/>
                                 </a>
                            </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                {% endfor %}
                
                {% if gallery_list.has_other_pages %}
                <nav aria-label="Page navigation conatiner" style="text-align: center">
                    <ul class="pagination justify-content-center">
                        {% if gallery_list.has_previous %}
                        <li><a href="?page={{ gallery_list.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                        {% endif %}
                        {% if gallery_list.has_next %}
                        <li><a href="?page={{ gallery_list.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}

</body>

