{% extends 'home/base.html' %}
{% load static %}
{% block title %} UCC Bwaise | Gallery{%endblock title %}
{% block content %}

   <h3 style="text-align:center">Church Gallery</h3>
    <hr>
    <section class="page-gallery-area">
        <div class="container">
            <div class="row">
                {% for gallery in gallery_list %}
                    <div class="gallery-section-title">
                        <h2 class="title">{{ gallery.gallery_title }}</h2>
                        <div class="text">{{ gallery.note|safe }}</div>
                    </div>
                    <div class="gallery-carousel owl-carousel">

                        {% for image in images %}
                        {% if image.gallery_title.gallery_title == gallery.gallery_title %}
                            <div class="single-gallery">
                                 <a href="{{ image.gallery_image.url }}">
                                        <span class="icon"><i class="fa fa-search"></i></span>
                                        <img src="{{ image.gallery_image.url }}" data-fancybox="images"
                                             alt="gallery Image."/>
                                 </a>
                                 <p style="color:white"> {{image.image_caption|safe}}</p>
                            </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                {% endfor %}
                
                {% if gallery_list.has_other_pages %}
                <nav aria-label="Page navigation conatiner" style="text-align: center">
                    <ul class="pagination justify-content-center">
                        {% if gallery_list.has_previous %}
                        <li><a href="?page={{ gallery_list.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                        {% endif %}
                        {% if gallery_list.has_next %}
                        <li><a href="?page={{ gallery_list.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}

</body>

