{% extends "app/base_site.html" %}

{% block title %} Profile {% endblock title %}

{% load static i18n %}

{% block javascript %}
    <script src="{% static 'schools/js/profiles.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 class="head-title"><i class="fa fa-lock"></i><small> My Profile</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content quick-link">
                        <span>Quick Link:</span>
                        <a href="#">My Profile</a>
                        | <a href="#">Reset Password</a>
                        | <a href="#">Log Out</a>
                    </div>

                    <div class="x_content">
                        <div class="" data-example-id="togglable-tabs">

                            <ul class="nav nav-tabs bordered">
                                <li role="presentation" class="active"><a href="#"><i
                                        class="fa fa-eye"></i> Profile</a>
                                </li>
                                <li role="presentation"><a href="#"><i
                                        class="fa fa-pencil-square-o"></i> Update</a>
                                </li>
                            </ul>
                            <br/>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab_profile">
                                    <div class="x_content">

                                        <div  class="text-center">
                                            <div class="profile_img">
                                                {% if user.full_name.Photo %}
                                                    <img src="{{ user.full_name.Photo.url }}"
                                                         alt="..." width="100"
                                                         style="background: rgba(15,174,221,0.97); padding: 2px;"/>
                                                {% endif %}
                                                <h3>{{ request.user.full_name }}</h3>
                                                <br/>
                                            </div>
                                        </div>

                                        <table id="tablePreview" class="table table-bordered table-striped">
                                            <tbody>

                                            <tr>
                                                <th>Username</th>
                                                <td>{{ request.user.username }}</td>
                                                <th>National ID</th>
                                                <td>{{ request.user.national_ID }}</td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td>{{ request.user.email }}</td>
                                                <th>Phone</th>
                                                <td>{{ request.user.phone }}</td>
                                            </tr>
                                            <tr>
                                                <th>Present Address</th>
                                                <td>{{ request.user.present_address }}</td>
                                                <th>Permanent Address</th>
                                                <td>{{ request.user.permanent_address }}</td>
                                            </tr>
                                            <tr>
                                                <th>Gender</th>
                                                <td>{{ request.user.gender }}</td>
                                                <th>Blood Group</th>
                                                <td>{{ request.user.blood_group }}</td>
                                            </tr>
                                            <tr>
                                                <th>Religion</th>
                                                <td>{{ request.user.religion }}</td>
                                                <th>Birth Date</th>
                                                <td>{{ request.user.birth_date }}</td>
                                            </tr>

                                            <tr>
                                                <th>Other Info</th>
                                                <td>{{ request.user.other_info }}</td>
                                                <th>Resume</th>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                            <!--Table body-->
                                        </table>

                                    </div>
                                </div>

                                <!-- THE MODAL WE WILL BE USING -->
                                <div class="modal fade" id="modal-profile">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}



