{% extends "app/base_site.html" %}

{% block title %} Profile {% endblock title %}

{% load static i18n %}

{% block javascript %}
    <script src="{% static 'schools/js/profiles.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 class="head-title"><i class="fa fa-lock"></i><small> My Profile</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content quick-link">
                        <span>Quick Link:</span>
                        <a href="#">My Profile</a>
                        | <a href="#">Reset Password</a>
                        | <a href="#">Log Out</a>
                    </div>

                    <div class="x_content">
                        <div class="" data-example-id="togglable-tabs">

                            <ul class="nav nav-tabs bordered">
                                <li role="presentation" class="active"><a href="#"><i
                                        class="fa fa-eye"></i> Profile</a>
                                </li>
                            </ul>
                            <br/>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab_profile">
                                    <div class="x_content">

                                        <div  class="text-center">
                                            <div class="profile_img">
                                                {% if user.full_name.Photo %}
                                                    <img src="{{ user.full_name.Photo.url }}"
                                                         alt="..." width="100"
                                                         style="background: rgba(15,174,221,0.97); padding: 2px;"/>
                                                {% endif %}
                                                <h3>{{ request.user.full_name }}</h3>
                                                <br/>
                                            </div>
                                        </div>
                                        <h3>Your Personal Information</h3>
                                        <table id="tablePreview" class="table table-bordered table-striped">

                                            <tbody>
                                                <style type="text/css">
                                                    th{
                                                      font-weight: bolder;
                                                      font-size: 100%;  
                                                    }
                                                </style>

                                            <tr>
                                                <th>1. Username</th>
                                                <td>{{ request.user.username }}</td>
                                                <th>2. First Name</th>
                                                <td>{{ request.user.full_name.First_Name }}</td>
                                                <th>4. Second Name</th>
                                                <td>{{ request.user.full_name.Second_Name }}</td>
                                            </tr>
                                            <tr>
                                                <th>5. Gender</th>
                                                <td>{{ request.user.full_name.Gender }}</td>
                                                <th>6. Marital Status</th>
                                                <td>{{ request.user.full_name.Marital_Status }}</td>
                                                <th>7. Home Cell</th>
                                                <td> {{ request.user.full_name.Home_Cell }}</td>
                                            </tr>
                                            <tr>
                                                <th>8. Email</th>
                                                <td>{{ request.user.full_name.Email }}</td>
                                                <th>9. Phone</th>
                                                <td>{{ request.user.full_name.Telephone }}</td>
                                                <th>10. Residence</th>
                                                <td>{{ request.user.full_name.Residence }}</td>
                                            </tr>
                                            <tr>
                                                <th>11. Education</th>
                                                <td>{{ request.user.full_name.Education_Level }}</td>
                                                <th>12. Profession</th>
                                                <td>{{ request.user.full_name.Profession }}</td>
                                                <th>13. Place of Work</th>
                                                <td>{{ request.user.full_name.Place_of_Work }}</td>
                                            </tr>
                                           <tr>
                                                <th>14. Salvation Date</th>
                                                <td>{{ request.user.full_name.Date_Of_Salvation }}</td>
                                                <th>15. Date Of Birth</th>
                                                <td>{{ request.user.full_name.Date_Of_Birth }}</td>
                                                <th>16. Ministry at Church</th>
                                                <td>{{ request.user.full_name.Ministry_Involved_In }}</td>
                                            </tr>
                                             <tr>
                                                <th>17. Home District</th>
                                                <td>{{ request.user.full_name.District }}</td>
                                                <th>18. Village</th>
                                                <td>{{ request.user.full_name.Village }}</td>
                                                <th>19. Next of Kin</th>
                                                <td>{{ request.user.full_name.Name_Of_Next_Of_Kin }}</td>
                                            </tr>

                                            
                                            </tbody>
                                            <!--Table body-->
                                        </table>
                                       
                                    </div>
<!--<div class="container">
    <div class="row">
      <div class="col-lg-12">  
        <div class="col-lg-6">                            
         <a href="{% url 'post-create' %}">Create a post</a> 
        </div> 
        <div class="col-lg-6">                           
         {% for post in posters %}                           
        <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.Name.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-post' post.Name.username %}">{{ post.Name }}</a>
            <small class="text-muted">{{ post.Date_posted|date:"d F, Y" }}</small>
          </div>
          <h2> <a class="article-title" href="{% url 'post-detail' post.id %}">{{post.Title}}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Recent</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Old</a>
      {% endif %}
    {% endif %}
</div>
</div></div></div>-->
                                </div>

                                <!-- THE MODAL WE WILL BE USING -->
                                <div class="modal fade" id="modal-profile">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}



