{% extends "app/base_site.html" %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1><i class="fa fa fa-calendar-check-o"></i><b> GENERAL EXPENSES MODULE</b></h1>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content quick-link">
                    <span style="color:red"><b>Quick Links:</b></span>
                    <a href="{% url 'enter_expenditure' %}">Main Expenditure</a>
                    | <a href="{% url 'enter_sundryexpense' %}">Petty Expenditure</a>
                    | <a href="{% url 'give-allowance' %}">Allowances</a>
                    | <a href="#">Salaries</a>
                 <div class="separator"></div>   
                </div>
                <h4 style="text-align: center">Editting General Expenses </h4>
            <div class="x_content">
                <div class="" data-example-id="togglable-tabs">
                    <ul class="nav nav-tabs bordered">
                        <li role="presentation"><a href="{% url 'general-expenses-report' %}"><i class="fa fa-list-ol"></i> General Expenses</a></li>
                        <li role="presentation" ><a href="{% url 'enter-general-expenses' %}"><i class="fa fa-plus-square-o"></i> Record General Expense</a></li>
                         <li role="presentation" ><a href="{% url 'general-expensesarchives-search' %}"><i class="fa fa-list-ol"></i> Archived General Expenses</a></li>
                        <li role="presentation" class="active" ><a href="#"><i class="fa fa-list-ol"></i> Editing General Expenses</a></li>
                    </ul>
                    <br/>
					<div class="col-lg-6 col-offset-8 centered">
                          <h3>Updating General Expenses</h3>
					    <div class="col-md-10">
					      {% load crispy_forms_tags %}
						      <form method="post" enctype="multipart/form-data">
						      {% csrf_token %}
						        {{ form.Date|as_crispy_field}}
                                {{ form.Payment_Made_To|as_crispy_field}}
                                {{ form.General_Expenses_Reason|as_crispy_field}}
                                {{ form.Amount|as_crispy_field}}
                                <input type="hidden" id="general" name="Reason_filtering" value="general">
						      <button type="submit" class="btn btn-primary" name="button">Submit</button>

						      </form>
					          
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}