{% extends "app/base_site.html" %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1 style="text-align: center;" class="head-title"><i class="fa fa fa-calendar-check-o"></i><b> GENERAL EXPENSES MODULE</b></h1>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content quick-link">
                    <span style="color:red"><b>Make Other Entries:</b></span>
                    <a href="{% url  'enter_expenditure' %}"> Main</a>
                    |<a href="{% url 'enter-general-expenses' %}"> General</a>
                    |<a href="{% url 'enter_sundryexpense' %}"> Petty</a>
                    |<a href="{% url 'record-cashfloat' %}"> Float</a>
                    |<a href="{% url 'Enter_Offerings' %}"> Offerings</a>
                    |<a href="{% url 'Enter_Tithes' %}"> Tithes</a>
                    |<a href="{% url 'Enter_Pledges' %}"> Pledges</a>
                    |<a href="{% url 'give-allowance' %}"> Allowances</a>
                    |<a href="{% url 'employee-list' %}"> Salaries</a>
                    |<a href="{% url 'record-donations' %}"> Doantions</a>
                    |<a href="{% url 'add-seeds' %}"> TGiving</a>
                    |<a href="{% url 'record-thanks-giving' %}"> TGiving</a>
                    |<a href="{% url 'members-register' %}"> Membership</a>
                    <div class="separator"></div>
                </div>
            <div class="x_content">
                <div class="" data-example-id="togglable-tabs">
                    <ul class="nav nav-tabs bordered">
                        
                        <li role="presentation"><a href="{% url 'general-expenses-report' %}"><i class="fa fa-list-ol"></i> General Expenses</a>
                        </li>
                        <li role="presentation" class="active"><a href="{% url 'enter-general-expenses' %}"><i
                              class="fa fa-plus-square-o"></i> Record General Expense</a>
                         </li>
                         <li role="presentation" ><a href="{% url 'general-expensesarchives-search' %}"><i
                                    class="fa fa-list-ol"></i> Archived General Expenses</a>
                        </li>
                    </ul>
                    <h2 class="head-title" style="text-align: center">Record All General Expenses</h2>
                    <div class="separator"></div>
					<div class="col-lg-6 col-offset-8 centered">
					    <div class="col-md-10">
					      {% load crispy_forms_tags %}
						      <form method="post" enctype="multipart/form-data">
						      {% csrf_token %}
						        {{ form.Date|as_crispy_field}}
                                {{ form.Payment_Made_To|as_crispy_field}}
                                {{ form.General_Expenses_Reason|as_crispy_field}}
                                <div class="form-group">
                                  <label for="id_Amount"> Amount Paid</label>
                                  <input type="number" value="" name="Amount" required id="id_Amount" class="form-control" min='1'>
                                </div>
                                <input type="hidden" id="general" name="Reason_filtering" value="general">

						      <button type="submit" class="btn btn-primary" name="button">Submit</button>

						      </form>
					          <p style="color:red"><b>NB:</b> 1. Record other expenses not listed among expenditure payment reasons as Main Expenses<br>.</p>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}