{% extends "app/base_site.html" %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa fa-calendar-check-o"></i><small> Manage Church Expenditures</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content quick-link">
                    <span style="color:red"><b>Quick Links:</b></span>
                    <a href="{% url 'enter_expenditure' %}">Main Expenditure</a>
                    | <a href="{% url 'enter_sundryexpense' %}">Petty Expenditure</a>
                    | <a href="{% url 'pay_salary' %}">Allowances</a>
                    | <a href="#">Salaries</a>
                 <div class="separator"></div>   
                </div>
            <div class="x_content">
                <div class="" data-example-id="togglable-tabs">
                    <ul class="nav nav-tabs bordered">
                        <li role="presentation"><a href="{% url 'expenditurereport' %}"><i
                                    class="fa fa-list-ol"></i> List of Expenses</a>
                        </li>
                        <li role="presentation"  class="active"><a href="{% url 'enter_expenditure' %}"><i
                              class="fa fa-plus-square-o"></i> Record Main Expense</a>
                         </li>
                    </ul>
                    <br/>
					<div class="col-lg-6 col-offset-8 centered">

					    <div class="col-md-10">

					      {% load crispy_forms_tags %}

						      <form method="post" enctype="multipart/form-data">

						      {% csrf_token %}

						          {{ form|crispy }}

						      <button type="submit" class="btn btn-primary" name="button">Submit</button>

						      </form>
					          <p style="color:red"><b>NB:</b> 1. Record other expenses not listed among expenditure payment reasons as Petty expenses<br>.</p>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}