
{% extends "app/base_site.html" %}
{% block content %}
<head>
  <title>UCC Bwaise | Petty Cash Expenses Report as of {{today}}</title>
</head>
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h1 class="head-title" style="text-align: center;"><i class="fa fa fa-calendar-check-o"></i><b>PETTY CASH MODULE</b> </h1>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        
        <div class="x_content quick-link">
          <span style="color:red"><b>Other Reports:</b></span>
          <a href="{% url  'expenditurereport' %}"> Main Expenses</a></li>
          |<a href="{% url 'general-expenses-report' %}"> General Expenses</a></li>
          |<a href="{% url 'Offeringsreport' %}"> Offerings</a></li>
          |<a href="{% url 'members-list' %}">Membership</a>
          |<a href="{% url 'Pledgesreport' %}"> Pledges</a></li>
          |<a href="{% url 'sundryreport' %}"> Petty Expenses</a></li>
          {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}
          |<a href="{% url 'allowancereport' %}"> Allowances</a></li>
          |<a href="{% url 'current-month-salaries' %}"> Salaries</a></li>
          |<a href="{% url 'Tithesreport' %}"> Tithes</a></li>
          |<a href="{% url 'donations-report' %}"> Doantions</a></li>
          |<a href="{% url 'thanks-giving-report' %}"> ThanksGiving</a></li>
          {% endif %}
          <div class="separator"></div>
        </div>
        
        <h1 class="head-title" style="text-align: center">The Petty Cash Expenses Report as of {{today}}</h1>
        <div class="separator"></div>
        <div class="x_content">
          <div class="" data-example-id="togglable-tabs">
            <ul class="nav nav-tabs bordered">
              <li role="presentation" class="active"><a href="{% url 'sundryreport' %}"><i
                          class="fa fa-list-ol"></i> Petty Cash Report</a></li>
              {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin' %}
              <li role="presentation"><a href="{% url 'enter_sundryexpense' %}"><i
                    class="fa fa-plus-square-o"></i> Record Petty Expense</a></li>
              {% endif %}      
              <li role="presentation"><a href="{% url 'airtime-data-report' %}"><i
                        class="glyphicon glyphicon-cloud"></i> Airtime-Data Payments</a> </li>
                <li role="presentation"><a href="{% url 'sundryarchivessearch' %}"><i
                            class="glyphicon glyphicon-king"></i> Petty Expenses Archived</a></li>
            </ul>
            <br/>
            
            <h4 style="color: green; font-weight: 120%"><b>{{ message }}</b></h4>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab_invoice_list">
                <div class="x_content">                     
                  <table id="petty-table" class=" sum_table table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <td>Date</td>
                        <td>Payment Made To</td>
                        <td>Reason</td>
                        <td>Amount <i class=" glyphicon glyphicon-arrow-right"></i> (<span style="font-weight: bolder; color:red" class="totalCol"></span>)</td>
                        <td>Archived Status</td>
                        <td>Action</td>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in items%}
                        <tr class="totalColumn">
                          <td>{{ item.Date}}</td>
                          <td>{{ item.Payment_Made_To}}</td>
                          <td>{{ item.Petty_Cash_Reason}}</td>
                          <td class="rowDataSd">{{ item.Amount}}</td>
                          <td>{{ item.Archived_Status}}</td>
                          {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin' %}
                          <td>
                          <div class="mb-4">
                                <a href="{% url 'edit-petty-cash' item.pk %}"class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit">Edit</span></a>
                          </div>
                          </td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% if items%}
          <a href="{% url 'pettypdf' %}" target="_new" class="btn btn-info bt-sm" role="button"><span class="glyphicon glyphicon-print"> PRINT REPORT</span></a>
          {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin' %}
            <p style="color:red; font-size: 150%"><b>NB: </b> Please archive this report <b>ONLY</b> at the end of every month</p>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon glyphicon-king">ARCHIVE</span></button>
          {% endif %}
          {% endif %}
            <!-- Button trigger modal -->
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Petty Cash report archiving</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h4 class="text-danger"><b>Confirmation</b></h4>
                  <form class="x_content" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="col-lg-12" style="background-color: rgb(227, 237, 239">
                     <h3>Are You Yure You Want To ARCHIVE this report<b>?</b></h3>
                      <br>
                      <div class="col-lg-6">
                        <button type="submit" class="btn btn-info">YES <span class='glyphicon glyphicon-send'></span></button>
                      </div>
                    </div>
                  </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">NO</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<script type="text/javascript">$(document).ready(function () {
    $('#petty-table').DataTable(
      {
        dom: 'Bfrtip',
        iDisplayLength: 10,
        buttons: [
          'copyHtml5',
          'excelHtml5',
          'csvHtml5',
          'pdfHtml5',
          'print',
          'pageLength',
        ],
        search: true,
        responsive: true
      }
    );
  }
  );
</script>
{% endblock content %}
