
{% extends "app/base_site.html" %}
{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h1 style="text-align: center;"><i class="fa fa fa-calendar-check-o"></i><b> PLEDGES MODULE</b></h1>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              </ul>
            <div class="clearfix"></div>
          </div>
                <div class="x_content quick-link">
                  <span style="color:red"><b>Other Reports:</b></span>
                  <a href="{% url  'expenditurereport' %}"> Main Expenses</a></li>
                  |<a href="{% url 'general-expenses-report' %}"> General Expenses</a></li>
                  |<a href="{% url 'Offeringsreport' %}"> Offerings</a></li>
                  |<a href="{% url 'members-list' %}">Membership</a>
                  |<a href="{% url 'Pledgesreport' %}"> Pledges</a></li>
                  |<a href="{% url 'sundryreport' %}"> Petty Expenses</a></li>
                  {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}
                  |<a href="{% url 'allowancereport' %}"> Allowances</a></li>
                  |<a href="{% url 'current-month-salaries' %}"> Salaries</a></li>
                  |<a href="{% url 'Tithesreport' %}"> Tithes</a></li>
                  |<a href="{% url 'donations-report' %}"> Doantions</a></li>
                  |<a href="{% url 'thanks-giving-report' %}"> ThanksGiving</a></li>
                  {% endif %}
                  <div class="separator"></div>
                </div>
              
          <div class="x_content">
            <div class="" data-example-id="togglable-tabs">
              <ul class="nav nav-tabs bordered">
                <li role="presentation" ><a href="{% url 'Pledgesreport' %}"><i
                            class="fa fa-list-ol"></i> Pledges Made</a>
                </li>
                 <li role="presentation" ><a href="{% url 'Pledgesreport' %}"><i
                              class="fa fa-list-ol"></i> List of Pledges</a>
                  </li>
                  <li role="presentation"><a href="{% url 'Enter_Pledges' %}"><i
                        class="fa fa-plus-square-o"></i> Record Pledge</a>
                   </li>
                  <li role="presentation"><a href="{% url 'pledgesarchivessearch' %}"><i
                        class="fa fa-plus-square-o"></i> Pledges Archived</a>
                   </li>


                <li role="presentation" class="active"><a href="{% url 'Enter_Pledges' %}"><i
                      class="fa fa-plus-square-o"></i> Paying Pledges</a>
                </li>
              </ul> 
              <h2 style="text-align: center;">Record the amount of the pledge paid</h2>
              <div class="separator"></div>
              {% load crispy_forms_tags %}

            <form method="POST" enctype="multipart/form-data" action="" >

            {% csrf_token %}
            
              <style type="text/css">
                    #addstyle{
                    background-color: #C5C9B8;
                    color: #333333;
                    margin: 0 auto;
                    overflow: hidden;
                    padding: 10px 0;
                    justify-content: space-around;
                    display: block;
                    float: none;
                    
                }
                </style>
                <br>
               {% for pledge_id in retrieving_id %}
              <h4>
                <b>{% if pledge_id.Pledge_Made_By_Visitor %}{{pledge_id.Pledge_Made_By_Visitor}} {% else %}{{pledge_id.Pledge_Made_By}}{% endif%}
              </b> fulfilling the pledge</h4>
              <div class="col-lg-4">
              <div class="form-group" id="st">
                  <label> Pledge Id</label>
                  <input type="text" name="Pledge_Id" id="Pledge_Id" maxlength="100" class="textinput textInput form-control" value="{{pledge_id.id }}">
              </div>              
              {% endfor%}
              <div class="separator"></div>
              <div class="form-group">
                  {{ form.Date|as_crispy_field }}
              </div>

              <div class="form-group">
                  <label for="id_paid_amount"> Amount Being Paid</label>
                  <input type="number" value="{{items.Pledge_Balance}}" name="Amount_Paid" required id="id_paid_amount" 
                  class="textinput textInput form-control" min='1' max='{{items.Pledge_Balance}}'>
              
              <button style = "float: right" type="submit" class="btn btn-primary" name="button">Submit</button>
          </div>
            <div class="row" id="name">
              {{ form.Reason|as_crispy_field }}
              {{ form.Pledge_Made_By_Visitor|as_crispy_field }}
            </div>
            </form>
          </div> 
          <script type="text/javascript">
                              $("#st").hide();
                              $("#name").hide();</script>
        </div>
        </div>
    </div>
</div>
</div>
</div>


        {% endblock content %}
