
{% extends "app/base_site.html" %}
{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h1 style="text-align: center;"><i class="fa fa fa-calendar-check-o"></i><b> PLEDGES MODULE</b></h1>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              </ul>
            <div class="clearfix"></div>
          </div>
                <div class="x_content quick-link">
                  <span style="color:red"><b>Other Reports:</b></span>
                  <a href="{% url  'expenditurereport' %}"> Main Expenses</a></li>
                  |<a href="{% url 'general-expenses-report' %}"> General Expenses</a></li>
                  |<a href="{% url 'Offeringsreport' %}"> Offerings</a></li>
                  |<a href="{% url 'members-list' %}">Membership</a>
                  |<a href="{% url 'Pledgesreport' %}"> Pledges</a></li>
                  |<a href="{% url 'sundryreport' %}"> Petty Expenses</a></li>
                  {% if request.user.Role == 'Secretary' or user.Role == 'Admin' or user.Role == 'SuperAdmin' or user.Role == 'Assistant_Admin'%}
                  |<a href="{% url 'allowancereport' %}"> Allowances</a></li>
                  |<a href="{% url 'current-month-salaries' %}"> Salaries</a></li>
                  |<a href="{% url 'Tithesreport' %}"> Tithes</a></li>
                  |<a href="{% url 'donations-report' %}"> Doantions</a></li>
                  |<a href="{% url 'thanks-giving-report' %}"> ThanksGiving</a></li>
                  {% endif %}
                  <div class="separator"></div>
                </div>
                <h2 style="text-align: center">Cashing out Money contributed through pledges</h2>
                <div class="separator"></div>
          <div class="x_content">
            <div class="" data-example-id="togglable-tabs">
              <ul class="nav nav-tabs bordered">
                 <li role="presentation"><a href="{% url 'list-of-pledge-items' %}"><i
                                      class="fa fa-plus-square-o"></i> Pledge Item List</a>
                </li>
                <li role="presentation" ><a href="{% url 'Pledgesreport' %}"><i
                            class="fa fa-list-ol"></i> Pledges Made</a>
                </li>
                 <li role="presentation" ><a href="{% url 'Pledgesreport' %}"><i
                              class="fa fa-list-ol"></i> List of Pledges</a>
                  </li>
                  <li role="presentation"><a href="{% url 'Enter_Pledges' %}"><i
                        class="fa fa-plus-square-o"></i> Record Pledge</a>
                   </li>
                  <li role="presentation"><a href="{% url 'pledgesarchivessearch' %}"><i
                        class="fa fa-plus-square-o"></i> Pledges Archived</a>
                   </li>
                <li role="presentation" class="active"><a href="#"><i
                      class="fa fa-plus-square-o"></i> Cash Out Pledge</a>
                </li>
              </ul> <br/>
              {% load crispy_forms_tags %}

            <form method="POST" enctype="multipart/form-data" action="{% url 'cashing-out-items' %}" >

                {% csrf_token %}
                <div class="form-row">
                <div class="col-lg-6">
                  
                   {% for out in cashout %}
                    <div class="form-group " id="id">
                        <label> Pledge_Id</label>
                        <input type="text" name="Item_Id" id="Item_Id" maxlength="100" class="textinput textInput form-control" value="{{out.id }}">
                    </div>
                    {% endfor%}
                    
                   <div class="form-group" id="item">
                       {{form.Item_That_Needs_Pledges |as_crispy_field }} 
                   </div>
                    <div class="form-group" id="amount">
                        {{ form.Amount_Needed|as_crispy_field }}
                    </div>

                    <div class="form-group" >
                        <label> Amount Cashed Out</label>
                        <input type="number" name="Amount_Cashed_Out" id="Amount_Cashed_Out" maxlength="100" class="textinput textInput form-control">
                    </div>
                   <div class="form-group" >
                        <label> Cash Out Date</label>
                        <input type="date" name="Date" id="Date" maxlength="100" class="textinput textInput form-control"> 
                    </div> 
                    <button type="submit" class="btn btn-primary" name="button">Submit</button>
                </div>
              </div>
            </form>
          {% include 'messages.html' %}
          <script type="text/javascript">
            document.getElementById('id_Item_That_Needs_Pledges').readOnly = true;
            document.getElementById('id_Amount_Needed').readOnly = true;
                              $("#id").hide();</script>
        </div>
        </div>
    </div>
</div>
</div>
</div>


        {% endblock content %}
