{% extends 'base.html' %}
{% block body %}

<div class="container">
    <nav class="nav navbar-expand">
        <ul class="navbar-nav mr-auto">
             <li class="nav-item {% if url_name == 'pledgesarchivessearch' %}active{% endif %}">
                <a class="nav-link" href="{% url 'pledgesarchivessearch' %}">
                    <button class="btn btn-btn">Pledges Archive</button>
                </a>
            </li>
         <li class="nav-item {% if url_name == 'tithesarchivessearch' %}active{% endif %}">
                <a class="nav-link" href="{% url 'tithesarchivessearch' %}">
                    <button class="btn btn-success">Tithes Archive</button>
                </a>
            </li>
         <li class="nav-item {% if url_name == 'offeringsarchivessearch' %}active{% endif %}">
                <a class="nav-link" href="{% url 'offeringsarchivessearch' %}">
                    <button class="btn btn-success">Offering Archive</button>
                </a>
            </li>
            <li class="nav-item {% if url_name == 'expensesarchivessearch' %}active{% endif %}">
                <a class="nav-link" href="{% url 'expensesarchivessearch' %}">
                    <button class="btn btn-success">Expenses Archive</button>
                </a>
            </li>
            <li class="nav-item {% if url_name == 'sundryarchivessearch' %}active{% endif %}">
                <a class="nav-link" href="{% url 'sundryarchivessearch' %}">
                    <button class="btn btn-success">Petty Cash Archive</button>
                </a>
            </li>

            <li class="nav-item {% if url_name == 'salaryarchivessearch' %}active{% endif %}">
                <a class="nav-link" href="{% url 'salaryarchivessearch' %}">
                    <button class="btn btn-success">Allowances Paid Archive</button>
                </a>
            </li>

        </ul>
    </nav>
       <p>{{ message }}</p>        
      <p><b>NB: </b>Please search for the Pledges archived by selecting <b>Year</b> and <b>Month</b></p>
        <form class="form-inline"  method="POST" enctype="multipart/form-data">
        {% csrf_token %}

          <div class="col-auto my-1">
            <select class="custom-select mr-lg-2" name="report_year" id="inlineFormCustomSelect">
                {% for report_year in years %}
                   <option class="btn-success" name="{{ report_year }}" value="{{ report_year }}">{{ report_year }}</option>
                {% endfor %}
            </select>
          </div>
              <div class="col-auto my-1">
            <select class="custom-select mr-lg-2" name="report_month" id="inlineFormCustomSelect">
                {% for report_month in months %}
                   <option class="btn-success" name="{{ report_month }}" value="{{ report_month }}">{{ report_month }}</option>
                {% endfor %}
            </select>
          </div>
              <div class="col-auto my-1">
            <button type="submit" class="btn btn-danger">Search</button>
          </div>
        </form>
        <table class="table table-hover" border="2">
            <tbody >
            {% for archived in archived_reports  %}
                <tr>
                    <td>{{ archived.Date }}</td>
                    <td>{{ archived.Pledge_Made_By }}</td>
                    <td>{{ archived.Reason}}</td>
                    <td>{{ archived.Pledged_Amount }}</td>
                    <td>{{ archived.total_pledge_paid}}</td>
                    <td>{{ archived.Pledge_Balance}}</td>
                    <td>{{ archived.Status}}</td>
                </tr>
            {% endfor %}

            </tbody>
             {% if archived_reports %}
                 <hp>Monthly Archived Pledges Report For the financial cycle of  <b>{{ report_month }} {{ report_year }}</b>  </hp>
                 <thead class="table-success ">
                    <tr>
                    <th>Date</th>
                    <th>Name</td>
                    <th>Reason</th>
                    <th>Amount Pledged</th>
                    <th>Amount Paid</th>
                    <th>Balance</th>
                    <th>Status</th>
                     </tr>
                 </thead>
                 <tr><td><b>Total Amount:</b> </td> <td>_____________ </td> <td>______________  </td><td><b>{{ total_amount}}</b></td></tr>
                 <td><a href="{% url 'pledgesarchivepdf' report_month  report_year  %}" target="_new" class="btn btn-primary bt-sm" role="button">Print Report</a></td>
             {% endif %}
        </table>

    </div>

    <br><br></div>
{% endblock %}