
{% extends "app/base_site.html" %}
{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><i class="fa fa fa-calendar-check-o"></i><small> Manage Church Pledges</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              </ul>
            <div class="clearfix"></div>
          </div>
                <div class="x_content quick-link">
                    <span style="color:red"><b>Pleges Module:</b></span>
                        <a href="#"> Unsettled Pledges</a></li>
                        |<a href="#"> All Pledges Paid</a></li>
                        |<a href="#"> Pledges Archived</a></li>
                        |<a href="{% url 'Pledgesreport'  %}"> Pledges Reports</a></li>
                    <div class="separator"></div>
                </div>
                <h2 style="text-align: center">Settle the archived pledge debts</h2>
                    <p>{{ message }}</p>
          <div class="x_content">
            <div class="" data-example-id="togglable-tabs">
              <ul class="nav nav-tabs bordered">
                <li role="presentation" ><a href="{% url 'Pledgesreport' %}"><i
                            class="fa fa-list-ol"></i> Pledges Made</a>
                </li>
                <li role="presentation"><a href="{% url 'Enter_Pledges' %}"><i
                      class="fa fa-plus-square-o"></i> Record Pledges</a>
                </li>
                <li role="presentation" class="active"><a href="#"><i
                      class="fa fa-plus-square-o"></i> Settle Archived Debts</a>
                </li>
              </ul>
            {% load crispy_forms_tags %}
            <br>
            <p> {{form.Pledge_Made_By}} <h5>Is settling a pledge debt</h5></p>
            <form method="POST" enctype="multipart/form-data" action="{% url 'member-settle-pledge-debt' %}" >
            {% csrf_token %}
                {% for pledge_id in retrieving_id %}
                <div class="form-row col-lg-3" id="st">
                    <label> Pledge_Id</label>
                    <input type="text" name="Pledge_Id" id="Pledge_Id" maxlength="100" class="textinput textInput form-control" value="{{ pledge_id.Pledge_Id }}">
                </div> 
                {% endfor%} 
                <div class="form-row col-lg-" id="name">
                    {{ form.Pledge_Made_By|as_crispy_field }}
                </div>                                
            	
                <div class="form-row col-lg-3" id="name">
            	    {{ form.Date|as_crispy_field }}
            	</div>
            	<div class="form-row col-lg-3">
            	    {{ form.Amount_Paid|as_crispy_field }}
            	</div>
                <button type="submit" class="btn btn-primary" name="button">Submit</button>

            </form>
            {% include 'messages.html' %}
            </div>
        </div>
    </div>
</div>
</div>
</div>

  <script type="text/javascript">

                      $("#st").hide();
                      $("#name").hide();
           
        </script>
{% endblock content %}