
{% extends "app/base_site.html" %}
{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h1><i class="fa fa fa-calendar-check-o"></i> CHURCH PLEDGES</h1>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              </ul>
            <div class="clearfix"></div>
          </div>
                <div class="x_content quick-link"><span style="color:red"><b>Quick Links:</b></span>
                         <a href="{% url 'archived-pledge-debts' %}"> Unsettled Pledges</a>
                        |<a href="{% url 'pledges-paid-list' %}"> All Pledges Paid</a>
                        |<a href="{% url 'pledgesarchivessearch' %}"> Pledges Archived</a>
                        |<a href="{% url 'Pledgesreport' %}"> Pledges Reports</a>
                    <div class="separator"></div>
                </div>
                <h2 style="text-align: center">Settle the archived pledge debts</h2>
                    <p>{{ message }}</p>
          <div class="x_content">
            <div class="" data-example-id="togglable-tabs">
              <ul class="nav nav-tabs bordered">
                <li role="presentation"><a href="{% url 'add-pledge-item' %}"><i
                      class="fa fa-plus-square-o"></i> Add Pledge Item</a>
                </li>
                <li role="presentation"><a href="{% url 'list-of-pledge-items' %}"><i
                              class="fa fa-plus-square-o"></i> Pledge Item List</a>
                </li>
                <li role="presentation"><a href="{% url 'Enter_Pledges' %}"><i
                      class="fa fa-plus-square-o"></i> Record Pledge</a>
                </li>
                 <li role="presentation"><a href="{% url 'Pledgesreport' %}"><i
                            class="fa fa-list-ol"></i> List of Pledges</a>
                </li>
                <li role="presentation"><a href="{% url 'pledgesarchivessearch' %}"><i
                      class="fa fa-plus-square-o"></i> Pledges Archived</a>
                </li> 
                 <li role="presentation" ><a href="{% url 'archived-pledge-debts' %}"><i
                      class="fa fa-plus-square-o"></i> Archived Pledge Debts</a>
                 </li>
                  <li role="presentation"><a href="{% url 'pledges-paid-list' %}"><i
                      class="fa fa-plus-square-o"></i> Pledges Paid</a>
                </li> 
                <li role="presentation" class="active"><a href="#"><i
                      class="fa fa-plus-square-o"></i> Settle Archived Debts</a>
                </li>
              </ul>
            {% load crispy_forms_tags %}
            <br>
            <form method="POST" enctype="multipart/form-data" action="" >
            {% csrf_token %}
                {% for pledge_id in retrieving_id %}
                <div class="form-row col-lg-3" id="st">
                    <label> Pledge_Id</label>
                    <input type="text" name="Pledge_Id" id="Pledge_Id" maxlength="100" class="textinput textInput form-control" value="{{ pledge_id.id }}">
                </div>
                {% endfor%} 
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
               
            	    {{ form.Date|as_crispy_field }}
            	      <label for="id_paid_amount">Amount Paid</label>
                   <input type="number" value="{{items.Pledge_Balance}}" name="Amount_Paid" required id="id_paid_amount" class="textinput textInput form-control" min='1' max='{{items.Pledge_Balance}}'>
            	
                <button type="submit" class="btn btn-primary" name="button">Submit</button>
                </div>
            </form>
            {% include 'messages.html' %}
            </div>
        </div>
    </div>
</div>
</div>
</div>

  <script type="text/javascript">

                      $("#st").hide();
                      $("#name").hide();
           
        </script>
{% endblock content %}