
{% extends "app/base_site.html" %}
{% block content %}

<head>

  <title>
  UCC Bwaise | List of Church Members as of {{day}}</title>
</head>
<div class="right_col" role="main">
      <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa fa-calendar-check-o"></i><small> Manage Church Members</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                       <div class="x_content quick-link">
                    <span style="color:red"><b>Other Reports:</b></span>
                        <a href="{% url  'expenditurereport' %}"> Main Expenses</a></li>
                        |<a href="{% url 'general-expenses-report' %}"> General Expenses</a></li>
                        |<a href="{% url 'Offeringsreport' %}"> Offerings</a></li>
                        |<a href="{% url 'Tithesreport' %}"> Tithes</a></li>
                        |<a href="{% url 'Pledgesreport' %}"> Pledges</a></li>
                        |<a href="{% url 'sundryreport' %}"> Petty Expenses</a></li>
                        |<a href="{% url 'allowancereport' %}"> Allowances</a></li>
                        |<a href="{% url 'current-month-salaries' %}"> Salaries</a></li>
                        |<a href="{% url 'donations-report' %}"> Doantions</a></li>
                        |<a href="{% url 'thanks-giving-report' %}"> ThanksGiving</a></li>
                    <div class="separator"></div>
                </div>
                    <p>{{ message }}</p>
                    <h3 style="text-align: center">The List of Church Members</h3>
            <div class="x_content">
                <div class="" data-example-id="togglable-tabs">

                    <ul class="nav nav-tabs bordered">
                        <li role="presentation" class="active"><a href="{% url 'members-list' %}"><i
                                class="fa fa-list-ol"></i> Memebers List</a>
                        </li>
                        <li role="presentation"><a href="{% url 'members-register' %}"><i
                                class="fa fa-plus-square-o"></i> Add Member</a>
                        </li>
                    </ul>
                    <br/>

               <div class="tab-content">
                 <div class="tab-pane fade in active" id="tab_invoice_list">
                    <div class="x_content">                     
                         <table id="invoice-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Photo</th>
                                    <th>First Name</th>
                                    <th>Second Name</th>
                                    <th>Residence</th>
                                    <th>Home Cell</th>
                                    <th>Telephone</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in membership %}
                                <tr>
                                     <td>{% if member.Photo %}
                                        <img src="{{ member.Photo.url }}" width="150" />
                                        {% endif %}
                                     </td>
                                     <td>{{ member.First_Name}}</td>
                                     <td>{{ member.Second_Name}}</td>
                                     <td>{{ member.Residence}}</td>
                                     <td>{{ member.Home_Cell}}</td>
                                     <td>{{ member.Telephone}}</td>
                                     <td>
                                     <div class="mb-4">
                                        <a href="{% url 'edit-member' member.id  %}"class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit">Edit</span></a>
                                        <a href="{% url 'view-member' member.id  %}"class="btn btn-success btn-sm"><span class="glyphicon glyphicon-eye-open">View</span></a>
                                     
                                        <a href="{% url 'delete-member' member.id %}"class="btn btn-danger btn-sm "><span class="glyphicon glyphicon-trash">Delete</span></a>
                                       
                                     </div>   
                                     </td> 
                                </tr>
                                {% endfor%} 
                            </tbody>
                        </table>
                    </div>
                  </div>
               </div>
            </div> 
          </div>
        </div>       
    </div>
</div>
{% endblock content %}
