{% extends 'home/base.html' %}
<body>

{% block content %}
    <section class="page-breadcumb-area bg-with-black">
        <div class="container text-center">
            <h2 class="title">UCC Bwaise Members</h2>
            <ul class="links">
                <li><a href="{% url 'index_public' %}">Home</a></li>
                <li><a href='javascript:void(0);'>Members</a></li>
            </ul>
        </div>
    </section>

    <section class="page-event-area">
        <div class="container">
            <div class="row">
                {% for member in members_list %}                
                    <div class="col-lg-4">
                        
                        <div class="single-event">
                            <div class="img" style="max-height: 170px">
                                 {% if member.Photo %}
                                    <img src="{{ member.Photo.url }}" data-fancybox="images" style="border-radius: 40%;" >
                                {% endif %} 
                            </div>
                            <a href="{% url 'member-detail' member.id %}"> 
                                <div class="content">
                                    <h2 class="head-title">{{member.Initials}} {{member.First_Name}} {{member.Second_Name}}
                                    </h2>
                                    <ul class="list">
                                        <li class="info"><span class="icon"><i
                                                class="fa fa-group"></i></span>Group: {{member.Group}}
                                        </li>
                                        <li class="info"><span class="icon"><i
                                                class="fa fa-home"></i></span>Cell: {{ member.Home_Cell }}
                                            
                                        </li>
                                        <li class="info"><span class="icon"><i
                                                class="fa fa-map-marker"></i></span>Residence: {{ member.Residence }}
                                            
                                        </li>
                                        <li class="info"><span class="icon"><i
                                                class="fa fa-map-marker"></i></span>Ministry: {{ member.Ministry_Involved_In }}
                                            
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                            
                    </div>
                {% endfor %}

            </div>
            {% if members_list.has_other_pages %}
              <nav aria-label="Page navigation conatiner" style="text-align: center">
              <ul class="pagination justify-content-center">
                {% if members_list.has_previous %}
                <li><a href="?page={{ members_list.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if members_list.has_next %}
                <li><a href="?page={{ members_list.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
               {% endif %}
              </ul>
              </nav>
            {% endif %}
            </div>
            
        </div>
        </div>
    </section>

{% endblock %}
</body>
