{% extends 'home/base.html' %}
<body>

{% block content %}
{% load crispy_forms_tags %}
    <section class="page-breadcumb-area bg-with-black">
        <div class="container text-center">
            <h2 class="title">Online Registration</h2>
            <ul class="links">
                <li><a href="{% url 'index_public' %}">Home</a></li>
                <li><a href="javascript:void(0);">Online Admission</a></li>
            </ul>
        </div>
    </section>
    <section class="page-contact-area">
        <style type="text/css">
            .container{
                font-size: 16px
            }
            
        </style>
        <div class="container">
            <form class="form-horizontal form-label-left"
                  id="admissionForm"
                  action=""
                  method="POST"
                  enctype="multipart/form-data"
                  accept-charset="utf-8"
                  novalidate>
                  {% csrf_token %}
                <div class="form-row">
                        <div class="form-group col-md-12 mb-0">

                            <p class="text-muted well well-sm no-shadow"
                               style="margin-top: 10px;">
                                <h3>Basic Information:</h3>
                            </p>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Initials|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.First_Name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Second_Name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Date_Of_Birth|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Gender|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Group|as_crispy_field }}
                        </div>
                        
                    </div>

                    <div class="form-row">
                        
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Telephone|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Email|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Residence|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Home_Cell|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Photo|as_crispy_field }}
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">

                            <p class="text-muted well well-sm no-shadow"
                               style="margin-top: 10px;">
                                <h3>Marriage Information:</h3>
                            </p>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-3 mb-0" >
                            {{ form.Marital_Status|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0" id="Marriage_Kind">
                            {{ form.Marriage_Kind|as_crispy_field }}
                        </div>
                        <script type="text/javascript">
                             $("#id_Marital_Status").change(function () {
                            if ($(this).val() === "Married") {
                                $('#Marriage_Kind').hide();

                            } else {
                                $('#Marriage_Kind').hide();
                            }
                            });
                            $("#id_Marital_Status").trigger("change");
                        </script>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">

                            <p class="text-muted well well-sm no-shadow"
                               style="margin-top: 10px;">
                                <h3>Profession Information:</h3>
                            </p>
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Education_Level|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Profession|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0" id="work">
                            {{ form.Type_of_Work|as_crispy_field }}
                        </div>

                        <div class="form-group col-md-3 mb-0" id="place">
                            {{ form.Place_of_Work|as_crispy_field }}
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">

                            <p class="text-muted well well-sm no-shadow"
                               style="margin-top: 10px;">
                                <h3>More Residence Information:</h3>
                            </p>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Country|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.County|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Parish|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.District|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Sub_County|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Village|as_crispy_field }}
                        </div>

                    </div>
                     <hr>

                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">

                            <p class="text-muted well well-sm no-shadow"
                               style="margin-top: 10px;">
                                <h3>Next Of Kin Information:</h3>
                            </p>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Name_Of_Next_Of_Kin|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Contact_Of_Next_Of_Kin|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Residence_Of_Next_Of_Kin|as_crispy_field }}
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">

                            <p class="text-muted well well-sm no-shadow"
                               style="margin-top: 10px;">
                                <h3>Faith Information:</h3>
                            </p>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Date_Of_Salvation|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Date_Of_Joining_UCC_Bwaise|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.Ministry_Involved_In|as_crispy_field }}
                        </div>
                         <div class="form-group col-md-3 mb-0">
                            {{ form.Is_View_on_Web|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.More_Info|as_crispy_field }}
                        </div>
                        
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            <br></br>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" name="button">Submit</button>
            </form>
        </div>
    </section>
  <!--   <script type="text/javascript">

        $('#dob').datepicker({startView: 2});
        $('#admission').validate();


        $('#fn_find').on('click', function () {

            var phone = $('#gud_phone').val();

            if (!phone) {
                $('#gud_phone').focus();
                return false;
            }

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "http://codetroopers-team.com/gmsms/web/get_guardian_info",
                data: {phone: phone},
                async: true,
                success: function (response) {
                    if (response) {
                        $('#guardian_id').val(response.id);
                        $('#gud_name').val(response.name);
                        $('#gud_email').val(response.email);
                        $('#gud_national_id').val(response.national_id);
                        $('#gud_profession').val(response.profession);
                        $('#gud_religion').val(response.religion);
                        $('#gud_present_address').val(response.present_address);
                        $('#gud_permanent_address').val(response.permanent_address);
                        $('#phone').val(response.phone);
                        $('#present_address').val(response.present_address);
                        $('#permanent_address').val(response.permanent_address);

                    } else {

                        $('#guardian_id').val('');
                        $('#gud_name').val('');
                        $('#gud_email').val('');
                        $('#gud_national_id').val('');
                        $('#gud_profession').val('');
                        $('#gud_religion').val('');
                        $('#gud_present_address').val('');
                        $('#gud_permanent_address').val('');
                        $('#phone').val('');
                        $('#present_address').val('');
                        $('#permanent_address').val('');

                    }
                }
            });
        });

    </script> -->

    <script type="text/javascript">
    $("#id_Marital_Status").change(function () {
    if ($(this).val() === "Married") {
        $('#Marriage_Kind').show();
    
    } else {
        $('#Marriage_Kind').hide();
    }
});
$("#id_Marital_Status").trigger("change");

$("#id_Profession").change(function () {
    if ($(this).val() === "Employed") {
        $('#work').show();
        $('#place').show();
    
    } else {
        $('#work').hide();
        $('#place').hide();
    }
});
$("#id_Profession").trigger("change");


</script>

{% endblock %}

</body>
