{% extends 'home/base.html' %}
<body>

{% block content %}
    <section class="page-breadcumb-area bg-with-black">
        <div class="container text-center">
            <h2 class="title">UCC Bwaise Staff</h2>
            <ul class="links">
                <li><a href="{% url 'index_public' %}">Home</a></li>
                <li><a href='javascript:void(0);'>Pastoral Team</a></li>
            </ul>
        </div>
    </section>
    <section class="page-event-area">
        <div class="container">
            <h2 style="text-align:center;">The following are the Pastors at UCC-Bwaise</h2>
            <hr />
            <div class="row">
                 {% for pastor in pastors %} 
                 {% if pastor.Ministry_Involved_In == "Pastoral"%}
                  
                    <div class="col-lg-12 single-event"> 
                        <div class="row">            
                           <div class="col-lg-4 ">
                                <div class="img">
                                     {% if pastor.Photo %}
                                        <img src="{{ pastor.Photo.url }}" data-fancybox="images" style="border-radius: 40%;" >
                                    {% endif %} 
                                </div>

                                <div class="content">
                                    <h2 class="title"><a href="{{ pastor.get_absolute_url }}"> {{pastor.Initials}} {{pastor.First_Name}} {{pastor.Second_Name}}</a>
                                    </h2>
                                    <ul class="list">
                                        <li class="info"><span class="icon"><i
                                                class="fa fa-group"></i></span>Group: {{pastor.Group}}
                                        </li>
                                        <li class="info"><span class="icon"><i
                                                class="fa fa-home"></i></span>Cell: {{ pastor.Home_Cell }}
                                            
                                        </li>
                                        <li class="info"><span class="icon"><i
                                                class="fa fa-map-marker"></i></span>Residence: {{ pastor.Residence }}
                                            
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="content">
                                      <p class="info"><b>{{ pastor.More_Info|linebreaks}}</b></p>
                                </div>      
                            </div>    
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </section>

{% endblock %}

</body>
