
{% extends "app/base_site.html" %}
{% block content %}
<div class="right_col" role="main">
  <div class="row">
{% load crispy_forms_tags %}
<form method="POST" enctype="multipart/form-data" >
{% csrf_token %}
  <div class="row">
  	<div class="col-lg-4">
    <div class="col-lg-12">
	    {{ form.First_Name|as_crispy_field }}
	</div>
	<div class="col-lg-12">
	    {{ form.Second_Name|as_crispy_field }}
	</div>
	<div class="col-lg-12">
	    {{ form.Photo|as_crispy_field }}
	</div>
   </div>
   <div class="col-lg-4">
	<div class="col-lg-12">
	    {{ form.Home_Cell|as_crispy_field }}
	</div>
	<div class="col-lg-12">
	    {{ form.Residence|as_crispy_field }}
	</div>
	<div class="col-lg-12">
	    {{ form.Telephone|as_crispy_field }}
	</div>
	</div>


	
   </div>
    <button type="submit" class="btn btn-primary" name="button">Submit</button>

</form>
{% include 'messages.html' %}
</div>
</div>
{% endblock content %}

{% block javascripts %}

    {{ block.super }}
    <!-- Datatables -->
    <!-- DateJS -->
    <script src="/static/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>



{% endblock javascripts %}
