{% extends 'base.html' %}
{% block body %}
<div class="container-fluid"><br>
<h5 style="text-align: center">Table showing uncleared pledge debts that were archived </h5>
  <div class="container-fluid">
    <h4 class="alert-danger">{{ message }}</h4>
    <table class="table table-hover" border="2">
    <thead class="table-success ">
          <tr>
            
            <th>Pledging Date </th>
            <th>Name</td>
            <th>Reason</th>
            <th>Status</th>
            <th>Amount Pledged</th>
            <th>Amount Paid</th>
            <th>Balance</th>

            <th>Action</th>
           </tr>
        </thead>

        {% for db in debts  %}
        <tbody>
          <tr>
              
              <td>{{ db.Date }}</td>
              <td>{{ db.Pledge_Made_By }}</td>
              <td>{{ db.Reason}}</td>
              <td>{{ db.updatestatus}}</td>
              <td>{{ db.Pledged_Amount }}</td>
              <td>{{ db.total_pledge_paid}}</td>
              <td>{{ db.Pledge_Balance}}</td>

              {% if db.total_pledge_paid >= db.Pledged_Amount  %}
              <td><button class="btn btn-info">Debt settled</button>
              {% else %}
              <td><a href="{% url 'settle-pledge-debt' db.Pledge_Id %}" target="_blank"><button class="btn btn-success">Settle Debt</button></a>|<a href="{% url 'delete-bad-debt' db.Pledge_Id %}" target="_blank"><button class="btn btn-danger">Bad Debt</button></a></td>
              {% endif%} 
          </tr>    
        </tbody>    
        {% endfor %}
    </table>
    
  </div>
</div>
{% endblock %}