

{% extends "app/base_site.html" %}
{% block content %}
{% load humanize%}
<div class="right_col" role="main">
    <div class="row">
    	<div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1 style="text-align: center;"><b><i class="fa fa fa-calendar-check-o"></i> CASHFLOAT MODULE</b></h1>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content quick-link">
                    <span style="color:red"><b>Make Other Entries:</b></span>
                    <a href="{% url  'enter_expenditure' %}"> Main</a>
                    |<a href="{% url 'enter-general-expenses' %}"> General</a>
                    |<a href="{% url 'enter_sundryexpense' %}"> Petty</a>
                    |<a href="{% url 'record-cashfloat' %}"> Float</a>
                    |<a href="{% url 'Enter_Offerings' %}"> Offerings</a>
                    |<a href="{% url 'Enter_Tithes' %}"> Tithes</a>
                    |<a href="{% url 'Enter_Pledges' %}"> Pledges</a>
                    |<a href="{% url 'give-allowance' %}"> Allowances</a>
                    |<a href="{% url 'employee-list' %}"> Salaries</a>
                    |<a href="{% url 'record-donations' %}"> Doantions</a>
                    |<a href="{% url 'add-seeds' %}"> TGiving</a>
                    |<a href="{% url 'record-thanks-giving' %}"> TGiving</a>
                    |<a href="{% url 'members-register' %}"> Membership</a>
                    <div class="separator"></div>
                </div>
		  	    <div class="x_content">
		            <div class="" data-example-id="togglable-tabs">
		                <ul class="nav nav-tabs bordered">
		                    <li role="presentation" ><a href="{% url 'cashfloat-list' %}"><i
		                                class="fa fa-list-ol"></i> CashFloat List</a>
		                    </li>
		                    <li role="presentation"class="active"><a href="{% url 'record-cashfloat' %}"><i
	                            class="fa fa-plus-square-o"></i> Give CashFloat</a>
		                    </li>
		                </ul>
		                <br/>
                         

                         {% if form %}
                         <h2 style="text-align: center">Give Out Cash Float</h2>
                         <div class="separator"></div>
						<div style="margin-left: 25%"class="col-lg-4 col-md-4 col-sm-4 justify-content-center">
						{% load crispy_forms_tags %}
							<form method="POST" enctype="multipart/form-data" >
								{% csrf_token %}
								{{ form.Date|as_crispy_field}}
								{{ form.Amount|as_crispy_field}}
								{{ form.Notes|as_crispy_field}}
							<button type="submit" class="btn btn-primary" name="button">Submit</button>
							</form>
						</div>
                        {% endif %}
                        {% if mesg %}
                          <h2>{{ mesg }} of Shs.<b> {{total_float|intcomma}} </b> for this week <b style="color: red">{{month}} {{current_year}}</b></h2>
                          {% for item in get_data%}
                          <h3>Do you want to <a href="{% url 'edit-cashfloat' item.id %}"><b style=" color: green"><u>Update cash float for this week?</u></b></a></h3>
                          {% endfor %}
                        {% endif %}
                        <div class="separator"></div>
                        <h3><b style="color: red;">NOTE:</b> Cash float is given after every 7 days</h3>
			        </div>
		        </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}