

{% extends "app/base_site.html" %}
{% block content %}
{% load humanize%}
<div class="right_col" role="main">
    <div class="row">
    	<div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1><b><i class="fa fa fa-calendar-check-o"></i> CASHFLOAT MODULE</b></h1>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content quick-link">
                    <span style="color:red"><b>Quick Links:</b></span>
                    <a href="{% url 'expenditurereport' %}">Expenses</a>
                    | <a href="{% url 'Offeringsreport' %}">Revenues</a>
                    | <a href="{% url 'list-of-pledge-items' %}">Pledges</a>
                    | <a href="{% url 'members-list' %}">Church Members</a>
                    | <a href="{% url 'Tithesreport' %}">Monthly Reports</a>
                    | <a href="{% url 'expensesarchivessearch' %}">Archived Data</a>
                    | <a href="{% url 'about_list' %}">Manage Website</a>
                 <div class="separator"></div>
                </div>
		  	    <div class="x_content">
		            <div class="" data-example-id="togglable-tabs">
		                <ul class="nav nav-tabs bordered">
		                    <li role="presentation" ><a href="{% url 'cashfloat-list' %}"><i
		                                class="fa fa-list-ol"></i> CashFloat List</a>
		                    </li>
		                    <li role="presentation"class="active"><a href="{% url 'record-cashfloat' %}"><i
	                            class="fa fa-plus-square-o"></i> Give CashFloat</a>
		                    </li>
		                </ul>
		                <br/>
                         

                         {% if form %}
                         <h2 style="text-align: center">Give Out Cash Float</h2>
						<div style="margin-left: 25%"class="col-lg-4 col-md-4 col-sm-4 justify-content-center">
						{% load crispy_forms_tags %}
							<form method="POST" enctype="multipart/form-data" >
								{% csrf_token %}
								{{ form.Date|as_crispy_field}}
								{{ form.Amount|as_crispy_field}}
								{{ form.Notes|as_crispy_field}}
                                <!-- <input type="hidden" id="offering" name="Revenue_filter" value="offering"> -->
							<button type="submit" class="btn btn-primary" name="button">Submit</button>
							</form>
						</div>
                        {% endif %}
                        {% if mesg %}
                          <h2>{{ mesg }} of Shs.<b> {{total_float|intcomma}} </b> for this week <b style="color: red">{{month}} {{current_year}}</b></h2>
                          {% for item in get_data%}
                          <h3>Do you just want to <a href="{% url 'edit-cashfloat' item.id %}"><b style=" color: green"><u>Up date the amount?</u></b></a></h3>
                          {% endfor %}
                        {% endif %}
			        </div>
		        </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}