{% extends "app/base_site.html" %}

{% load static i18n humanize %}
{% block title %} System {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <!-- FullCalendar -->
    <link href="/static/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">

    <link href="/static/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
{% endblock stylesheets %}
{% block content %}
    {% if request.user.is_authenticated %}
                <!-- top tiles -->
                {% if user.Role == 'Admin' or user.Role == 'Secretary' or user.Role == 'SuperAdmin'%}
                
                    
                    <!--Start of Annual summary tiles -->
                    {% block comment %}
                    <!--<div class="row">-->
                    <!--    <div class="col-lg-12 col-md-6 col-sm-6" style="margin-left:2%">-->
                    <!--        <div class="separator"></div>-->
                    <!--        <h2 style="text-align:center; color:red;"><b> Summary Month of {{month}} {{ current_year }}</b></h2>-->
                            
                    <!--        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-6 tile_stats_count">-->
                    <!--            <div class="tile-stats">-->
                    <!--                <h4><b style="font-size: 17px">Current Month Revenue</b></h4>-->
                    <!--                <div class="count blue">{{total_monthly_revenues|intcomma}}</div>-->
                    <!--            </div>-->
                    <!--        </div>-->

                    <!--        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-6 tile_stats_count">-->
                    <!--            <div class="tile-stats">-->
                    <!--                <h4> <b style="font-size: 17px">Current Month Expenditure</b></h4>-->
                    <!--                <div class="count blue">{{total_monthly_expenses|intcomma}}</div>-->
                    <!--            </div>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    
                        <!--Start of monthly summary tiles -->
                    <!--    <div class="separator"></div>-->
                    <!--    <div class="row " style="margin-left:2%">-->
                    <!--        <h2 style="text-align:center; color:red;"><b>Summary of the {% if week == 1 %} first {% elif week == 2 %} Second {% elif week == 3 %} Third {% elif week == 4 %} fourth {% elif week == 5 %} last {% endif %} week of {{ month }} {{ current_year }}</b></h2>-->
                                <!--Start of weekly summary tiles -->
                    <!--        <div class="row" style="margin-left:1%;">  -->
                    <!--            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 tile_stats_count">-->
                    <!--                <div class="tile-stats">-->
                    <!--                    <h4> <b style="font-size:15px">Total Week Revenue</b></h4>-->
                    <!--                    <div class="count blue">{{current_week_total_revenues|intcomma}}</div>-->
                    <!--                </div>-->
                    <!--            </div>-->
    
                    <!--            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 tile_stats_count">-->
                    <!--                <div class="tile-stats">-->
                    <!--                    <h4> <b style="font-size:15px">Total Week Expenditure</b></h4>-->
                    <!--                    <div class="count blue">{{current_week_total_expenses|intcomma}}</div>-->
                    <!--                </div>-->
                    <!--            </div>-->
                                    
                    <!--            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 tile_stats_count">-->
                    <!--                <div class="tile-stats">-->
                    <!--                    <h4> <b style="font-size:15px">Balance</b></h4>-->
                    <!--                    <div class="count blue">{{current_monthly_balance|intcomma}}</div>-->
                    <!--                </div>-->
                    <!--            </div>-->
                                
                    <!--        </div> -->
                            
                    <!--</div>-->
                        
                    <!--    <div class="separator"></div>-->
                    <!--    <div class="row">-->
                    <!--        <div class="col-lg-12 col-md-6 col-sm-6" style="margin-left:4%">-->
                    <!--            <p>Week One of Jan Error ==> <i style="color:red"> Shs. 7,900</i>-->
                    <!--            </p>-->
                            
                    <!--            <p>Week Two of Jan Error ==> <i style="color:red"> Shs. 21,300</i>-->
                    <!--            </p>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                    {% endblock comment %}
                
                {%endif%}
                {% if user.Role == 'Secretary' or user.Role == None %}
                <ul class="nav nav-tabs bordered">
                    <li role="presentation"><a href="{% url 'profile' %}"><i class="fa fa-eye"></i> View Profile</a>
                    </li>
                    <li role="presentation"><a href="{% url 'edit-profile' %}"><i class="fa fa-pencil-square-o"></i> Update Profile</a>
                    </li>
                </ul>
                {%endif%} 
                {% for year in years %}
                <h2><a  style="display: block;" href="{% url 'yearly_comparison' year=year %}">{{year}} Report</a> </h2>
                {% endfor %}
                
                <!-- /top tiles -->
                <script>
                    document.getElementById('update')
                        .addEventListener('click', function () {
                            toastr.info('Button Clicked');

                        })
                </script>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        Highcharts.chart('contain', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text:'UCC Bwaise this week expenditure'
                            },
                            xAxis: {
                                categories: [
                                 
                                '<strong style="color: red; font-weight:bolder">Main Expenses</strong>',
                                '<strong style="color: red; font-weight:bolder">Petty Expenses</strong>',
                                '<strong style="color: red; font-weight:bolder">Allowances</strong>',
                                ]
                            },

                            yAxis: {
                                title: {
                                    text: ' Money Spent'
                                }
                            },
                            tooltip: {
                                pointFormat: '<span style="color:{series.color}">Shs.</span><b>{point.y}</b>',
                                shared: true
                            },
                            series: [ {
                                    name:'Bar Chart showing Expenses made in this week',
                                    data: [{{expenses}},{{petty}},{{allowances}}
                                    ]
                                }
                                ,

                            ],

                            credits: {
                                enabled: false
                            }});});
                </script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        Highcharts.chart('container', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text:'UCC Bwaise Church Weekly Accountability'
                            },
                            xAxis: {
                                categories: [
                                '<strong>Tithes</strong>', 
                                '<strong>Offerings</strong>',
                                '<strong>Seeds</strong>', 
                                '<strong>Other Sources</strong>',
                                '<strong>Envagelism</strong>',
                                '<strong>Thanks Giving</strong>',
                                '<strong>Love Offering</strong>',
                                '<strong style="color: red; font-weight:bolder">Tithe of Tithes</strong>',
                                '<strong style="color: red; font-weight:bolder">Help Expenses</strong>',
                                '<strong style="color: red; font-weight:bolder">Allowances</strong>',
                                '<strong style="color: red; font-weight:bolder">Other Expenses</strong>',
                                
                                '<strong style="color: red; font-weight:bolder">Savings</strong>',
                                '<strong style="color: red; font-weight:bolder">Petty Expenses</strong>',
                                '<strong style="color: red; font-weight:bolder">Salaries</strong>',
                                ]
                            },

                            yAxis: {
                                title: {
                                    text: 'Amount in Shillings'
                                }
                            },
                            tooltip: {
                                pointFormat: '<span style="color:{series.color}">Shs.</span><b>{point.y}</b>',
                                shared: true
                            },
                            series: [ {
                                    name:'REVENUES AND EXPENSES',
                                    data: [{{total_tithes}},{{total_offerings}},{{total_seeds}},{{total_other_sources}},{{total_eva}},
                                    {{total_thanks}},{{total_love_offer}},

                                    {{total_tot}},{{total_help}},{{total_allowances}},{{total_others}},{{total_savings}},
                                    {{total_petty}},{{total_salaries}},
                                    ]
                                }
                                ,

                            ],

                            credits: {
                                enabled: false
                            }
                        })
                        ;
                    });

                    document.addEventListener('DOMContentLoaded', function () {
                        var myChart = Highcharts.chart('messages', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Weekly Sources of Church Money'
                            },
                            xAxis: {
                                type: 'category'
                            },
                            yAxis: {
                                title: {
                                    text: 'Amount in Shillings'
                                }
                            },
                            legend: {
                                enabled: false
                            },
                            plotOptions: {
                                series: {
                                    borderWidth: 0,
                                    dataLabels: {
                                        enabled: true,
                                        format: 'Shs.{point.y:.1f}'
                                    }
                                }
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.1f} / {{total_monthly_incomes}}</b><br/>'
                            },
                           
                            series: [{
                                name: 'Revenue',
                                colorByPoint: true,
                                data: [{
                                    name: 'Offerings',
                                    y: {{total_offerings}},
                                    drilldown: null
                                }, 
                                {
                                    name: 'Tithes',
                                    y: {{total_tithes}},
                                    drilldown: null
                                }, 
                                {
                                    name: 'Thanks Giving',
                                    y: {{total_thanks}},
                                    drilldown: null
                                },

                                {
                                    name: 'Other Sources',
                                    y: {{total_other_sources}},
                                    drilldown: null
                                },
                                
                                {
                                    name: 'Love Offerings',
                                    y: {{total_love_offer}},
                                    drilldown: null
                                }]
                            }],
                            credits: {
                                enabled: false
                            }
                        });
                    });


                    document.addEventListener('DOMContentLoaded', function () {
                        var myChart = Highcharts.chart('users', {
                            chart: {
                                type: 'pie',
                                options3d: {
                                    enabled: true,
                                    alpha: 45
                                }
                            },
                            title: {
                                text: 'Main things we have spent on this week.'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    innerSize: 100,
                                    depth: 30,
                                    dataLabels: {
                                        format: '<b>{point.name}</b>'
                                    }
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: 'Total',
                                data: [                                             
                                    ['Tithe Of Tithes', {{total_tot}}],
                                    ['Allowances', {{total_allowances}}],
                                    ['Salaries', {{total_salaries}}],
                                    ['Petty Expenses', {{total_petty}}],
                                    ['Helping', {{total_help}}],
                                    ['Other Things', {{total_others}}],
                                ]
                            }]
                        });
                    });

                </script>
                <div class="row">
                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile overflow_hidden">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h3 class="head-title">Church Weekly Financial Statistics as of {{day}}</h3>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="container" style=" width: 99%; vertical-align: top; height:250px;"></div>
                                </div>
                            </div>

                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                                                        <h3 class="head-title">Church Expenses</h3>
                                                                        <ul class="nav navbar-right panel_toolbox">
                                                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <div id="users" style=" width: 100%; vertical-align: top; height:260px; "></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="x_panel tile">
                                <div class="x_title">
                                    <h3 class="head-title">Church Revenues</h3>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="messages" style=" width: 99%; vertical-align: top;height: 260px;">
                                        
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

{% endblock content %}


