{% extends "app/base_site.html" %}

{% load static i18n %}

{% block title %} Home {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <!-- FullCalendar -->
    <link href="/static/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">

    <link href="/static/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
{% endblock stylesheets %}
{% block content %}
    <div class="right_col" role="main">
        <!-- top tiles -->
        <div class="row ">
            <div class="row top_tiles">
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                    <div class="tile-stats">
                        <p class="fa fa-group">&nbsp; <big style="font-size: 120%">Total Revenue</big></p>
                        <div class="count " >Shs.{{ total_monthly_incomes }}</div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                    <div class="tile-stats">
                        <p class="fa fa-paw">&nbsp; <big style="font-size: 120%">Total Expenditure</big></p>
                        <div class="count" >Shs.{{ total_monthly_expenditure }}</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                    <div class="tile-stats">
                        <p class="fa fa-dollar">&nbsp; <big style="font-size: 120%">Net Income</big></p>
                        <div class="count green">Shs.{{ net_income}}</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                    <div class="tile-stats">
                        <p class="fa fa-user-md">&nbsp; <big style="font-size: 120%">Total Pledges Paid</big></p>
                        <p class="count red" >Shs.{{ pledges }}</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- /top tiles -->

        <script>
            document.getElementById('update')
                .addEventListener('click', function () {
                    toastr.info('Button Clicked');

                })
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text:'UCC Bwaise month of {{month}} Accountability'
                    },
                    xAxis: {
                        categories: ['<strong>Offerings</strong>', '<strong>Tithes</strong>', '<strong>Pledges</strong>', '<strong>Allowances</strong>', '<strong>Salaries</strong>']
                    },

                    yAxis: {
                        title: {
                            text: ' Church Balance Sheet'
                        }
                    },
                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                        shared: true
                    },


                    series: [
                        {
                            
                            data: [{{offerings}},{{tithes}},{{pledges}},{{allowances}},{{salaries}}
                            ]
                        }
                        ,

                    ],

                    credits: {
                        enabled: false
                    }
                })
                ;
            });


            document.addEventListener('DOMContentLoaded', function () {
                var myChart = Highcharts.chart('messages', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Our sources of Money'
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        title: {
                            text: 'Level of Revenue'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                format: '{point.y:.1f}%'
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                    },
                    series: [{
                        name: 'Modules',
                        colorByPoint: true,
                        data: [{
                            name: 'Offerings',
                            y: 7,
                            drilldown: null
                        }, {
                            name: 'Tithes',
                            y: 5,
                            drilldown: null
                        }, {
                            name: 'Pledges',
                            y: 6,
                            drilldown: null
                        }, {
                            name: 'Donations',
                            y: 3,
                            drilldown: null
                        }, {
                            name: 'Seeds',
                            y: 4,
                            drilldown: null
                        }]
                    }],
                    credits: {
                        enabled: false
                    }
                });
            });


            document.addEventListener('DOMContentLoaded', function () {
                var myChart = Highcharts.chart('users', {
                    chart: {
                        type: 'pie',
                        options3d: {
                            enabled: true,
                            alpha: 45
                        }
                    },
                    title: {
                        text: 'Things we spend'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
                    },
                    subtitle: {
                        text: 'expenditure'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            innerSize: 100,
                            depth: 30,
                            dataLabels: {
                                format: '<b>{point.name}</b>'
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Data',
                        data: [
                            ['Tithe of Tithes', {{tithes}}],
                            ['Salaries', {{salaries}}],
                            ['Building', {{pledges}}],
                            ['Allowances', {{allowances}}],
                            ['Water Bills', {{total_monthly_expenditure}}],
                            ['Needy', {{total_monthly_incomes}}],
                        ]
                    }]
                });
            });

        </script>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel tile overflow_hidden">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 class="head-title">Church Statistics</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div id="container" style=" width: 99%; vertical-align: top; height:250px;"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="">
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Calendar Events</h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div id='calendar'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- calendar modal -->
                    <div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">New Calendar Entry</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="testmodal" style="padding: 5px 20px;">
                                        <form id="antoform" class="form-horizontal calender" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Title</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="title" name="title">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Description</label>
                                                <div class="col-sm-9">
                                                    <textarea class="form-control" style="height:55px;" id="descr"
                                                              name="descr"></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close
                                    </button>
                                    <button type="button" class="btn btn-primary antosubmit">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel2">Edit Calendar Entry</h4>
                                </div>
                                <div class="modal-body">

                                    <div id="testmodal2" style="padding: 5px 20px;">
                                        <form id="antoform2" class="form-horizontal calender" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Title</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="title2" name="title2">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Description</label>
                                                <div class="col-sm-9">
                                                    <textarea class="form-control" style="height:55px;" id="descr2"
                                                              name="descr"></textarea>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-primary antosubmit2">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
                    <div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>
                    <!-- /calendar modal -->
                </div>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile fixed_height_320">
                            <div class="x_title">
                                <h2 class="head-title">Revenue</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="messages" style=" width: 99%; vertical-align: top;height: 260px;"></div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 class="head-title">Expenditures</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="users" style=" width: 100%; vertical-align: top; height:260px; "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block javascripts %}
    {{ block.super }}
   
    <!-- FullCalendar -->
    <script src="/static/vendors/moment/min/moment.min.js"></script>
    <script src="/static/vendors/fullcalendar/dist/fullcalendar.min.js"></script>

{% endblock javascripts %}


