{% extends "base.html" %}

{% block body %}
<div class="container">
    <br><br>
    <div class="float-lg-right">
    <a href="{% url 'Pledgesreport' %}"><button class="btn btn-danger">List of All Pledges</button></a>
    </div>
    <h4>History of Pledge Payment</h4>
    <p>{{ message }}</p>

     <table class="table table-hover" border="2">
        <thead class="table-success">
        <tr> 
            <th>ID</th>
            <th>Date</th>
            <th>Name</th>
            <th>Amount</th>
        </tr>
        </thead>

     <tbody>
    {% for list in lists %}
     <tr>
        <td>{{ list.Pledge_Id}}</td>
         <td>{{ list.Date}}</td>
         <td>{{ list.Pledge_Made_By }}</td>
         <td>{{ list.Amount_Paid}}</td>
    {% endfor%} 
    </tr>
    </tbody>
    </table>          
  </div>
{% endblock %}