{% extends "base.html" %}

{% block body %}
<div class="container">

      <h2>Month of {{month}} Balance Sheet</h2>
<hr>
 <div class="row">
  <div class="col-lg-4">
    <button class="btn btn-success">Revenues</button><br><br>
     <ol class="group-items">
       <li class="list-items"> Offerings:  {{offerings}}</li>
       <li class="list-items"> Tithes:  {{tithes}}</li>
       <li class="list-items"> Pledges:  {{pledges}}</li>
     </ol>
     <b> Total Revenue:  Shs.{{total_monthly_incomes}}</b>
    
  </div>
   <div class="col-lg-4">
    <button class="btn btn-success">Expenditures</button><br><br>
     <ol class="group-items">
       <li class="list-items"> Expenses:  {{expenses}}</li>
       <li class="list-items"> Allowances:  {{allowances}}</li>
     </ol>
     <b>Total Expenditure:  Shs.{{total_monthly_expenditure}}</b>
  </div>
   <div class="col-lg-4">
    <button class="btn btn-success">Net Income</button><br><br>
    <p> Total Revenue <b>-</b> Total Expenditure</p>
     <h5>Shs.{{net_income}}</h5>
  </div>
 </div>   
 

   
</div>                                      

{% endblock %}