{% extends "app/base_site.html" %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h1><i class="fa fa fa-calendar-check-o"></i>ALLOWANCES MODULE</h1>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content quick-link">
                    <span style="color:red"><b>Other Archived Reports:</b></span>
                    <a href="{% url  'expensesarchivessearch' %}"> Main Expenses</a>
                    |<a href="{% url 'general-expensesarchives-search' %}"> General Expenses</a>
                    |<a href="{% url 'offeringsarchivessearch' %}"> Offerings</a>
                    |<a href="{% url 'tithesarchivessearch' %}"> Tithes</a>
                    |<a href="{% url 'pledgesarchivessearch' %}"> Pledges</a>
                    |<a href="{% url 'sundryarchivessearch' %}"> Petty Expenses</a>
                    |<a href="{% url 'allowancearchivessearch' %}"> Allowances</a>
                    |<a href="{% url 'salariespaidarchivessearch' %}"> Salaries</a>
                    |<a href="{% url 'seeds-archives-search' %}"> Doantions</a>
                    |<a href="{% url 'thanksgivingarchivessearch' %}"> ThanksGiving</a>
                    |<a href="{% url 'BuildingRenovationarchivessearch' %}"> Building</a>
                    <div class="separator"></div>
                </div>
                
            <div class="x_content">
                <div class="" data-example-id="togglable-tabs">
                    <ul class="nav nav-tabs bordered">
                        <li role="presentation"><a href="{% url 'allowancereport' %}"><i
                            class="fa fa-list-ol"></i> Allowances Given List</a>
                        </li>
                        <li role="presentation"><a href="{% url 'give-allowance' %}"><i
                      class="fa fa-plus-square-o"></i> Record Allowance</a>
                        </li>
                         <li role="presentation"><a href="{% url 'allowancearchivessearch' %}"><i
                      class="fa fa-plus-square-o"></i> Archived Allowance</a>
                        </li>
                         <li role="presentation" class="active"><a href="#"><i
                      class="fa fa-plus-square-o"></i> Edit Allowance</a>
                        </li>
                    </ul>
                    <h3 style="text-align: center">Edit Allowance given out  </h3>
                    <div class="separator"></div>
					<div class="col-lg-6 col-offset-8 centered">
					    <div class="col-md-10">
					      {% load crispy_forms_tags %}
						      <form method="post" enctype="multipart/form-data">
						        {% csrf_token %}
                                {{ form.Date|as_crispy_field}}
                                {{ form.Member_Name|as_crispy_field}}
                                {{ form.Amount|as_crispy_field}}
                                {{ form.Notes|as_crispy_field}}
                                <input type="hidden" id="allowance" name="Reason_filtering" value="allowance">
						        <button type="submit" class="btn btn-primary" name="button">Update</button>
						      </form>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}